#***********************************************************************
#
# Name:   so_metadata_check.config
#
# $Revision: 7059 $
# $URL: svn://10.36.21.45/trunk/Web_Checks/Metadata_Check/Tools/so_metadata_check.config $
# $Date: 2015-04-02 11:24:15 -0400 (Thu, 02 Apr 2015) $
#
# Description:
#   This file contains the configuration parameters for the windows
# metadata check program. The parameters appear as name/value pairs 
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# PWGSC Metadata profile for Standard on Web Usability
#
#***********************************************************************
#
Metadata_Profile_eng PWGSC SWU
Metadata_Profile_fra TPSGC NFE

required_tag dcterms.description
required_tag dcterms.creator
required_tag dcterms.issued
required_tag dcterms.language
required_tag dcterms.modified
required_tag dcterms.subject
required_tag dcterms.title
required_tag description
required_tag html
required_tag keywords
required_tag title

content_required dcterms.creator
content_required dcterms.issued
content_required dcterms.language
content_required dcterms.modified
content_required dcterms.subject
content_required dcterms.title
content_required description
content_required html
content_required keywords
content_required title

content_type dcterms.issued         YYYY-MM-DD
content_type dcterms.modified       YYYY-MM-DD
content_type dcterms.subject        THESAURUS

scheme dcterms.language      ISO639-2
scheme dcterms.subject       gccore
scheme dcterms.issued        W3CDTF
scheme dcterms.modified      W3CDTF

compressed_thesaurus_file eng gccore conf/compressed_goc_core_subject_thesaurus_eng.txt
compressed_thesaurus_file fra gccore conf/compressed_goc_core_subject_thesaurus_fra.txt
compressed_thesaurus_file eng scheme conf/compressed_goc_core_subject_thesaurus_eng.txt
compressed_thesaurus_file fra scheme conf/compressed_goc_core_subject_thesaurus_fra.txt

help_url_eng http://intranet.tpsgc-pwgsc.gc.ca/web/w1/meta-eng.html
help_url_fra http://intranet.tpsgc-pwgsc.gc.ca/web/w1/meta-fra.html

invalid_content dcterms.description Insert the English description | Insérer la description en anglais
invalid_content dcterms.description Insérer la description en anglais | Insert the English description
invalid_content dcterms.description English description / Description en anglais
invalid_content dcterms.description French description / Description en français

invalid_content description Insert the English description | Insérer la description en anglais
invalid_content description Insérer la description en anglais | Insert the English description
invalid_content description English description / Description en anglais
invalid_content description French description / Description en français

invalid_content keywords Insert the English keywords | Insérer les mots-clés en anglais
invalid_content keywords Insérer les mots-clés en anglais | Insert the English keywords
invalid_content keywords English keywords / Mots-clés en anglais
invalid_content keywords Mots-clés en anglais / English keywords

invalid_content dcterms.creator Insert the English name of the entity responsible for making the content | Insérer le nom en anglais de l'entité principalement responsable de la création du contenu
invalid_content dcterms.creator Insérer le nom en anglais de l'entité principalement responsable de la création du contenu | Insert the English name of the entity responsible for making the content
invalid_content dcterms.creator English name of the content author / Nom en anglais de l'auteur du contenu
invalid_content dcterms.creator French name of the content author / Nom en français de l'auteur du contenu

invalid_content dcterms.title Insert the English title | Insérer le titre en anglais
invalid_content dcterms.title Insérer le titre en anglais | Insert the English title
invalid_content dcterms.title English title / Titre en anglais
invalid_content dcterms.title French title / Titre en français

invalid_content dcterms.subject Insert the English subject terms | Insérer les termes de sujet en anglais
invalid_content dcterms.subject Insérer les termes de sujet en anglais | Insert the English subject terms
invalid_content dcterms.subject English subject terms / Termes de sujet en anglais
invalid_content dcterms.subject French subject terms / Termes de sujet en français

#
#***********************************************************************
#
# TBS Metadata profile for Standard on Web Usability
#
#***********************************************************************
#
Metadata_Profile_eng TBS SWU
Metadata_Profile_fra TBS NFE

required_tag dcterms.creator
required_tag dcterms.issued
required_tag dcterms.language
required_tag dcterms.modified
required_tag dcterms.subject
required_tag dcterms.title
required_tag description
required_tag html
required_tag title

content_required dcterms.creator
content_required dcterms.issued
content_required dcterms.language
content_required dcterms.modified
content_required dcterms.subject
content_required dcterms.title
content_required description
content_required html
content_required title

content_type dcterms.issued         YYYY-MM-DD
content_type dcterms.modified       YYYY-MM-DD

scheme dcterms.language      ISO639-2
scheme dcterms.issued        W3CDTF
scheme dcterms.modified      W3CDTF

help_url_eng http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=18909&section=text#appB
help_url_fra http://www.tbs-sct.gc.ca/pol/doc-fra.aspx?id=18909&section=text#appB

invalid_content description Insert the English description | Insérer la description en anglais
invalid_content description Insérer la description en anglais | Insert the English description
invalid_content description English description / Description en anglais
invalid_content description French description / Description en français

invalid_content keywords Insert the English keywords | Insérer les mots-clés en anglais
invalid_content keywords Insérer les mots-clés en anglais | Insert the English keywords
invalid_content keywords English keywords / Mots-clés en anglais
invalid_content keywords Mots-clés en anglais / English keywords

invalid_content dcterms.creator Insert the English name of the entity responsible for making the content | Insérer le nom en anglais de l'entité principalement responsable de la création du contenu
invalid_content dcterms.creator Insérer le nom en anglais de l'entité principalement responsable de la création du contenu | Insert the English name of the entity responsible for making the content
invalid_content dcterms.creator English name of the content author / Nom en anglais de l'auteur du contenu
invalid_content dcterms.creator French name of the content author / Nom en français de l'auteur du contenu

invalid_content dcterms.title Insert the English title | Insérer le titre en anglais
invalid_content dcterms.title Insérer le titre en anglais | Insert the English title
invalid_content dcterms.title English title / Titre en anglais
invalid_content dcterms.title French title / Titre en français

invalid_content dcterms.subject Insert the English subject terms | Insérer les termes de sujet en anglais
invalid_content dcterms.subject Insérer les termes de sujet en anglais | Insert the English subject terms
invalid_content dcterms.subject English subject terms / Termes de sujet en anglais
invalid_content dcterms.subject French subject terms / Termes de sujet en français

#
#***********************************************************************
#
# Canada.ca Metadata profile
#
#***********************************************************************
#
Metadata_Profile_eng Canada.ca
Metadata_Profile_fra Canada.ca

required_tag description
required_tag html
required_tag title

content_required description
content_required html
content_required title

help_url_eng http://intranet.tpsgc-pwgsc.gc.ca/web/w1/meta-eng.html
help_url_fra http://intranet.tpsgc-pwgsc.gc.ca/web/w1/meta-fra.html

invalid_content description English description / Description en anglais
invalid_content description French description / Description en français

#
#***********************************************************************
#
# PWGSC Metadata profile
#
#***********************************************************************
#
Metadata_Profile_eng PWGSC CLF 2.0
Metadata_Profile_fra TPSGC NSI 2.0

required_tag dc.creator
required_tag dc.language
required_tag dc.publisher
required_tag dc.subject
required_tag dcterms.issued
required_tag dcterms.modified
required_tag dc.title
required_tag description
required_tag html
required_tag keywords
required_tag pwgsc.contact.email
required_tag title

content_required dc.creator
content_required dc.language
content_required dc.publisher
content_required dc.subject
content_required dcterms.issued
content_required dcterms.modified
content_required dc.title
content_required description
content_required html
content_required keywords
content_required pwgsc.contact.email
content_required title
content_required pwgsc.date.archived

content_type dcterms.issued         YYYY-MM-DD
content_type dcterms.modified       YYYY-MM-DD
content_type pwgsc.date.archived    YYYY-MM-DD
content_type pwgsc.contact.email    EMAIL_ADDRESS
content_type dc.subject             THESAURUS

scheme dc.language      ISO639-2/T
scheme dc.subject       gccore
scheme dcterms.issued   W3CDTF
scheme dcterms.modified W3CDTF

help_url_eng http://intranet.tpsgc-pwgsc.gc.ca/web/w1/meta-eng.html
help_url_fra http://intranet.tpsgc-pwgsc.gc.ca/web/w1/meta-fra.html

compressed_thesaurus_file eng gccore conf/compressed_goc_core_subject_thesaurus_eng.txt
compressed_thesaurus_file fra gccore conf/compressed_goc_core_subject_thesaurus_fra.txt

invalid_content dc.description Insert the English description | Insérer la description en anglais
invalid_content dc.description Insérer la description en anglais | Insert the English description
invalid_content description Insert the English description | Insérer la description en anglais
invalid_content description Insérer la description en anglais | Insert the English description
invalid_content keywords Insert the English keywords | Insérer les mots-clés en anglais
invalid_content keywords Insérer les mots-clés en anglais | Insert the English keywords
invalid_content dc.creator Insert the English name of the entity responsible for making the content | Insérer le nom en anglais de l'entité principalement responsable de la création du contenu
invalid_content dc.creator Insérer le nom en anglais de l'entité principalement responsable de la création du contenu | Insert the English name of the entity responsible for making the content
invalid_content dc.title Insert the English title | Insérer le titre en anglais
invalid_content dc.title Insérer le titre en anglais | Insert the English title
invalid_content dc.subject Insert the English subject terms | Insérer les termes de sujet en anglais
invalid_content dc.subject Insérer les termes de sujet en anglais | Insert the English subject terms

#
#***********************************************************************
#
# TBS CLF 2.0 Metadata profile
#
#***********************************************************************
#
Metadata_Profile_eng TBS CLF 2.0
Metadata_Profile_fra SCT NSI 2.0

required_tag dc.creator
required_tag dc.language
required_tag dc.subject
required_tag dcterms.issued
required_tag dcterms.modified
required_tag dc.title
required_tag description
required_tag html
required_tag keywords
required_tag title

content_required dc.creator
content_required dc.language
content_required dc.subject
content_required dcterms.issued
content_required dcterms.modified
content_required dc.title
content_required description
content_required html
content_required keywords
content_required title

content_type dcterms.issued      YYYY-MM-DD
content_type dcterms.modified    YYYY-MM-DD

#
#***********************************************************************
#
# Empty Metadata Profile
#
#***********************************************************************
#
Metadata_Profile_eng None
Metadata_Profile_fra Aucun

