#***********************************************************************
#
# Name:   interop_testcase_url.config
#
# $Revision: 5945 $
# $URL: svn://10.36.20.226/trunk/Web_Checks/Interop_Check/Tools/interop_testcase_url.config $
# $Date: 2012-08-02 14:20:20 -0400 (Thu, 02 Aug 2012) $
#
# Description:
#
#   This file contains a URL for each testcase.  The URL is
# the help or description page for the testcase.
#
# Format is
#  <testcase> <lang> <url>
#
#***********************************************************************

SWI_B   eng http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?section=text&id=25875#appB
SWI_B   fra http://www.tbs-sct.gc.ca/pol/doc-fra.aspx?section=text&id=25875#appB
SWI_C   eng http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?section=text&id=25875#appC
SWI_C   fra http://www.tbs-sct.gc.ca/pol/doc-fra.aspx?section=text&id=25875#appC
SWI_D   eng http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?section=text&id=25875#appD
SWI_D   fra http://www.tbs-sct.gc.ca/pol/doc-fra.aspx?section=text&id=25875#appD

