#***********************************************************************
#
# Name:   so_interop_check.config
#
# $Revision: 6187 $
# $URL: svn://10.36.20.226/trunk/Web_Checks/Interop_Check/Tools/so_interop_check.config $
# $Date: 2013-02-20 14:11:42 -0500 (Wed, 20 Feb 2013) $
#
# Description:
#   This file contains the configuration parameters for the
# Interop check package. The parameters appear as name/value pairs
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# Testcase/help URL file name
#
#***********************************************************************
#
Testcase_URL_Help_File conf/interop_testcase_url.config

#
#***********************************************************************
#
# Test testcase profile
#
#***********************************************************************
#
#Interop_Check_Profile_eng Test
#Interop_Check_Profile_fra Test

#
# Testcase id
#
#tcid TBS_P2_R2

#
#***********************************************************************
#
# Standard on Web Interoperability
#    http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?section=text&id=25875
#
#***********************************************************************
#
Interop_Check_Profile_eng SWI
Interop_Check_Profile_fra NWI

#
# Testcase id
#
tcid SWI_B
tcid SWI_C
tcid SWI_D

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#

#testcase_data SWI_D IGNORE_REL_DOMAIN achatsetventes.gc.ca
#testcase_data SWI_D IGNORE_REL_DOMAIN buyandsell.gc.ca

#testcase_data SWI_D IGNORE_REL_DOMAIN canadagazette.gc.ca
#testcase_data SWI_D IGNORE_REL_DOMAIN gazetteducanada.gc.ca

testcase_data SWI_D IGNORE_REL_DOMAIN cdbc-cadc.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN collineduparlement-parliamenthill.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN crownassets.pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN csi.contratscanada-contractscanada.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN cse-egd.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN id-reo.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN ifms-sifm.apps.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN logiciels-software.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN ont-sat-ths.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN ordinateur-computer.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN computer.pwgsc.gc.ca

testcase_data SWI_D IGNORE_REL_DOMAIN pad.contractscanada.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN raa.contratscanada.gc.ca

testcase_data SWI_D IGNORE_REL_DOMAIN pensionetavantages-pensionandbenefits.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN peri-pilt.tpsgc-pwgsc.gc.ca
#testcase_data SWI_D IGNORE_REL_DOMAIN publications.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN rehelv-acrd.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN saa-acs.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN sat-ths.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN secure.spmd-dgbs.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN sedsi-oliss.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN select.pwgsc-tpsgc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN spenligne-psonline.tpsgc-pwgsc.gc.ca

testcase_data SWI_D IGNORE_REL_DOMAIN srisupplier.contractscanada.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN diffournisseur.contratscanada.gc.ca

testcase_data SWI_D IGNORE_REL_DOMAIN ssi-iss.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN sspc-fournisseur-cpss-supplier.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN www-app.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN btb.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN btb.termiumplus.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN www.termiumplus.gc.ca
#testcase_data SWI_D IGNORE_REL_DOMAIN noslangues-ourlanguages.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN ric-cin.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN sgrhgc-gchrms.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN tpsgc-pwgsc.gc.ca

#
# GC Intranet
#
testcase_data SWI_D IGNORE_REL_DOMAIN publiservice.tpsgc-pwgsc.gc.ca
testcase_data SWI_D IGNORE_REL_DOMAIN soi.pwgsc.gc.ca

#
# PWGSC Intranet
#
testcase_data SWI_D IGNORE_REL_DOMAIN source.tpsgc-pwgsc.gc.ca



#
#***********************************************************************
#
# Empty Interoperability testcase Profile
#
#***********************************************************************
#
Interop_Check_Profile_eng None
Interop_Check_Profile_fra Aucun

