#***********************************************************************
#
# Name:   so_html_features.config
#
# $Revision: 6034 $
# $URL: svn://10.36.20.226/trunk/Web_Checks/TQA_Check/Tools/so_html_features.config $
# $Date: 2012-10-15 13:30:07 -0400 (Mon, 15 Oct 2012) $
#
# Description:
#   This file contains the configuration parameters for the HTML
# features module. The parameters appear as name/value pairs 
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# HTML Features profile for all features
#
#***********************************************************************
#
HTML_Features_Profile_eng All
HTML_Features_Profile_fra Tous

#
# feature id or HTML tag
#
html_feature applet
html_feature embed
html_feature form
html_feature frame
html_feature ismap
html_feature object
html_feature onblur
html_feature onchange
html_feature onclick
html_feature ondbclick
html_feature onfocus
html_feature onkeydown
html_feature onkeypress
html_feature onkeyup
html_feature onload
html_feature onmousedown
html_feature onmousemove
html_feature onmouseout
html_feature onmouseover
html_feature onmouseup
html_feature onreset
html_feature onselect
html_feature onsubmit
html_feature onunload
html_feature pre
#html_feature style
html_feature table
html_feature tabindex
html_feature usemap
html_feature pdf_form
html_feature pdf_table

#
# Class references on tags
#
html_feature class="mediaplayer"

#
# References to Multimdia and Non-HTML documents.
#
html_feature flash
html_feature multimedia
html_feature non-html

#
# Open new windows using the target="_blank" attribute
#
html_feature New window

#
# Archived on the web
#
html_feature archive

#
# Alternate formats, exempt from accessibility checking
#
html_feature alternate/autre format

#
# Metadata content settings.
#    metadata <tag> <type> <operator> <value>
#
# Document published after certain date.
#
metadata dcterms.issued DATE > 2011-09-30

#
#***********************************************************************
#
# Empty HTML Features profile
#
#***********************************************************************
#
HTML_Features_Profile_eng None
HTML_Features_Profile_fra Aucun

