#***********************************************************************
#
# Name:   so_tqa_check.config
#
# $Revision: 1727 $
# $URL: svn://10.36.148.185/WPSS_Tool/TQA_Check/Tools/so_tqa_check.config $
# $Date: 2020-03-03 14:49:01 -0500 (Tue, 03 Mar 2020) $
#
# Description:
#   This file contains the configuration parameters for the standalone
# TQA check program. The parameters appear as name/value pairs 
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# Testcase/help URL file name
#
#***********************************************************************
#
Testcase_URL_Help_File conf/tqa_testcase_url.config

#
#***********************************************************************
#
# Test testcase profile
#
#***********************************************************************
#
#TQA_Check_Profile_eng Test
#TQA_Check_Profile_fra Test
#
#tcid WCAG_2.0-F43

#
#***********************************************************************
#
# WCAG 2.0 profile
#
#***********************************************************************
#
TQA_Check_Profile_eng WCAG 2.0
TQA_Check_Profile_fra WCAG 2.0

TQA_Check_Profile_Type WCAG_2.0

#
# Testcase id
#
tcid WCAG_2.0-ARIA1
tcid WCAG_2.0-ARIA2
tcid WCAG_2.0-ARIA6
tcid WCAG_2.0-ARIA7
tcid WCAG_2.0-ARIA8
tcid WCAG_2.0-ARIA9
tcid WCAG_2.0-ARIA10
tcid WCAG_2.0-ARIA12
tcid WCAG_2.0-ARIA13
tcid WCAG_2.0-ARIA15
tcid WCAG_2.0-ARIA16
tcid WCAG_2.0-ARIA17
tcid WCAG_2.0-ARIA18
#tcid WCAG_2.0-C9  Failures reported under WCAG_2.0-F3
#tcid WCAG_2.0-C28
tcid WCAG_2.0-F2
tcid WCAG_2.0-F3
tcid WCAG_2.0-F4
tcid WCAG_2.0-F8
tcid WCAG_2.0-F16
tcid WCAG_2.0-F17
tcid WCAG_2.0-F25
tcid WCAG_2.0-F30
tcid WCAG_2.0-F32
tcid WCAG_2.0-F38
tcid WCAG_2.0-F39
tcid WCAG_2.0-F40
tcid WCAG_2.0-F41
tcid WCAG_2.0-F42
tcid WCAG_2.0-F43
tcid WCAG_2.0-F44
tcid WCAG_2.0-F46
tcid WCAG_2.0-F47
tcid WCAG_2.0-F54
tcid WCAG_2.0-F55
tcid WCAG_2.0-F58
tcid WCAG_2.0-F62
tcid WCAG_2.0-F65
tcid WCAG_2.0-F66
tcid WCAG_2.0-F68
tcid WCAG_2.0-F70
tcid WCAG_2.0-F77
tcid WCAG_2.0-F87
tcid WCAG_2.0-F89
tcid WCAG_2.0-F92
#tcid WCAG_2.0-G4 Failures reported under WCAG_2.0-F16
#tcid WCAG_2.0-G11 Failures reported under WCAG_2.0-F47 and WCAG_2.0-F4
tcid WCAG_2.0-G18
tcid WCAG_2.0-G19
tcid WCAG_2.0-G87
#tcid WCAG_2.0-G61 Navigation link failures reported under WCAG_2.0-F66
#tcid WCAG_2.0-G88 Failures reported under WCAG_2.0-H25 and WCAG_2.0-F25
#tcid WCAG_2.0-G94
tcid WCAG_2.0-G115
tcid WCAG_2.0-G125
tcid WCAG_2.0-G130
tcid WCAG_2.0-G131
tcid WCAG_2.0-G134
#tcid WCAG_2.0-G142
tcid WCAG_2.0-G145
tcid WCAG_2.0-G152
tcid WCAG_2.0-G158
tcid WCAG_2.0-G197
tcid WCAG_2.0-H2
tcid WCAG_2.0-H24
tcid WCAG_2.0-H25
#tcid WCAG_2.0-H27
tcid WCAG_2.0-H30
tcid WCAG_2.0-H32
tcid WCAG_2.0-H33
tcid WCAG_2.0-H35
tcid WCAG_2.0-H36
tcid WCAG_2.0-H39
tcid WCAG_2.0-H42
tcid WCAG_2.0-H43
tcid WCAG_2.0-H44
tcid WCAG_2.0-H45
tcid WCAG_2.0-H46
tcid WCAG_2.0-H48
tcid WCAG_2.0-H51
tcid WCAG_2.0-H53
tcid WCAG_2.0-H57
tcid WCAG_2.0-H58
tcid WCAG_2.0-H64
tcid WCAG_2.0-H65
tcid WCAG_2.0-H67
tcid WCAG_2.0-H71
tcid WCAG_2.0-H73
tcid WCAG_2.0-H74
tcid WCAG_2.0-H88
tcid WCAG_2.0-H91
tcid WCAG_2.0-H94
tcid WCAG_2.0-PDF1
tcid WCAG_2.0-PDF2
tcid WCAG_2.0-PDF6
tcid WCAG_2.0-PDF12
tcid WCAG_2.0-PDF16
tcid WCAG_2.0-PDF18
tcid WCAG_2.0-SC1.3.1
tcid WCAG_2.0-SC1.4.4
tcid WCAG_2.0-SC2.4.3
tcid WCAG_2.0-SC3.1.1
tcid WCAG_2.0-SC4.1.2
tcid WCAG_2.0-SCR20
#tcid WCAG_2.0-SCR21
tcid WCAG_2.0-Guideline41

#
# EPUB Accessibility Techniques 1.0
#
tcid EPUB-ACCESS-001
tcid EPUB-ACCESS-002
tcid EPUB-DIST-001
tcid EPUB-META-001
tcid EPUB-META-002
tcid EPUB-META-003
tcid EPUB-META-004
tcid EPUB-META-005
tcid EPUB-META-006
tcid EPUB-META-007
tcid EPUB-PAGE-001
tcid EPUB-PAGE-003
tcid EPUB-SEM-001
tcid EPUB-SEM-003
tcid EPUB-TITLES-002


#
#***********************************************************************
#
# Deque AXE 3.4 profile
#
#***********************************************************************
#
TQA_Check_Profile_eng Deque AXE
TQA_Check_Profile_fra Deque AXE

#
# Testcase id
#
tcid AXE-Audio_Caption
tcid AXE-Blink
tcid AXE-Definition_List
tcid AXE-Dlitem
tcid AXE-Html_has_lang
tcid AXE-Html_lang_valid
tcid AXE-Html_xml_lang_mismatch
tcid AXE-Listitem
tcid AXE-Marquee
tcid AXE-Object_alt
tcid AXE-List
tcid AXE-Video_Caption
#tcid AXE-Video_Description
tcid AXE-Accesskeys
tcid AXE-Area_alt

tcid AXE-Td_headers_attr

tcid AXE-Href_no_hash

tcid AXE-Aria_valid_attr
tcid AXE-Aria_valid_attr_value
tcid AXE-Aria_allowed_role
tcid AXE-Aria_roles

tcid AXE-Aria_hidden_focus
tcid AXE-Aria_hidden_body

tcid AXE-Landmark_banner_is_top_level
tcid AXE-P_as_heading
tcid AXE-Button_name
tcid AXE-Aria_required_parent
tcid AXE-Aria_required_children
#tcid AXE-Checkboxgroup
tcid AXE-Landmark_complementary_is_top_level
tcid AXE-Landmark_contentinfo_is_top_level

tcid AXE-Document_title
tcid AXE-Role_img_alt

tcid AXE-Aria_allowed_attr
tcid AXE-Tabindex

tcid AXE-Label
tcid AXE-Label_title_only
tcid AXE-Form_field_multiple_labels

tcid AXE-Frame_title_unique
tcid AXE-Frame_title
tcid AXE-Heading_order
tcid AXE-Empty_heading

#tcid AXE-Duplicate_id_active errors reported as AXE-Duplicate_id
tcid AXE-Duplicate_id
#tcid AXE-Duplicate_id_aria errors reported as AXE-Duplicate_id
tcid AXE-Input_image_alt
tcid AXE-Image_alt

tcid AXE-Input_button_name
tcid AXE-Label_content_name_mismatch

tcid AXE-Valid_lang
tcid AXE-Layout_table

tcid AXE-Landmark_main_is_top_level
tcid AXE-Page_has_heading_one

tcid AXE-Landmark_one_main
tcid AXE-Landmark_no_duplicate_banner
tcid AXE-Landmark_no_duplicate_contentinfo
#tcid AXE-Radiogroup
tcid AXE-Aria_required_attr

tcid AXE-Table_duplicate_name

tcid AXE-Meta_refresh

tcid AXE-Image_redundant_alt

tcid AXE-Aria_roledescription
tcid AXE-Meta_viewport_large
tcid AXE-Meta_viewport

#
#***********************************************************************
#
# Pa11y profile
#     Pa11y is your automated accessibility testing pal
#     https://github.com/pa11y/pa11y
#
#  There is only a single testcase identifier that enables all Pa11y
# checks.
#
#***********************************************************************
#
TQA_Check_Profile_eng Pa11y
TQA_Check_Profile_fra Pa11y

#
# Testcase id
#
tcid Pa11y


#
#***********************************************************************
#
# All accessibility testcases from WCAG 2.0 and AXE
#
#***********************************************************************
#
TQA_Check_Profile_eng All
TQA_Check_Profile_fra Tous

#
# Testcase id
#
tcid WCAG_2.0-ARIA1
tcid WCAG_2.0-ARIA2
tcid WCAG_2.0-ARIA6
tcid WCAG_2.0-ARIA7
tcid WCAG_2.0-ARIA8
tcid WCAG_2.0-ARIA9
tcid WCAG_2.0-ARIA10
tcid WCAG_2.0-ARIA12
tcid WCAG_2.0-ARIA13
tcid WCAG_2.0-ARIA15
tcid WCAG_2.0-ARIA16
tcid WCAG_2.0-ARIA17
tcid WCAG_2.0-ARIA18
#tcid WCAG_2.0-C9  Failures reported under WCAG_2.0-F3
#tcid WCAG_2.0-C28
tcid WCAG_2.0-F2
tcid WCAG_2.0-F3
tcid WCAG_2.0-F4
tcid WCAG_2.0-F8
tcid WCAG_2.0-F16
tcid WCAG_2.0-F17
tcid WCAG_2.0-F25
tcid WCAG_2.0-F30
tcid WCAG_2.0-F32
tcid WCAG_2.0-F38
tcid WCAG_2.0-F39
tcid WCAG_2.0-F40
tcid WCAG_2.0-F41
tcid WCAG_2.0-F42
tcid WCAG_2.0-F43
tcid WCAG_2.0-F44
tcid WCAG_2.0-F46
tcid WCAG_2.0-F47
tcid WCAG_2.0-F54
tcid WCAG_2.0-F55
tcid WCAG_2.0-F58
tcid WCAG_2.0-F62
tcid WCAG_2.0-F65
tcid WCAG_2.0-F66
tcid WCAG_2.0-F68
tcid WCAG_2.0-F70
tcid WCAG_2.0-F77
tcid WCAG_2.0-F87
tcid WCAG_2.0-F89
tcid WCAG_2.0-F92
#tcid WCAG_2.0-G4 Failures reported under WCAG_2.0-F16
#tcid WCAG_2.0-G11 Failures reported under WCAG_2.0-F47 and WCAG_2.0-F4
tcid WCAG_2.0-G18
tcid WCAG_2.0-G19
tcid WCAG_2.0-G87
#tcid WCAG_2.0-G61 Navigation link failures reported under WCAG_2.0-F66
#tcid WCAG_2.0-G88 Failures reported under WCAG_2.0-H25 and WCAG_2.0-F25
#tcid WCAG_2.0-G94
tcid WCAG_2.0-G115
tcid WCAG_2.0-G125
tcid WCAG_2.0-G130
tcid WCAG_2.0-G131
tcid WCAG_2.0-G134
#tcid WCAG_2.0-G142
tcid WCAG_2.0-G145
tcid WCAG_2.0-G152
tcid WCAG_2.0-G158
tcid WCAG_2.0-G197
tcid WCAG_2.0-H2
tcid WCAG_2.0-H24
tcid WCAG_2.0-H25
#tcid WCAG_2.0-H27
tcid WCAG_2.0-H30
tcid WCAG_2.0-H32
tcid WCAG_2.0-H33
tcid WCAG_2.0-H35
tcid WCAG_2.0-H36
tcid WCAG_2.0-H39
tcid WCAG_2.0-H42
tcid WCAG_2.0-H43
tcid WCAG_2.0-H44
tcid WCAG_2.0-H45
tcid WCAG_2.0-H46
tcid WCAG_2.0-H48
tcid WCAG_2.0-H51
tcid WCAG_2.0-H53
tcid WCAG_2.0-H57
tcid WCAG_2.0-H58
tcid WCAG_2.0-H64
tcid WCAG_2.0-H65
tcid WCAG_2.0-H67
tcid WCAG_2.0-H71
tcid WCAG_2.0-H73
tcid WCAG_2.0-H74
tcid WCAG_2.0-H88
tcid WCAG_2.0-H91
tcid WCAG_2.0-H94
tcid WCAG_2.0-PDF1
tcid WCAG_2.0-PDF2
tcid WCAG_2.0-PDF6
tcid WCAG_2.0-PDF12
tcid WCAG_2.0-PDF16
tcid WCAG_2.0-PDF18
tcid WCAG_2.0-SC1.3.1
tcid WCAG_2.0-SC1.4.4
tcid WCAG_2.0-SC2.4.3
tcid WCAG_2.0-SC3.1.1
tcid WCAG_2.0-SC4.1.2
tcid WCAG_2.0-SCR20
#tcid WCAG_2.0-SCR21
tcid WCAG_2.0-Guideline41

#
# EPUB Accessibility Techniques 1.0
#
tcid EPUB-ACCESS-001
tcid EPUB-ACCESS-002
tcid EPUB-DIST-001
tcid EPUB-META-001
tcid EPUB-META-002
tcid EPUB-META-003
tcid EPUB-META-004
tcid EPUB-META-005
tcid EPUB-META-006
tcid EPUB-META-007
tcid EPUB-PAGE-001
tcid EPUB-PAGE-003
tcid EPUB-SEM-001
tcid EPUB-SEM-003
tcid EPUB-TITLES-002

#
# Deque AXE 3.4
#
tcid AXE-Audio_Caption
tcid AXE-Blink
tcid AXE-Definition_List
tcid AXE-Dlitem
tcid AXE-Html_has_lang
tcid AXE-Html_lang_valid
tcid AXE-Html_xml_lang_mismatch
tcid AXE-Listitem
tcid AXE-Marquee
tcid AXE-Object_alt
tcid AXE-List
tcid AXE-Video_Caption
#tcid AXE-Video_Description
tcid AXE-Accesskeys
tcid AXE-Area_alt

tcid AXE-Td_headers_attr

tcid AXE-Href_no_hash

tcid AXE-Aria_valid_attr
tcid AXE-Aria_valid_attr_value
tcid AXE-Aria_allowed_role
tcid AXE-Aria_roles

tcid AXE-Aria_hidden_focus
tcid AXE-Aria_hidden_body

tcid AXE-Landmark_banner_is_top_level
tcid AXE-P_as_heading
tcid AXE-Button_name
tcid AXE-Aria_required_parent
tcid AXE-Aria_required_children
#tcid AXE-Checkboxgroup
tcid AXE-Landmark_complementary_is_top_level
tcid AXE-Landmark_contentinfo_is_top_level

tcid AXE-Document_title
tcid AXE-Role_img_alt

tcid AXE-Aria_allowed_attr
tcid AXE-Tabindex

tcid AXE-Label
tcid AXE-Label_title_only
tcid AXE-Form_field_multiple_labels

tcid AXE-Frame_title_unique
tcid AXE-Frame_title
tcid AXE-Heading_order
tcid AXE-Empty_heading

#tcid AXE-Duplicate_id_active errors reported as AXE-Duplicate_id
tcid AXE-Duplicate_id
#tcid AXE-Duplicate_id_aria errors reported as AXE-Duplicate_id
tcid AXE-Input_image_alt
tcid AXE-Image_alt

tcid AXE-Input_button_name
tcid AXE-Label_content_name_mismatch

tcid AXE-Valid_lang
tcid AXE-Layout_table

tcid AXE-Landmark_main_is_top_level
tcid AXE-Page_has_heading_one

tcid AXE-Landmark_one_main
tcid AXE-Landmark_no_duplicate_banner
tcid AXE-Landmark_no_duplicate_contentinfo
#tcid AXE-Radiogroup
tcid AXE-Aria_required_attr

tcid AXE-Table_duplicate_name

tcid AXE-Meta_refresh

tcid AXE-Image_redundant_alt

tcid AXE-Aria_roledescription
tcid AXE-Meta_viewport_large
tcid AXE-Meta_viewport

#
# Pa11y checks
#
tcid Pa11y

#
#***********************************************************************
#
#  Empty profile
#
#***********************************************************************
#
TQA_Check_Profile_eng None
TQA_Check_Profile_fra Aucun

#
#***********************************************************************
#
# Testcase data
#
#***********************************************************************
#

#
# Invalid <title> text used for WCAG-2.0 F25 and AXE AXE-Document_title
#
Testcase_Data WCAG_2.0-F25 untitled
Testcase_Data WCAG_2.0-F25 New document
Testcase_Data WCAG_2.0-F25 [Main title here]
Testcase_Data WCAG_2.0-F25 Insert title here

#
# Invalid alt text content (source http://oaa-accessibility.org/rule/28/)
#
Testcase_Data WCAG_2.0-F30 graph
Testcase_Data WCAG_2.0-F30 graphique
Testcase_Data WCAG_2.0-F30 image
Testcase_Data WCAG_2.0-F30 photo
Testcase_Data WCAG_2.0-F30 picture
Testcase_Data WCAG_2.0-F30 spacer

#
# Link text to ignore for consistent labelling
#
Testcase_Data WCAG_2.0-G197 Next
Testcase_Data WCAG_2.0-G197 Suivante
Testcase_Data WCAG_2.0-G197 Page suivante
Testcase_Data WCAG_2.0-G197 Previous
Testcase_Data WCAG_2.0-G197 Précédente
Testcase_Data WCAG_2.0-G197 Page précédente
Testcase_Data WCAG_2.0-G197 Read More
Testcase_Data WCAG_2.0-G197 Pour en savoir plus
Testcase_Data WCAG_2.0-G197 Read the headline
Testcase_Data WCAG_2.0-G197 Lire la manchette

#
# PWGSC Search results page
#
# From http://recherche-search.gc.ca
Testcase_Data WCAG_2.0-G197 Next page of search results
Testcase_Data WCAG_2.0-G197 Previous page of search results
Testcase_Data WCAG_2.0-G197 Page suivant des r&eacute;sultats de recherche
Testcase_Data WCAG_2.0-G197 Page pr&eacute;c&eacute;dent des r&eacute;sultats de recherche

# From https://buyandsell.gc.ca search page
Testcase_Data WCAG_2.0-G197 &laquo; first
Testcase_Data WCAG_2.0-G197 &lsaquo; previous
Testcase_Data WCAG_2.0-G197 next &rsaquo;
Testcase_Data WCAG_2.0-G197 last &raquo;
Testcase_Data WCAG_2.0-G197 &laquo; premier
Testcase_Data WCAG_2.0-G197 &lsaquo; pr&eacute;c&eacute;dent
Testcase_Data WCAG_2.0-G197 suivant &rsaquo;
Testcase_Data WCAG_2.0-G197 dernier &raquo;

#
# Invalid link anchor text ("click here" links)
#
Testcase_Data WCAG_2.0-H30 click here
Testcase_Data WCAG_2.0-H30 here
Testcase_Data WCAG_2.0-H30 more
Testcase_Data WCAG_2.0-H30 read more

Testcase_Data WCAG_2.0-H30 cliquez ici
Testcase_Data WCAG_2.0-H30 ici
Testcase_Data WCAG_2.0-H30 plus

#
# Technology versions for EPUB documents
#
Testcase_Data WCAG_2.0-Guideline41 EPUB_VERSIONS 3.0
Testcase_Data WCAG_2.0-Guideline41 EPUB_HTML_VERSIONS 5

#
#***********************************************************************
#
# TQA check exemption conditions.
#
# A document is excempt from TQA checking if it is both "Archived on the Web"
# and meets the following conditions (e.g. published before October 01, 2011).
#
# Format is
#  TQA_EXEMPTION <type> <tag> <content type> <operator> <value>
#  TQA_EXEMPTION <type> <value>
#
#***********************************************************************
#
TQA_EXEMPTION metadata dcterms.modified DATE < 2011-10-01
#
# List of sub directories containing PDF equivalents of HTML documents.
# If no directory is specified, the HTML and PDF documents must be in
# the same directory.
#
# Format is
#  TQA_EXEMPTION PDF <directory>
# 
TQA_EXEMPTION PDF documents
TQA_EXEMPTION PDF files

