#***********************************************************************
#
# Name:   so_tqa_check.config
#
# $Revision: 6051 $
# $URL: svn://10.36.20.226/trunk/Web_Checks/TQA_Check/Tools/so_tqa_check.config $
# $Date: 2012-10-19 11:17:17 -0400 (Fri, 19 Oct 2012) $
#
# Description:
#   This file contains the configuration parameters for the standalone
# TQA check program. The parameters appear as name/value pairs 
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# Testcase/help URL file name
#
#***********************************************************************
#
Testcase_URL_Help_File conf/tqa_testcase_url.config

#
#***********************************************************************
#
# Test testcase profile
#
#***********************************************************************
#
#TQA_Check_Profile_eng Test
#TQA_Check_Profile_fra Test
#
#tcid WCAG_2.0-F43

#
#***********************************************************************
#
# WCAG 2.0 profile
#
#***********************************************************************
#
TQA_Check_Profile_eng WCAG 2.0
TQA_Check_Profile_fra WCAG 2.0

TQA_Check_Profile_Type WCAG_2.0

#
# Testcase id
#
tcid WCAG_2.0-C28
tcid WCAG_2.0-F3
tcid WCAG_2.0-F4
tcid WCAG_2.0-F16
tcid WCAG_2.0-F17
tcid WCAG_2.0-F25
tcid WCAG_2.0-F30
tcid WCAG_2.0-F32
tcid WCAG_2.0-F38
tcid WCAG_2.0-F39
tcid WCAG_2.0-F40
tcid WCAG_2.0-F41
tcid WCAG_2.0-F42
tcid WCAG_2.0-F43
tcid WCAG_2.0-F47
tcid WCAG_2.0-F54
tcid WCAG_2.0-F55
tcid WCAG_2.0-F58
tcid WCAG_2.0-F65
tcid WCAG_2.0-F66
tcid WCAG_2.0-F68
tcid WCAG_2.0-F70
tcid WCAG_2.0-F77
tcid WCAG_2.0-F87
tcid WCAG_2.0-F89
tcid WCAG_2.0-G18
tcid WCAG_2.0-G19
tcid WCAG_2.0-G94
tcid WCAG_2.0-G115
tcid WCAG_2.0-G125
tcid WCAG_2.0-G130
tcid WCAG_2.0-G134
tcid WCAG_2.0-G142
tcid WCAG_2.0-G145
tcid WCAG_2.0-G152
tcid WCAG_2.0-G197
tcid WCAG_2.0-H2
tcid WCAG_2.0-H24
tcid WCAG_2.0-H25
tcid WCAG_2.0-H27
tcid WCAG_2.0-H30
tcid WCAG_2.0-H32
tcid WCAG_2.0-H33
tcid WCAG_2.0-H35
tcid WCAG_2.0-H36
tcid WCAG_2.0-H39
tcid WCAG_2.0-H42
tcid WCAG_2.0-H43
tcid WCAG_2.0-H44
tcid WCAG_2.0-H45
tcid WCAG_2.0-H46
tcid WCAG_2.0-H48
tcid WCAG_2.0-H51
tcid WCAG_2.0-H53
tcid WCAG_2.0-H57
tcid WCAG_2.0-H58
tcid WCAG_2.0-H64
tcid WCAG_2.0-H65
tcid WCAG_2.0-H67
tcid WCAG_2.0-H71
tcid WCAG_2.0-H73
tcid WCAG_2.0-H74
tcid WCAG_2.0-H88
tcid WCAG_2.0-H91
tcid WCAG_2.0-H94
tcid WCAG_2.0-PDF1
tcid WCAG_2.0-PDF2
tcid WCAG_2.0-PDF6
tcid WCAG_2.0-PDF12
tcid WCAG_2.0-PDF16
tcid WCAG_2.0-PDF18
tcid WCAG_2.0-SCR20
tcid WCAG_2.0-SCR21

#
#***********************************************************************
#
# TBS WCAG 2.0 profile
#
#***********************************************************************
#
TQA_Check_Profile_eng TBS WCAG 2.0 Quick Check
TQA_Check_Profile_fra SCT WCAG 2.0 Vérification Rapide

TQA_Check_Profile_Type WCAG_2.0

#
# Testcase id
#
tcid WCAG_2.0-F4
tcid WCAG_2.0-F16
tcid WCAG_2.0-F17
tcid WCAG_2.0-F25
tcid WCAG_2.0-F30
tcid WCAG_2.0-F40
tcid WCAG_2.0-F41
tcid WCAG_2.0-F42
tcid WCAG_2.0-F47
tcid WCAG_2.0-F54
tcid WCAG_2.0-F58
tcid WCAG_2.0-F65
tcid WCAG_2.0-F66
tcid WCAG_2.0-F68
tcid WCAG_2.0-F77
tcid WCAG_2.0-G115
tcid WCAG_2.0-G125
tcid WCAG_2.0-G130
tcid WCAG_2.0-G145
tcid WCAG_2.0-G152
tcid WCAG_2.0-H24
tcid WCAG_2.0-H25
tcid WCAG_2.0-H27
tcid WCAG_2.0-H32
tcid WCAG_2.0-H35
tcid WCAG_2.0-H45
tcid WCAG_2.0-H57
tcid WCAG_2.0-H58
tcid WCAG_2.0-H64
tcid WCAG_2.0-H65
tcid WCAG_2.0-H74
tcid WCAG_2.0-H91
tcid WCAG_2.0-H94
tcid WCAG_2.0-PDF16
tcid WCAG_2.0-PDF18
tcid WCAG_2.0-SCR20

#
#***********************************************************************
#
#  Empty profile
#
#***********************************************************************
#
TQA_Check_Profile_eng None
TQA_Check_Profile_fra Aucun

#
#***********************************************************************
#
# Testcase data
#
#***********************************************************************
#

#
# Invalid <title> text
#
Testcase_Data WCAG_2.0-F25 untitled

#
# Invalid alt text content (source http://oaa-accessibility.org/rule/28/)
#
Testcase_Data WCAG_2.0-F30 graph
Testcase_Data WCAG_2.0-F30 graphique
Testcase_Data WCAG_2.0-F30 image
Testcase_Data WCAG_2.0-F30 photo
Testcase_Data WCAG_2.0-F30 picture

#
#***********************************************************************
#
# TQA check exemption conditions.
#
# A document is excempt from TQA checking if it is both "Archived on the Web"
# and meets the following conditions (e.g. published before October 01, 2011).
#
# Format is
#  TQA_EXEMPTION <type> <tag> <content type> <operator> <value>
#  TQA_EXEMPTION <type> <value>
#
#***********************************************************************
#
TQA_EXEMPTION metadata dcterms.modified DATE < 2011-10-01
#
# List of sub directories containing PDF equivalents of HTML documents.
# If no directory is specified, the HTML and PDF documents must be in
# the same directory.
#
# Format is
#  TQA_EXEMPTION PDF <directory>
# 
TQA_EXEMPTION PDF documents

