#***********************************************************************
#
# Name:   so_tqa_check.config
#
# $Revision: 2499 $
# $URL: svn://10.36.148.185/WPSS_Tool/TQA_Check/Tools/so_tqa_check.config $
# $Date: 2023-04-05 13:52:13 -0400 (Wed, 05 Apr 2023) $
#
# Description:
#   This file contains the configuration parameters for the standalone
# TQA check program. The parameters appear as name/value pairs 
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# Testcase/help URL file name
#
#***********************************************************************
#
Testcase_URL_Help_File conf/tqa_testcase_url.config

#
#***********************************************************************
#
# Test testcase profile
#
#***********************************************************************
#
#TQA_Check_Profile_eng Test
#TQA_Check_Profile_fra Test
#
#tcid WCAG_2.0-F43

#
#***********************************************************************
#
# WCAG 2.0 profile
#
#***********************************************************************
#
TQA_Check_Profile_eng WCAG 2.0
TQA_Check_Profile_fra WCAG 2.0

TQA_Check_Profile_Type WCAG_2.0

#
# Testcase id
#
tcid WCAG_2.0-ARIA1
tcid WCAG_2.0-ARIA2
tcid WCAG_2.0-ARIA6
tcid WCAG_2.0-ARIA7
tcid WCAG_2.0-ARIA8
tcid WCAG_2.0-ARIA9
tcid WCAG_2.0-ARIA10
tcid WCAG_2.0-ARIA12
tcid WCAG_2.0-ARIA13
tcid WCAG_2.0-ARIA15
tcid WCAG_2.0-ARIA16
tcid WCAG_2.0-ARIA17
tcid WCAG_2.0-ARIA18
#tcid WCAG_2.0-C9  Failures reported under WCAG_2.0-F3
#tcid WCAG_2.0-C28
tcid WCAG_2.0-F2
tcid WCAG_2.0-F3
tcid WCAG_2.0-F4
tcid WCAG_2.0-F8
tcid WCAG_2.0-F16
tcid WCAG_2.0-F17
tcid WCAG_2.0-F25
tcid WCAG_2.0-F30
tcid WCAG_2.0-F32
tcid WCAG_2.0-F34
tcid WCAG_2.0-F38
tcid WCAG_2.0-F39
tcid WCAG_2.0-F40
tcid WCAG_2.0-F41
tcid WCAG_2.0-F42
tcid WCAG_2.0-F43
tcid WCAG_2.0-F44
tcid WCAG_2.0-F46
tcid WCAG_2.0-F47
tcid WCAG_2.0-F54
tcid WCAG_2.0-F55
tcid WCAG_2.0-F58
tcid WCAG_2.0-F62
tcid WCAG_2.0-F65
tcid WCAG_2.0-F66
tcid WCAG_2.0-F68
tcid WCAG_2.0-F70
tcid WCAG_2.0-F77
tcid WCAG_2.0-F87
tcid WCAG_2.0-F89
tcid WCAG_2.0-F92
#tcid WCAG_2.0-G4 Failures reported under WCAG_2.0-F16
#tcid WCAG_2.0-G11 Failures reported under WCAG_2.0-F47 and WCAG_2.0-F4
tcid WCAG_2.0-G18
tcid WCAG_2.0-G19
tcid WCAG_2.0-G87
#tcid WCAG_2.0-G61 Navigation link failures reported under WCAG_2.0-F66
#tcid WCAG_2.0-G88 Failures reported under WCAG_2.0-H25 and WCAG_2.0-F25
#tcid WCAG_2.0-G94
tcid WCAG_2.0-G115
tcid WCAG_2.0-G125
tcid WCAG_2.0-G130
tcid WCAG_2.0-G131
tcid WCAG_2.0-G134
#tcid WCAG_2.0-G142
tcid WCAG_2.0-G145
tcid WCAG_2.0-G152
tcid WCAG_2.0-G158
tcid WCAG_2.0-G192
tcid WCAG_2.0-G197
tcid WCAG_2.0-Guideline41
tcid WCAG_2.0-H2
tcid WCAG_2.0-H24
tcid WCAG_2.0-H25
#tcid WCAG_2.0-H27
tcid WCAG_2.0-H30
tcid WCAG_2.0-H32
tcid WCAG_2.0-H33
tcid WCAG_2.0-H35
tcid WCAG_2.0-H36
tcid WCAG_2.0-H39
tcid WCAG_2.0-H42
tcid WCAG_2.0-H43
tcid WCAG_2.0-H44
tcid WCAG_2.0-H45
tcid WCAG_2.0-H46
tcid WCAG_2.0-H48
tcid WCAG_2.0-H51
tcid WCAG_2.0-H53
tcid WCAG_2.0-H57
tcid WCAG_2.0-H58
tcid WCAG_2.0-H64
tcid WCAG_2.0-H65
tcid WCAG_2.0-H67
tcid WCAG_2.0-H71
tcid WCAG_2.0-H73
tcid WCAG_2.0-H74
tcid WCAG_2.0-H88
tcid WCAG_2.0-H91
tcid WCAG_2.0-H94
tcid WCAG_2.0-PDF1
tcid WCAG_2.0-PDF2
tcid WCAG_2.0-PDF6
tcid WCAG_2.0-PDF12
tcid WCAG_2.0-PDF16
tcid WCAG_2.0-PDF18
tcid WCAG_2.0-SC1.3.1
tcid WCAG_2.0-SC1.4.4
tcid WCAG_2.0-SC2.4.3
tcid WCAG_2.0-SC3.1.1
tcid WCAG_2.0-SC4.1.2
tcid WCAG_2.0-SCR20
#tcid WCAG_2.0-SCR21
tcid WCAG_2.0-T1
tcid WCAG_2.0-T2
tcid WCAG_2.0-T3

#
# EPUB Accessibility Techniques 1.0
#
tcid EPUB-ACCESS-001
tcid EPUB-ACCESS-002
tcid EPUB-DIST-001
tcid EPUB-META-001
tcid EPUB-META-002
tcid EPUB-META-003
tcid EPUB-META-004
tcid EPUB-META-005
tcid EPUB-META-006
tcid EPUB-META-007
tcid EPUB-PAGE-001
tcid EPUB-PAGE-003
tcid EPUB-SEM-001
tcid EPUB-SEM-003
tcid EPUB-TITLES-002


#
#***********************************************************************
#
# Deque AXE profile
# Checks are performed using the AXE command line program
#  https://github.com/dequelabs/axe-core
#
#  There is only a single testcase identifier that enables all AXE
# checks.
#
#***********************************************************************
#
TQA_Check_Profile_eng Deque AXE
TQA_Check_Profile_fra Deque AXE

#
# Testcase id
#
tcid AXE


#
#***********************************************************************
#
# Pa11y profile
#     Pa11y is your automated accessibility testing pal
#     https://github.com/pa11y/pa11y
#
#  There is only a single testcase identifier that enables all Pa11y
# checks.
#
#***********************************************************************
#
TQA_Check_Profile_eng Pa11y
TQA_Check_Profile_fra Pa11y

#
# Testcase id
#
tcid Pa11y


#
#***********************************************************************
#
# ACT profile
#     The ACT Rules Community Group
#     https://act-rules.github.io/rules/
#
#***********************************************************************
#
TQA_Check_Profile_eng ACT-Rules
TQA_Check_Profile_fra ACT-Rules

#
# Testcase id
#
#tcid ACT-All_table_headers_have_data
tcid ACT-ARIA_required_context_role
tcid ACT-ARIA_required_owned_elements
tcid ACT-ARIA_state_property_valid_value
tcid ACT-ARIA_state_property_permitted
tcid ACT-ARIA_attribute_defined
tcid ACT-Attribute_is_not_duplicate
#tcid ACT-Audio_has_text_alternative
#tcid ACT-Audio_has_transcript
#tcid ACT-Audio_is_alternative
tcid ACT-Audio_video_not_automatic
#tcid ACT-Audio_video_has_control
#tcid ACT-Audio_video_less_than_3_seconds
tcid ACT-Autocomplete_valid_value
tcid ACT-Button_non_empty_accessible_name
#tcid ACT-Device_motion_changes_from_user_interface
#tcid ACT-Device_motion_can_be_disabled
tcid ACT-Element_decorative_not_exposed
tcid ACT-Element_aria_hidden_no_focusable_content
tcid ACT-Lang_has_valid_language
tcid ACT-Children_not_focusable
tcid ACT-Role_has_required_properties
#tcid ACT-Error_message_describes_invalid_value
#tcid ACT-Focusable_no_keyboard_trap
#tcid ACT-Focusable_no_keyboard_trap_non_std_nav
#tcid ACT-Focusable_no_keyboard_trap_std_nav
#tcid ACT-Form_control_label_is_descriptive
tcid ACT-Form_field_non_empty_accessible_name
tcid ACT-Headers_refer_to_same_table
tcid ACT-Heading_non_empty_accessible_name
#tcid ACT-Heading_descriptive
tcid ACT-HTML_page_has_lang
tcid ACT-HTML_page_title_non_empty
tcid ACT-HTML_page_lang_xml_lang_match
tcid ACT-HTML_page_lang_valid
tcid ACT-HTML_page_lang_matches_content
tcid ACT-HTML_page_title_descriptive
tcid ACT-id_attribute_value_unique
tcid ACT-iframe_non_empty_accessible_name
#tcid ACT-iframe_identical_accessible_name
tcid ACT-Image_accessible_name_descriptive
tcid ACT-Image_button_non_empty_accessible_name
#tcid ACT-Image_filename_is_accessible_name
tcid ACT-Image_non_empty_accessible_name
tcid ACT-Image_not_accessible_is_decorative
tcid ACT-Link_non_empty_accessible_name
#tcid ACT-Link_context_descriptive
#tcid ACT-Link_accessible_name_context_same_purpose
#tcid ACT-Link_identical_accessible_name
tcid ACT-Menuitem_non_empty_accessible_name
tcid ACT-Meta_no_refresh_delay
tcid ACT-Meta_viewport_allows_zoom
#tcid ACT-Keyboard_printable_characters
tcid ACT-Object_non_empty_accessible_name
#tcid ACT-Orientation_not_restricted_CSS
tcid ACT-Role_valid_value
#tcid ACT-Scrollable_element_keyboard_accessible
#tcid ACT-SVG_with_role_non_empty_accessible_name
#tcid ACT-Table_header_has_cells
#tcid ACT-Text_changes_can_stop
#tcid ACT-Text_has_enhanced_contrast
#tcid ACT-Text_has_minimum_contrast
tcid ACT-Video_auditory_has_accessible_alternative
tcid ACT-Video_auditory_has_captions


#
#***********************************************************************
#
# All accessibility testcases from WCAG 2.0 and AXE
#
#***********************************************************************
#
TQA_Check_Profile_eng All
TQA_Check_Profile_fra Tous

#
# Testcase id
#
tcid WCAG_2.0-ARIA1
tcid WCAG_2.0-ARIA2
tcid WCAG_2.0-ARIA6
tcid WCAG_2.0-ARIA7
tcid WCAG_2.0-ARIA8
tcid WCAG_2.0-ARIA9
tcid WCAG_2.0-ARIA10
tcid WCAG_2.0-ARIA12
tcid WCAG_2.0-ARIA13
tcid WCAG_2.0-ARIA15
tcid WCAG_2.0-ARIA16
tcid WCAG_2.0-ARIA17
tcid WCAG_2.0-ARIA18
#tcid WCAG_2.0-C9  Failures reported under WCAG_2.0-F3
#tcid WCAG_2.0-C28
tcid WCAG_2.0-F2
tcid WCAG_2.0-F3
tcid WCAG_2.0-F4
tcid WCAG_2.0-F8
tcid WCAG_2.0-F16
tcid WCAG_2.0-F17
tcid WCAG_2.0-F25
tcid WCAG_2.0-F30
tcid WCAG_2.0-F32
tcid WCAG_2.0-F34
tcid WCAG_2.0-F38
tcid WCAG_2.0-F39
tcid WCAG_2.0-F40
tcid WCAG_2.0-F41
tcid WCAG_2.0-F42
tcid WCAG_2.0-F43
tcid WCAG_2.0-F44
tcid WCAG_2.0-F46
tcid WCAG_2.0-F47
tcid WCAG_2.0-F54
tcid WCAG_2.0-F55
tcid WCAG_2.0-F58
tcid WCAG_2.0-F62
tcid WCAG_2.0-F65
tcid WCAG_2.0-F66
tcid WCAG_2.0-F68
tcid WCAG_2.0-F70
tcid WCAG_2.0-F77
tcid WCAG_2.0-F87
tcid WCAG_2.0-F89
tcid WCAG_2.0-F92
#tcid WCAG_2.0-G4 Failures reported under WCAG_2.0-F16
#tcid WCAG_2.0-G11 Failures reported under WCAG_2.0-F47 and WCAG_2.0-F4
tcid WCAG_2.0-G18
tcid WCAG_2.0-G19
tcid WCAG_2.0-G87
#tcid WCAG_2.0-G61 Navigation link failures reported under WCAG_2.0-F66
#tcid WCAG_2.0-G88 Failures reported under WCAG_2.0-H25 and WCAG_2.0-F25
#tcid WCAG_2.0-G94
tcid WCAG_2.0-G115
tcid WCAG_2.0-G125
tcid WCAG_2.0-G130
tcid WCAG_2.0-G131
tcid WCAG_2.0-G134
#tcid WCAG_2.0-G142
tcid WCAG_2.0-G145
tcid WCAG_2.0-G152
tcid WCAG_2.0-G158
tcid WCAG_2.0-G192
tcid WCAG_2.0-G197
tcid WCAG_2.0-Guideline41
tcid WCAG_2.0-H2
tcid WCAG_2.0-H24
tcid WCAG_2.0-H25
#tcid WCAG_2.0-H27
tcid WCAG_2.0-H30
tcid WCAG_2.0-H32
tcid WCAG_2.0-H33
tcid WCAG_2.0-H35
tcid WCAG_2.0-H36
tcid WCAG_2.0-H39
tcid WCAG_2.0-H42
tcid WCAG_2.0-H43
tcid WCAG_2.0-H44
tcid WCAG_2.0-H45
tcid WCAG_2.0-H46
tcid WCAG_2.0-H48
tcid WCAG_2.0-H51
tcid WCAG_2.0-H53
tcid WCAG_2.0-H57
tcid WCAG_2.0-H58
tcid WCAG_2.0-H64
tcid WCAG_2.0-H65
tcid WCAG_2.0-H67
tcid WCAG_2.0-H71
tcid WCAG_2.0-H73
tcid WCAG_2.0-H74
tcid WCAG_2.0-H88
tcid WCAG_2.0-H91
tcid WCAG_2.0-H94
tcid WCAG_2.0-PDF1
tcid WCAG_2.0-PDF2
tcid WCAG_2.0-PDF6
tcid WCAG_2.0-PDF12
tcid WCAG_2.0-PDF16
tcid WCAG_2.0-PDF18
tcid WCAG_2.0-SC1.3.1
tcid WCAG_2.0-SC1.4.4
tcid WCAG_2.0-SC2.4.3
tcid WCAG_2.0-SC3.1.1
tcid WCAG_2.0-SC4.1.2
tcid WCAG_2.0-SCR20
#tcid WCAG_2.0-SCR21
tcid WCAG_2.0-T1
tcid WCAG_2.0-T2
tcid WCAG_2.0-T3

#
# EPUB Accessibility Techniques 1.0
#
tcid EPUB-ACCESS-001
tcid EPUB-ACCESS-002
tcid EPUB-DIST-001
tcid EPUB-META-001
tcid EPUB-META-002
tcid EPUB-META-003
tcid EPUB-META-004
tcid EPUB-META-005
tcid EPUB-META-006
tcid EPUB-META-007
tcid EPUB-PAGE-001
tcid EPUB-PAGE-003
tcid EPUB-SEM-001
tcid EPUB-SEM-003
tcid EPUB-TITLES-002

#
# Deque AXE
#
tcid AXE

#
# Pa11y checks
#
tcid Pa11y

#
#***********************************************************************
#
#  Empty profile
#
#***********************************************************************
#
TQA_Check_Profile_eng None
TQA_Check_Profile_fra Aucun

#
#***********************************************************************
#
# Testcase data
#
#***********************************************************************
#

#
# Invalid <title> text used for WCAG-2.0 F25 and
# ACT Rules ACT-HTML_page_title_descriptive
#
Testcase_Data WCAG_2.0-F25 untitled
Testcase_Data WCAG_2.0-F25 New document
Testcase_Data WCAG_2.0-F25 [Main title here]
Testcase_Data WCAG_2.0-F25 Insert title here

#
# Invalid alt text content (source http://oaa-accessibility.org/rule/28/)
#
Testcase_Data WCAG_2.0-F30 graph
Testcase_Data WCAG_2.0-F30 graphique
Testcase_Data WCAG_2.0-F30 image
Testcase_Data WCAG_2.0-F30 photo
Testcase_Data WCAG_2.0-F30 picture
Testcase_Data WCAG_2.0-F30 spacer

#
# Link text to ignore for consistent labelling
#
Testcase_Data WCAG_2.0-G197 Next
Testcase_Data WCAG_2.0-G197 Suivante
Testcase_Data WCAG_2.0-G197 Page suivante
Testcase_Data WCAG_2.0-G197 Previous
Testcase_Data WCAG_2.0-G197 Précédente
Testcase_Data WCAG_2.0-G197 Page précédente
Testcase_Data WCAG_2.0-G197 Read More
Testcase_Data WCAG_2.0-G197 Pour en savoir plus
Testcase_Data WCAG_2.0-G197 Read the headline
Testcase_Data WCAG_2.0-G197 Lire la manchette

#
# PWGSC Search results page
#
# From http://recherche-search.gc.ca
Testcase_Data WCAG_2.0-G197 Next page of search results
Testcase_Data WCAG_2.0-G197 Previous page of search results
Testcase_Data WCAG_2.0-G197 Page suivant des r&eacute;sultats de recherche
Testcase_Data WCAG_2.0-G197 Page pr&eacute;c&eacute;dent des r&eacute;sultats de recherche

# From https://buyandsell.gc.ca search page
Testcase_Data WCAG_2.0-G197 &laquo; first
Testcase_Data WCAG_2.0-G197 &lsaquo; previous
Testcase_Data WCAG_2.0-G197 next &rsaquo;
Testcase_Data WCAG_2.0-G197 last &raquo;
Testcase_Data WCAG_2.0-G197 &laquo; premier
Testcase_Data WCAG_2.0-G197 &lsaquo; pr&eacute;c&eacute;dent
Testcase_Data WCAG_2.0-G197 suivant &rsaquo;
Testcase_Data WCAG_2.0-G197 dernier &raquo;

#
# Invalid link anchor text ("click here" links)
#
Testcase_Data WCAG_2.0-H30 click here
Testcase_Data WCAG_2.0-H30 here
Testcase_Data WCAG_2.0-H30 more
Testcase_Data WCAG_2.0-H30 read more

Testcase_Data WCAG_2.0-H30 cliquez ici
Testcase_Data WCAG_2.0-H30 ici
Testcase_Data WCAG_2.0-H30 plus

#
# Technology versions for EPUB documents
#
Testcase_Data WCAG_2.0-Guideline41 EPUB_VERSIONS 3.0
Testcase_Data WCAG_2.0-Guideline41 EPUB_HTML_VERSIONS 5

#
# Default location for Chrome browser on Windows.
#
Testcase_Data AXE default_windows_chrome_path C:\Program Files (x86)\Google\Chrome\Application\chrome.exe
Testcase_Data AXE default_windows_chrome_path C:\Program Files\Google\Chrome\Application\chrome.exe

#
#***********************************************************************
#
# TQA check exemption conditions.
#
# A document is excempt from TQA checking if it is both "Archived on the Web"
# and meets the following conditions (e.g. published before October 01, 2011).
#
# Format is
#  TQA_EXEMPTION <type> <tag> <content type> <operator> <value>
#  TQA_EXEMPTION <type> <value>
#
#***********************************************************************
#
TQA_EXEMPTION metadata dcterms.modified DATE < 2011-10-01
#
# List of sub directories containing PDF equivalents of HTML documents.
# If no directory is specified, the HTML and PDF documents must be in
# the same directory.
#
# Format is
#  TQA_EXEMPTION PDF <directory>
# 
TQA_EXEMPTION PDF documents
TQA_EXEMPTION PDF files

