#***********************************************************************
#
# Name:   tqa_testcase_url.config
#
# $Revision: 7601 $
# $URL: svn://10.36.21.45/trunk/Web_Checks/TQA_Check/Tools/tqa_testcase_url.config $
# $Date: 2016-06-20 06:05:56 -0400 (Mon, 20 Jun 2016) $
#
# Description:
#
#   This file contains a URL for each testcase.  The URL is
# the help or description page for the testcase.
#
# Format is
#  <testcase> <lang> <url>
#
#***********************************************************************

#
# WCAG 2.0
#
WCAG_2.0-ARIA1 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA1
WCAG_2.0-ARIA1 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA1
WCAG_2.0-ARIA2 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA2
WCAG_2.0-ARIA2 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA2
WCAG_2.0-ARIA6 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA6
WCAG_2.0-ARIA6 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA6
WCAG_2.0-ARIA7 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA7
WCAG_2.0-ARIA7 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA7
WCAG_2.0-ARIA8 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA8
WCAG_2.0-ARIA8 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA8
WCAG_2.0-ARIA9 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA9
WCAG_2.0-ARIA9 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA9
WCAG_2.0-ARIA10 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA10
WCAG_2.0-ARIA10 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA10
WCAG_2.0-ARIA12 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA12
WCAG_2.0-ARIA12 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA12
WCAG_2.0-ARIA13 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA13
WCAG_2.0-ARIA13 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA13
WCAG_2.0-ARIA15 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA15
WCAG_2.0-ARIA15 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA15
WCAG_2.0-ARIA16 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA16
WCAG_2.0-ARIA16 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA16
WCAG_2.0-ARIA17 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA17
WCAG_2.0-ARIA17 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA17
WCAG_2.0-ARIA18 eng https://www.w3.org/TR/WCAG20-TECHS/ARIA18
WCAG_2.0-ARIA18 fra https://www.w3.org/TR/WCAG20-TECHS/ARIA18
WCAG_2.0-C28 eng https://www.w3.org/TR/WCAG20-TECHS/C28
WCAG_2.0-C28 fra https://www.w3.org/TR/WCAG20-TECHS/C28
WCAG_2.0-F2 eng https://www.w3.org/TR/WCAG20-TECHS/F2
WCAG_2.0-F2 fra https://www.w3.org/TR/WCAG20-TECHS/F2
WCAG_2.0-F3 eng https://www.w3.org/TR/WCAG20-TECHS/F3
WCAG_2.0-F3 fra https://www.w3.org/TR/WCAG20-TECHS/F3
WCAG_2.0-F4 eng https://www.w3.org/TR/WCAG20-TECHS/F4
WCAG_2.0-F4 fra https://www.w3.org/TR/WCAG20-TECHS/F4
WCAG_2.0-F8 eng https://www.w3.org/TR/WCAG20-TECHS/F8
WCAG_2.0-F8 fra https://www.w3.org/TR/WCAG20-TECHS/F8
WCAG_2.0-F16 eng https://www.w3.org/TR/WCAG20-TECHS/F16
WCAG_2.0-F16 fra https://www.w3.org/TR/WCAG20-TECHS/F16
WCAG_2.0-F17 eng https://www.w3.org/TR/WCAG20-TECHS/F17
WCAG_2.0-F17 fra https://www.w3.org/TR/WCAG20-TECHS/F17
WCAG_2.0-F25 eng https://www.w3.org/TR/WCAG20-TECHS/F25
WCAG_2.0-F25 fra https://www.w3.org/TR/WCAG20-TECHS/F25
WCAG_2.0-F30 eng https://www.w3.org/TR/WCAG20-TECHS/F30
WCAG_2.0-F30 fra https://www.w3.org/TR/WCAG20-TECHS/F30
WCAG_2.0-F32 eng https://www.w3.org/TR/WCAG20-TECHS/F32
WCAG_2.0-F32 fra https://www.w3.org/TR/WCAG20-TECHS/F32
WCAG_2.0-F38 eng https://www.w3.org/TR/WCAG20-TECHS/F38
WCAG_2.0-F38 fra https://www.w3.org/TR/WCAG20-TECHS/F38
WCAG_2.0-F39 eng https://www.w3.org/TR/WCAG20-TECHS/F39
WCAG_2.0-F39 fra https://www.w3.org/TR/WCAG20-TECHS/F39
WCAG_2.0-F40 eng https://www.w3.org/TR/WCAG20-TECHS/F40
WCAG_2.0-F40 fra https://www.w3.org/TR/WCAG20-TECHS/F40
WCAG_2.0-F41 eng https://www.w3.org/TR/WCAG20-TECHS/F41
WCAG_2.0-F41 fra https://www.w3.org/TR/WCAG20-TECHS/F41
WCAG_2.0-F42 eng https://www.w3.org/TR/WCAG20-TECHS/F42
WCAG_2.0-F42 fra https://www.w3.org/TR/WCAG20-TECHS/F42
WCAG_2.0-F43 eng https://www.w3.org/TR/WCAG20-TECHS/F43
WCAG_2.0-F43 fra https://www.w3.org/TR/WCAG20-TECHS/F43
WCAG_2.0-F46 eng https://www.w3.org/TR/WCAG20-TECHS/F46
WCAG_2.0-F46 fra https://www.w3.org/TR/WCAG20-TECHS/F46
WCAG_2.0-F47 eng https://www.w3.org/TR/WCAG20-TECHS/F47
WCAG_2.0-F47 fra https://www.w3.org/TR/WCAG20-TECHS/F47
WCAG_2.0-F58 eng https://www.w3.org/TR/WCAG20-TECHS/F58
WCAG_2.0-F58 fra https://www.w3.org/TR/WCAG20-TECHS/F58
WCAG_2.0-F54 eng https://www.w3.org/TR/WCAG20-TECHS/F54
WCAG_2.0-F54 fra https://www.w3.org/TR/WCAG20-TECHS/F54
WCAG_2.0-F55 eng https://www.w3.org/TR/WCAG20-TECHS/F55
WCAG_2.0-F55 fra https://www.w3.org/TR/WCAG20-TECHS/F55
WCAG_2.0-F62 eng https://www.w3.org/TR/WCAG20-TECHS/F62
WCAG_2.0-F62 fra https://www.w3.org/TR/WCAG20-TECHS/F62
WCAG_2.0-F65 eng https://www.w3.org/TR/WCAG20-TECHS/F65
WCAG_2.0-F65 fra https://www.w3.org/TR/WCAG20-TECHS/F65
WCAG_2.0-F66 eng https://www.w3.org/TR/WCAG20-TECHS/F66
WCAG_2.0-F66 fra https://www.w3.org/TR/WCAG20-TECHS/F66
WCAG_2.0-F68 eng https://www.w3.org/TR/WCAG20-TECHS/F68
WCAG_2.0-F68 fra https://www.w3.org/TR/WCAG20-TECHS/F68
WCAG_2.0-F70 eng https://www.w3.org/TR/WCAG20-TECHS/F70
WCAG_2.0-F70 fra https://www.w3.org/TR/WCAG20-TECHS/F70
WCAG_2.0-F77 eng https://www.w3.org/TR/WCAG20-TECHS/F77
WCAG_2.0-F77 fra https://www.w3.org/TR/WCAG20-TECHS/F77
WCAG_2.0-F87 eng https://www.w3.org/TR/WCAG20-TECHS/F87
WCAG_2.0-F87 fra https://www.w3.org/TR/WCAG20-TECHS/F87
WCAG_2.0-F89 eng https://www.w3.org/TR/WCAG20-TECHS/F89
WCAG_2.0-F89 fra https://www.w3.org/TR/WCAG20-TECHS/F89
WCAG_2.0-F92 eng https://www.w3.org/TR/WCAG20-TECHS/F92
WCAG_2.0-F92 fra https://www.w3.org/TR/WCAG20-TECHS/F92
#WCAG_2.0-G4 eng https://www.w3.org/TR/WCAG20-TECHS/G4
#WCAG_2.0-G4 fra https://www.w3.org/TR/WCAG20-TECHS/G4
WCAG_2.0-G18 eng https://www.w3.org/TR/WCAG20-TECHS/G18
WCAG_2.0-G18 fra https://www.w3.org/TR/WCAG20-TECHS/G18
WCAG_2.0-G19 eng https://www.w3.org/TR/WCAG20-TECHS/G19
WCAG_2.0-G19 fra https://www.w3.org/TR/WCAG20-TECHS/G19
WCAG_2.0-G87 eng https://www.w3.org/TR/WCAG20-TECHS/G87
WCAG_2.0-G87 fra https://www.w3.org/TR/WCAG20-TECHS/G87
WCAG_2.0-G94 eng https://www.w3.org/TR/WCAG20-TECHS/G94
WCAG_2.0-G94 fra https://www.w3.org/TR/WCAG20-TECHS/G94
WCAG_2.0-G115 eng https://www.w3.org/TR/WCAG20-TECHS/G115
WCAG_2.0-G115 fra https://www.w3.org/TR/WCAG20-TECHS/G115
WCAG_2.0-G125 eng https://www.w3.org/TR/WCAG20-TECHS/G125
WCAG_2.0-G125 fra https://www.w3.org/TR/WCAG20-TECHS/G125
WCAG_2.0-G130 eng https://www.w3.org/TR/WCAG20-TECHS/G130
WCAG_2.0-G130 fra https://www.w3.org/TR/WCAG20-TECHS/G130
WCAG_2.0-G131 eng https://www.w3.org/TR/WCAG20-TECHS/G131
WCAG_2.0-G131 fra https://www.w3.org/TR/WCAG20-TECHS/G131
WCAG_2.0-G134 eng https://www.w3.org/TR/WCAG20-TECHS/G134
WCAG_2.0-G134 fra https://www.w3.org/TR/WCAG20-TECHS/G134
#WCAG_2.0-G141 eng https://www.w3.org/TR/WCAG20-TECHS/G141
#WCAG_2.0-G141 fra https://www.w3.org/TR/WCAG20-TECHS/G141
WCAG_2.0-G142 eng https://www.w3.org/TR/WCAG20-TECHS/G142
WCAG_2.0-G142 fra https://www.w3.org/TR/WCAG20-TECHS/G142
WCAG_2.0-G145 eng https://www.w3.org/TR/WCAG20-TECHS/G145
WCAG_2.0-G145 fra https://www.w3.org/TR/WCAG20-TECHS/G145
WCAG_2.0-G152 eng https://www.w3.org/TR/WCAG20-TECHS/G152
WCAG_2.0-G152 fra https://www.w3.org/TR/WCAG20-TECHS/G152
WCAG_2.0-G197 eng https://www.w3.org/TR/WCAG20-TECHS/G197
WCAG_2.0-G197 fra https://www.w3.org/TR/WCAG20-TECHS/G197
WCAG_2.0-H2 eng https://www.w3.org/TR/WCAG20-TECHS/H2
WCAG_2.0-H2 fra https://www.w3.org/TR/WCAG20-TECHS/H2
WCAG_2.0-H24 eng https://www.w3.org/TR/WCAG20-TECHS/H24
WCAG_2.0-H24 fra https://www.w3.org/TR/WCAG20-TECHS/H24
WCAG_2.0-H25 eng https://www.w3.org/TR/WCAG20-TECHS/H25
WCAG_2.0-H25 fra https://www.w3.org/TR/WCAG20-TECHS/H25
WCAG_2.0-H27 eng https://www.w3.org/TR/WCAG20-TECHS/H27
WCAG_2.0-H27 fra https://www.w3.org/TR/WCAG20-TECHS/H27
WCAG_2.0-H30 eng https://www.w3.org/TR/WCAG20-TECHS/H30
WCAG_2.0-H30 fra https://www.w3.org/TR/WCAG20-TECHS/H30
WCAG_2.0-H32 eng https://www.w3.org/TR/WCAG20-TECHS/H32
WCAG_2.0-H32 fra https://www.w3.org/TR/WCAG20-TECHS/H32
WCAG_2.0-H33 eng https://www.w3.org/TR/WCAG20-TECHS/H33
WCAG_2.0-H33 fra https://www.w3.org/TR/WCAG20-TECHS/H33
WCAG_2.0-H35 eng https://www.w3.org/TR/WCAG20-TECHS/H35
WCAG_2.0-H35 fra https://www.w3.org/TR/WCAG20-TECHS/H35
WCAG_2.0-H36 eng https://www.w3.org/TR/WCAG20-TECHS/H36
WCAG_2.0-H36 fra https://www.w3.org/TR/WCAG20-TECHS/H36
#WCAG_2.0-H37 eng https://www.w3.org/TR/WCAG20-TECHS/H37
#WCAG_2.0-H37 fra https://www.w3.org/TR/WCAG20-TECHS/H37
WCAG_2.0-H39 eng https://www.w3.org/TR/WCAG20-TECHS/H39
WCAG_2.0-H39 fra https://www.w3.org/TR/WCAG20-TECHS/H39
WCAG_2.0-H42 eng https://www.w3.org/TR/WCAG20-TECHS/H42
WCAG_2.0-H42 fra https://www.w3.org/TR/WCAG20-TECHS/H42
WCAG_2.0-H43 eng https://www.w3.org/TR/WCAG20-TECHS/H43
WCAG_2.0-H43 fra https://www.w3.org/TR/WCAG20-TECHS/H43
WCAG_2.0-H44 eng https://www.w3.org/TR/WCAG20-TECHS/H44
WCAG_2.0-H44 fra https://www.w3.org/TR/WCAG20-TECHS/H44
WCAG_2.0-H45 eng https://www.w3.org/TR/WCAG20-TECHS/H45
WCAG_2.0-H45 fra https://www.w3.org/TR/WCAG20-TECHS/H45
WCAG_2.0-H46 eng https://www.w3.org/TR/WCAG20-TECHS/H46
WCAG_2.0-H46 fra https://www.w3.org/TR/WCAG20-TECHS/H46
WCAG_2.0-H48 eng https://www.w3.org/TR/WCAG20-TECHS/H48
WCAG_2.0-H48 fra https://www.w3.org/TR/WCAG20-TECHS/H48
WCAG_2.0-H51 eng https://www.w3.org/TR/WCAG20-TECHS/H51
WCAG_2.0-H51 fra https://www.w3.org/TR/WCAG20-TECHS/H51
WCAG_2.0-H53 eng https://www.w3.org/TR/WCAG20-TECHS/H53
WCAG_2.0-H53 fra https://www.w3.org/TR/WCAG20-TECHS/H53
WCAG_2.0-H57 eng https://www.w3.org/TR/WCAG20-TECHS/H57
WCAG_2.0-H57 fra https://www.w3.org/TR/WCAG20-TECHS/H57
WCAG_2.0-H58 eng https://www.w3.org/TR/WCAG20-TECHS/H58
WCAG_2.0-H58 fra https://www.w3.org/TR/WCAG20-TECHS/H58
WCAG_2.0-H64 eng https://www.w3.org/TR/WCAG20-TECHS/H64
WCAG_2.0-H64 fra https://www.w3.org/TR/WCAG20-TECHS/H64
WCAG_2.0-H65 eng https://www.w3.org/TR/WCAG20-TECHS/H65
WCAG_2.0-H65 fra https://www.w3.org/TR/WCAG20-TECHS/H65
WCAG_2.0-H67 eng https://www.w3.org/TR/WCAG20-TECHS/H67
WCAG_2.0-H67 fra https://www.w3.org/TR/WCAG20-TECHS/H67
WCAG_2.0-H71 eng https://www.w3.org/TR/WCAG20-TECHS/H71
WCAG_2.0-H71 fra https://www.w3.org/TR/WCAG20-TECHS/H71
WCAG_2.0-H73 eng https://www.w3.org/TR/WCAG20-TECHS/H73
WCAG_2.0-H73 fra https://www.w3.org/TR/WCAG20-TECHS/H73
WCAG_2.0-H74 eng https://www.w3.org/TR/WCAG20-TECHS/H74
WCAG_2.0-H74 fra https://www.w3.org/TR/WCAG20-TECHS/H74
WCAG_2.0-H88 eng https://www.w3.org/TR/WCAG20-TECHS/H88
WCAG_2.0-H88 fra https://www.w3.org/TR/WCAG20-TECHS/H88
WCAG_2.0-H91 eng https://www.w3.org/TR/WCAG20-TECHS/H91
WCAG_2.0-H91 fra https://www.w3.org/TR/WCAG20-TECHS/H91
WCAG_2.0-H94 eng https://www.w3.org/TR/WCAG20-TECHS/H94
WCAG_2.0-H94 fra https://www.w3.org/TR/WCAG20-TECHS/H94
WCAG_2.0-PDF1 eng https://www.w3.org/TR/WCAG20-TECHS/PDF1
WCAG_2.0-PDF1 fra https://www.w3.org/TR/WCAG20-TECHS/PDF1
WCAG_2.0-PDF2 eng https://www.w3.org/TR/WCAG20-TECHS/PDF2
WCAG_2.0-PDF2 fra https://www.w3.org/TR/WCAG20-TECHS/PDF2
WCAG_2.0-PDF6 eng https://www.w3.org/TR/WCAG20-TECHS/PDF6
WCAG_2.0-PDF6 fra https://www.w3.org/TR/WCAG20-TECHS/PDF6
WCAG_2.0-PDF12 eng https://www.w3.org/TR/WCAG20-TECHS/PDF12
WCAG_2.0-PDF12 fra https://www.w3.org/TR/WCAG20-TECHS/PDF12
WCAG_2.0-PDF16 eng https://www.w3.org/TR/WCAG20-TECHS/PDF16
WCAG_2.0-PDF16 fra https://www.w3.org/TR/WCAG20-TECHS/PDF16
WCAG_2.0-PDF18 eng https://www.w3.org/TR/WCAG20-TECHS/PDF18
WCAG_2.0-PDF18 fra https://www.w3.org/TR/WCAG20-TECHS/PDF18
WCAG_2.0-SC1.3.1 eng https://www.w3.org/TR/UNDERSTANDING-WCAG20/content-structure-separation-programmatic.html
WCAG_2.0-SC1.3.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/content-structure-separation-programmatic.html
WCAG_2.0-SC1.4.4 eng https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-scale.html
WCAG_2.0-SC1.4,4 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/visual-audio-contrast-scale.html
WCAG_2.0-SC3.1.1 eng https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-doc-lang-id.html
WCAG_2.0-SC3.1.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/meaning-doc-lang-id.html
WCAG_2.0-SCR20 eng https://www.w3.org/TR/WCAG20-TECHS/SCR20
WCAG_2.0-SCR20 fra https://www.w3.org/TR/WCAG20-TECHS/SCR20
WCAG_2.0-SCR21 eng https://www.w3.org/TR/WCAG20-TECHS/SCR21
WCAG_2.0-SCR21 fra https://www.w3.org/TR/WCAG20-TECHS/SCR21

#
# WCAG Success criteria help URLs
#
1.1.1 eng https://www.w3.org/WAI/WCAG20/quickref/#text-equiv-all
1.1.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/text-equiv-all.html
1.2.1 eng https://www.w3.org/WAI/WCAG20/quickref/#media-equiv-av-only-alt
1.2.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/media-equiv-av-only-alt.html
1.2.2 eng https://www.w3.org/WAI/WCAG20/quickref/#media-equiv-captions
1.2.2 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/media-equiv-captions.html
1.2.3 eng https://www.w3.org/WAI/WCAG20/quickref/#media-equiv-audio-desc
1.2.3 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/media-equiv-audio-desc.html
1.2.4 eng https://www.w3.org/WAI/WCAG20/quickref/#media-equiv-real-time-captions
1.2.4 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/media-equiv-real-time-captions.html
1.2.5 eng https://www.w3.org/WAI/WCAG20/quickref/#media-equiv-audio-desc-only
1.2.5 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/media-equiv-audio-desc-only.html
1.3.1 eng https://www.w3.org/WAI/WCAG20/quickref/#content-structure-separation-programmatic
1.3.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/content-structure-separation-programmatic.html
1.3.2 eng https://www.w3.org/WAI/WCAG20/quickref/#content-structure-separation-sequence
1.3.2 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/content-structure-separation-sequence.html
1.3.3 eng https://www.w3.org/WAI/WCAG20/quickref/#content-structure-separation-understanding
1.3.3 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/content-structure-separation-programmatic.html
1.4.1 eng https://www.w3.org/WAI/WCAG20/quickref/#visual-audio-contrast-without-color
1.4.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/visual-audio-contrast-without-color.html
1.4.2 eng https://www.w3.org/WAI/WCAG20/quickref/#visual-audio-contrast-dis-audio
1.4.2 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/visual-audio-contrast-dis-audio.html
1.4.3 eng https://www.w3.org/WAI/WCAG20/quickref/#visual-audio-contrast-contrast
1.4.3 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/visual-audio-contrast-contrast.html
1.4.4 eng https://www.w3.org/WAI/WCAG20/quickref/#visual-audio-contrast-scale
1.4.4 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/visual-audio-contrast-scale.html
1.4.5 eng https://www.w3.org/WAI/WCAG20/quickref/#visual-audio-contrast-text-presentation
1.4.5 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/visual-audio-contrast-text-presentation.html
2.1.1 eng https://www.w3.org/WAI/WCAG20/quickref/#keyboard-operation-keyboard-operable
2.1.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/keyboard-operation-keyboard-operable.html
2.1.2 eng https://www.w3.org/WAI/WCAG20/quickref/#keyboard-operation-trapping
2.1.2 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/keyboard-operation-trapping.html
2.2.1 eng https://www.w3.org/WAI/WCAG20/quickref/#time-limits-required-behaviors
2.2.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/time-limits-required-behaviors.html
2.2.2 eng https://www.w3.org/WAI/WCAG20/quickref/#time-limits-pause
2.2.2 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/time-limits-pause.html
2.3.1 eng https://www.w3.org/WAI/WCAG20/quickref/#seizure-does-not-violate
2.3.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/seizure-does-not-violate.html
2.4.1 eng https://www.w3.org/WAI/WCAG20/quickref/#navigation-mechanisms-skip
2.4.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/navigation-mechanisms-skip.html
2.4.2 eng https://www.w3.org/WAI/WCAG20/quickref/#navigation-mechanisms-title
2.4.2 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/navigation-mechanisms-title.html
2.4.3 eng https://www.w3.org/WAI/WCAG20/quickref/#navigation-mechanisms-focus-order
2.4.3 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/navigation-mechanisms-focus-order.html
2.4.4 eng https://www.w3.org/WAI/WCAG20/quickref/#navigation-mechanisms-refs
2.4.4 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/navigation-mechanisms-refs.html
2.4.5 eng https://www.w3.org/WAI/WCAG20/quickref/#navigation-mechanisms-mult-loc
2.4.5 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/navigation-mechanisms-mult-loc.html
2.4.6 eng https://www.w3.org/WAI/WCAG20/quickref/#navigation-mechanisms-descriptive
2.4.6 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/navigation-mechanisms-descriptive.html
2.4.7 eng https://www.w3.org/WAI/WCAG20/quickref/#navigation-mechanisms-focus-visible
2.4.7 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/navigation-mechanisms-focus-visible.html
3.1.1 eng https://www.w3.org/WAI/WCAG20/quickref/#meaning-doc-lang-id
3.1.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/meaning-doc-lang-id.html
3.1.2 eng https://www.w3.org/WAI/WCAG20/quickref/#meaning-other-lang-id
3.1.2 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/meaning-other-lang-id.html
3.2.1 eng https://www.w3.org/WAI/WCAG20/quickref/#consistent-behavior-receive-focus
3.2.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/consistent-behavior-receive-focus.html
3.2.2 eng https://www.w3.org/WAI/WCAG20/quickref/#consistent-behavior-unpredictable-change
3.2.2 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/consistent-behavior-unpredictable-change.html
3.2.3 eng https://www.w3.org/WAI/WCAG20/quickref/#consistent-behavior-consistent-locations
3.2.3 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/consistent-behavior-consistent-locations.html
3.2.4 eng https://www.w3.org/WAI/WCAG20/quickref/#consistent-behavior-consistent-functionality
3.2.4 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/consistent-behavior-consistent-functionality.html
3.3.1 eng https://www.w3.org/WAI/WCAG20/quickref/#minimize-error-identified
3.3.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/minimize-error-identified.html
3.3.2 eng https://www.w3.org/WAI/WCAG20/quickref/#minimize-error-cues
3.3.2 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/minimize-error-cues.html
3.3.3 eng https://www.w3.org/WAI/WCAG20/quickref/#minimize-error-suggestions
3.3.3 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/minimize-error-suggestions.html
3.3.4 eng https://www.w3.org/WAI/WCAG20/quickref/#minimize-error-reversible
3.3.4 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/minimize-error-reversible.html
4.1.1 eng https://www.w3.org/WAI/WCAG20/quickref/#ensure-compat-parses
4.1.1 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/ensure-compat-parses.html
4.1.2 eng https://www.w3.org/WAI/WCAG20/quickref/#ensure-compat-rsv
4.1.2 fra http://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/ensure-compat-rsv.html


