#***********************************************************************
#
# Name:   wpss_tool.config
#
# $Revision: 6042 $
# $URL: svn://10.36.20.226/trunk/Web_Checks/Validator_GUI/Tools/wpss_tool.config $
# $Date: 2012-10-16 15:56:14 -0400 (Tue, 16 Oct 2012) $
#
# Description:
#   This file contains the configuration parameters for the standalone
# WPSS validation tool. The parameters appear as name/value pairs 
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#   Domain_Alias - primary domain and its alias
#
#***********************************************************************

#
# Domain aliases (primary, alias)
#
Domain_Alias www.tpsgc-pwgsc.gc.ca www.pwgsc.gc.ca
Domain_Alias www.tpsgc-pwgsc.gc.ca www.tpsgc.gc.ca
Domain_Alias publiservice.tpsgc-pwgsc.gc.ca publiservice.pwgsc.gc.ca
Domain_Alias publiservice.tpsgc-pwgsc.gc.ca publiservice.tpsgc.gc.ca
Domain_Alias source.tpsgc-pwgsc.gc.ca source.pwgsc.gc.ca
Domain_Alias source.tpsgc-pwgsc.gc.ca source.tpsgc.gc.ca
Domain_Alias webdev02.tpsgc-pwgsc.gc.ca webdev02.pwgsc.gc.ca
Domain_Alias webdev02.tpsgc-pwgsc.gc.ca webdev02.tpsgc.gc.ca
Domain_Alias webdev08.tpsgc-pwgsc.gc.ca webdev08.pwgsc.gc.ca
Domain_Alias webdev08.tpsgc-pwgsc.gc.ca webdev08.tpsgc.gc.ca
Domain_Alias webdev.tpsgc-pwgsc.gc.ca webdev.pwgsc.gc.ca
Domain_Alias webdev.tpsgc-pwgsc.gc.ca webdev.tpsgc.gc.ca

#
# Production & Development domain mapping
#
Domain_Prod_Dev www.tpsgc-pwgsc.gc.ca webdev02.tpsgc-pwgsc.gc.ca
Domain_Prod_Dev publiservice.tpsgc-pwgsc.gc.ca webdev028tpsgc-pwgsc.gc.ca
Domain_Prod_Dev source.tpsgc-pwgsc.gc.ca webdev.tpsgc-pwgsc.gc.ca

#
# Domain networkscope (domain name, network scope)
# Network scope values
#  6 =Internet
#  5 = GC Intranet (aka publiservice)
#  4 = PWGSC Intranet
#  3 = Internet development
#  2 = GC Intranet development
#  1 = PWGSC Intranet development
#
Domain_Networkscope www.tpsgc-pwgsc.gc.ca 6
Domain_Networkscope publiservice.tpsgc-pwgsc.gc.ca 4
Domain_Networkscope source.tpsgc-pwgsc.gc.ca 2
Domain_Networkscope webdev02.tpsgc-pwgsc.gc.ca 5
Domain_Networkscope webdev08.tpsgc-pwgsc.gc.ca 3
Domain_Networkscope webdev.tpsgc-pwgsc.gc.ca 1

#   
# Patterns for paths to ignore when checking redirects
# (don't include leading / nor domain name)
#   
Redirect_Ignore_Pattern cgi-bin/language.pl

#
# Patterns of URLs to ignore
#
Link_Ignore_Pattern  http://purl.org/
Link_Ignore_Pattern  http://www.barreau.qc.ca
Link_Ignore_Pattern  http://twitter.com
Link_Ignore_Pattern  https://twitter.com

#
# Patterns of URLs for the crawler to ignore
#
#Crawler_Link_Ignore_Pattern

#
# Crawler configuration, host name of user agent
#  (default is workstation hostname)
#
#User_Agent_Hostname

#
# Max User Agent Size limits the size of files accepted in a GET
# request.  A value of 0 means we can accept documents of any size.
# A value of 0 also removes the Range field from the HTTP header.
#
#User_Agent_Max_Size 0


#
# Crawler user agent name
#
User_Agent_Name Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.9.2.23) Gecko/20110920 WPSS_Tool (.NET CLR 3.5.30729)

#
# The following are patterns for firewall URL filtering.
#
Firewall_Block_Pattern /cgi-bin/blockpage.cgi

#
# Patterns for files to ignore for the TQA Check module.
#
TQA_CHECK_Ignore_Pattern /base.css
TQA_CHECK_Ignore_Pattern /base-institution.css
TQA_CHECK_Ignore_Pattern /pe-ap.js
TQA_CHECK_Ignore_Pattern /boew-wet/

#
# Patterns for files to ignore for validation.
#
Validation_Ignore_Pattern /pe-ap.js
Validation_Ignore_Pattern /clf20/js/
Validation_Ignore_Pattern /scripts/
Validation_Ignore_Pattern /boew-wet/

#
# List of decorative image URLs.
# These may be abolute URLs (leading http & domain) or relative
# (no http or domain)
#
Decorative_Image_URL /clf20/images/tphp.gif
Decorative_Image_URL /images/tphp.gif

#
# List of non-decorative image URLs
#
Non_Decorative_Image_URL /clf20/images/wmms.gif
Non_Decorative_Image_URL /images/wmms.gif

