#***********************************************************************
#
# Name:   wpss_tool.config
#
# $Revision: 7577 $
# $URL: svn://10.36.21.45/trunk/Web_Checks/Validator_GUI/Tools/wpss_tool.config $
# $Date: 2016-05-25 08:09:28 -0400 (Wed, 25 May 2016) $
#
# Description:
#   This file contains the configuration parameters for the standalone
# WPSS validation tool. The parameters appear as name/value pairs 
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#   Domain_Alias - primary domain and its alias
#
#***********************************************************************

#
# Domain aliases (primary, alias)
#
Domain_Alias www.tpsgc-pwgsc.gc.ca www.pwgsc.gc.ca
Domain_Alias www.tpsgc-pwgsc.gc.ca www.tpsgc.gc.ca
Domain_Alias publiservice.tpsgc-pwgsc.gc.ca publiservice.pwgsc.gc.ca
Domain_Alias publiservice.tpsgc-pwgsc.gc.ca publiservice.tpsgc.gc.ca
Domain_Alias source.tpsgc-pwgsc.gc.ca source.pwgsc.gc.ca
Domain_Alias source.tpsgc-pwgsc.gc.ca source.tpsgc.gc.ca
Domain_Alias webdev02.tpsgc-pwgsc.gc.ca webdev02.pwgsc.gc.ca
Domain_Alias webdev02.tpsgc-pwgsc.gc.ca webdev02.tpsgc.gc.ca
Domain_Alias webdev08.tpsgc-pwgsc.gc.ca webdev08.pwgsc.gc.ca
Domain_Alias webdev08.tpsgc-pwgsc.gc.ca webdev08.tpsgc.gc.ca
Domain_Alias webdev.tpsgc-pwgsc.gc.ca webdev.pwgsc.gc.ca
Domain_Alias webdev.tpsgc-pwgsc.gc.ca webdev.tpsgc.gc.ca

#
# Production & Development domain mapping
#
Domain_Prod_Dev www.tpsgc-pwgsc.gc.ca webdev02.tpsgc-pwgsc.gc.ca
Domain_Prod_Dev publiservice.tpsgc-pwgsc.gc.ca webdev08.tpsgc-pwgsc.gc.ca
Domain_Prod_Dev gcintranet.tpsgc-pwgsc.gc.ca webdev08.tpsgc-pwgsc.gc.ca
Domain_Prod_Dev source.tpsgc-pwgsc.gc.ca webdev.tpsgc-pwgsc.gc.ca
Domain_Prod_Dev intranet.tpsgc-pwgsc.gc.ca webdev01.tpsgc-pwgsc.gc.ca

#
# Domain networkscope (domain name, network scope)
# Network scope values
#  6 =Internet
#  5 = GC Intranet (aka publiservice)
#  4 = PWGSC Intranet
#  3 = Internet development
#  2 = GC Intranet development
#  1 = PWGSC Intranet development
#
Domain_Networkscope www.tpsgc-pwgsc.gc.ca 6
Domain_Networkscope publiservice.tpsgc-pwgsc.gc.ca 4
Domain_Networkscope gcintranet.tpsgc-pwgsc.gc.ca 4
Domain_Networkscope source.tpsgc-pwgsc.gc.ca 2
Domain_Networkscope intranet.tpsgc-pwgsc.gc.ca 2
Domain_Networkscope webdev02.tpsgc-pwgsc.gc.ca 5
Domain_Networkscope webdev08.tpsgc-pwgsc.gc.ca 3
Domain_Networkscope webdev.tpsgc-pwgsc.gc.ca 1
Domain_Networkscope webdev01.tpsgc-pwgsc.gc.ca 1

#   
# Patterns for paths to ignore when checking redirects
# (don't include leading / nor domain name)
#   
Redirect_Ignore_Pattern cgi-bin/language.pl

#
# Patterns of URLs to ignore
#
Link_Ignore_Pattern  http://purl.org/
Link_Ignore_Pattern  http://www.barreau.qc.ca
Link_Ignore_Pattern  http://twitter.com
Link_Ignore_Pattern  https://twitter.com

#
# Patterns of URLs for the crawler to ignore
#
#Crawler_Link_Ignore_Pattern

#
# Crawler configuration, host name of user agent
#  (default is workstation hostname)
#
#User_Agent_Hostname

#
# Max User Agent Size limits the size of files accepted in a GET
# request.  A value of 0 means we can accept documents of any size.
# A value of 0 also removes the Range field from the HTTP header.
#
#User_Agent_Max_Size 0

#
# Maximum number of errors to report per URL or file.
# Default value (zero) means an unlimited number of errors may
# be reported.
#
#Maximum_Errors_Per_URL 100

#
# Crawler user agent name
#
User_Agent_Name Mozilla/5.0 (Windows NT 6.1; Trident/7.0; rv:11.0) WPSS_Tool

#
# PhantomJS settings.
# Use of markup server.  A value of 1 means we use a markup server,
# any other value means per page markup generation.
#
Use_Markup_Server 1

#
# PhantomJS Markup server port number (default is 8000)
#
Markup_Server_Port 8000

#
# The following are patterns for firewall URL filtering.
#
Firewall_Block_Pattern /cgi-bin/blockpage.cgi
Firewall_Block_Pattern https://ked1proxy02.ncr.pwgsc.gc.ca:4443
Firewall_Check_URL http://www.canada.ca/index.html

#
# Patterns for files to ignore for the TQA Check module.
#
TQA_CHECK_Ignore_Pattern /base.css
TQA_CHECK_Ignore_Pattern /base-institution.css
TQA_CHECK_Ignore_Pattern /pe-ap.js
TQA_CHECK_Ignore_Pattern /boew-wet/

#
# Patterns for files to ignore for validation.
#
Validation_Ignore_Pattern /pe-ap.js
Validation_Ignore_Pattern /clf20/js/
Validation_Ignore_Pattern /scripts/
Validation_Ignore_Pattern /boew-wet/

#
# List of decorative image URLs.
# These may be abolute URLs (leading http & domain) or relative
# (no http or domain)
#
Decorative_Image_URL /clf20/images/tphp.gif
Decorative_Image_URL /images/tphp.gif

#
# List of non-decorative image URLs
#
Non_Decorative_Image_URL /clf20/images/wmms.gif
Non_Decorative_Image_URL /images/wmms.gif

#
#***********************************************************************
#
# Testcase profiles groups
#
#  Profiles of groups of testcase profile names.  This sets the profile
# names of the individual tool checks (e.g. link checking, accessibility, ...)
#
#***********************************************************************
#

#
# PWGSC Internet WET 3.0
#
Testcase_Profile_Group_eng Internet PWGSC WET 3.0
Testcase_Profile_Group_fra Internet TPSGC BOEW 3.0
401_handling            Ignore
clf_profile             Internet PWGSC Web Usability
dept_profile            Internet PWGSC WET
html_profile            All
interop_profile         SWI
link_profile            Common
markup_validate_profile Web Pages
metadata_profile        PWGSC SWU
mobile_profile          None
pdf_profile             Common
robots_handling         Ignore robots.txt
tqa_profile             WCAG 2.0
wa_profile              TBS Web Analytics
Testcase_Profile_Group_End

#
# PWGSC Internet WET 4.0
#
Testcase_Profile_Group_eng Internet PWGSC WET 4.0
Testcase_Profile_Group_fra Internet TPSGC BOEW 4.0
401_handling            Ignore
clf_profile             Internet PWGSC Web Usability
dept_profile            Internet PWGSC WET
html_profile            All
interop_profile         SWI
link_profile            Common
markup_validate_profile Web Pages
metadata_profile        PWGSC SWU
mobile_profile          Errors
pdf_profile             Common
robots_handling         Ignore robots.txt
tqa_profile             WCAG 2.0
wa_profile              TBS Web Analytics
Testcase_Profile_Group_End

#
# PWGSC GC Intranet WET 4.0
#
Testcase_Profile_Group_eng GC Intranet PWGSC WET 4.0
Testcase_Profile_Group_fra GC Intranet TPSGC BOEW 4.0
401_handling            Ignore
clf_profile             GC Intranet PWGSC Web Usability
dept_profile            GC Intranet PWGSC WET
html_profile            All
interop_profile         SWI
link_profile            Common
markup_validate_profile Web Pages
metadata_profile        PWGSC SWU
mobile_profile          Errors
pdf_profile             Common
robots_handling         Ignore robots.txt
tqa_profile             WCAG 2.0
wa_profile              TBS Web Analytics
Testcase_Profile_Group_End

#
# PWGSC CLF 2.0
#
#Testcase_Profile_Group_eng PWGSC CLF 2.0
#Testcase_Profile_Group_fra TPSGC NSI 2.0
#401_handling            Ignore
#clf_profile             CLF 2.0
#dept_profile            Common
#html_profile            All
#interop_profile         None
#link_profile            Common
#markup_validate_profile Web Pages
#metadata_profile        PWGSC CLF 2.0
#mobile_profile          None
#pdf_profile             Common
#robots_handling         Ignore robots.txt
#tqa_profile             WCAG 2.0
#wa_profile              TBS Web Analytics
#Testcase_Profile_Group_End

#
# PWGSC Intranet WET 3.1
#
Testcase_Profile_Group_eng Intranet PWGSC WET 3.1
Testcase_Profile_Group_fra Intranet TPSGC BOEW 3.1
401_handling            Ignore
clf_profile             Intranet PWGSC Web Usability
dept_profile            Intranet PWGSC WET
html_profile            All
interop_profile         SWI
link_profile            Common
markup_validate_profile Web Pages
metadata_profile        PWGSC SWU
mobile_profile          None
pdf_profile             Common
robots_handling         Ignore robots.txt
tqa_profile             WCAG 2.0
wa_profile              TBS Web Analytics
Testcase_Profile_Group_End

#
# PWGSC Intranet WET 4.0
#
Testcase_Profile_Group_eng Intranet PWGSC WET 4.0
Testcase_Profile_Group_fra Intranet TPSGC BOEW 4.0
401_handling            Ignore
clf_profile             Intranet PWGSC Web Usability
dept_profile            Intranet PWGSC WET 4.0
html_profile            All
interop_profile         SWI
link_profile            Common
markup_validate_profile Web Pages
metadata_profile        PWGSC SWU
mobile_profile          None
pdf_profile             Common
robots_handling         Ignore robots.txt
tqa_profile             WCAG 2.0
wa_profile              TBS Web Analytics
Testcase_Profile_Group_End

#
# Canada.ca WET 4.0 using PWGSC developed template package
#
Testcase_Profile_Group_eng Canada.ca PWGSC WET 4.0
Testcase_Profile_Group_fra Canada.ca TPSGC BOEW 4.0
401_handling            Ignore
clf_profile             Canada.ca
dept_profile            Canada.ca PWGSC WET
html_profile            All
interop_profile         SWI
link_profile            Common
markup_validate_profile Web Pages
metadata_profile        Canada.ca
mobile_profile          Errors
pdf_profile             Common
robots_handling         Ignore robots.txt
tqa_profile             WCAG 2.0
wa_profile              TBS Web Analytics
Testcase_Profile_Group_End

#
# Canada.ca WET 4.0
#
Testcase_Profile_Group_eng Canada.ca WET 4.0
Testcase_Profile_Group_fra Canada.ca BOEW 4.0
401_handling            Ignore
clf_profile             Canada.ca
dept_profile            Common
html_profile            All
interop_profile         SWI
link_profile            Common
markup_validate_profile Web Pages
metadata_profile        Canada.ca
mobile_profile          Errors
pdf_profile             Common
robots_handling         Ignore robots.txt
tqa_profile             WCAG 2.0
wa_profile              TBS Web Analytics
Testcase_Profile_Group_End

#
# Web Usability Internet WET 3.0
#
#Testcase_Profile_Group_eng Internet TBS WET 3.0
#Testcase_Profile_Group_fra Internet SCT BOEW 3.0
#401_handling            Ignore
#clf_profile             Internet TBS Web Usability
#dept_profile            Common
#html_profile            All
#interop_profile         SWI
#link_profile            Common
#markup_validate_profile Web Pages
#metadata_profile        TBS SWU
#mobile_profile          None
#pdf_profile             Common
#robots_handling         Ignore robots.txt
#tqa_profile             WCAG 2.0
#wa_profile              TBS Web Analytics
#Testcase_Profile_Group_End

#
# Web Usability Internet WET 4.0
#
Testcase_Profile_Group_eng Internet TBS WET 4.0
Testcase_Profile_Group_fra Internet SCT BOEW 4.0
401_handling            Ignore
clf_profile             Internet TBS Web Usability
dept_profile            Common
html_profile            All
interop_profile         SWI
link_profile            Common
markup_validate_profile Web Pages
metadata_profile        TBS SWU
mobile_profile          Errors
pdf_profile             Common
robots_handling         Ignore robots.txt
tqa_profile             WCAG 2.0
wa_profile              TBS Web Analytics
Testcase_Profile_Group_End

#
# Accessibility only
#
Testcase_Profile_Group_eng WCAG 2.0
Testcase_Profile_Group_fra WCAG 2.0
401_handling            Ignore
clf_profile             None
dept_profile            None
html_profile            None
interop_profile         None
link_profile            None
markup_validate_profile Web Pages
metadata_profile        None
mobile_profile          None
pdf_profile             None
robots_handling         Ignore robots.txt
tqa_profile             WCAG 2.0
wa_profile              None
Testcase_Profile_Group_End

#
# Common profile for regular (non-GC) web sites
#
Testcase_Profile_Group_eng Common
Testcase_Profile_Group_fra Commun
401_handling            Ignore
clf_profile             None
dept_profile            Common
html_profile            All
interop_profile         None
link_profile            Common
markup_validate_profile Web Pages
metadata_profile        None
mobile_profile          Common
pdf_profile             Common
robots_handling         Ignore robots.txt
tqa_profile             WCAG 2.0
wa_profile              None
Testcase_Profile_Group_End

#
# No checking, page inventory only
#
Testcase_Profile_Group_eng None
Testcase_Profile_Group_fra Aucun
401_handling            Ignore
clf_profile             None
dept_profile            None
html_profile            None
interop_profile         None
link_profile            None
markup_validate_profile None
metadata_profile        None
mobile_profile          None
pdf_profile             None
robots_handling         Ignore robots.txt
tqa_profile             None
wa_profile              None
Testcase_Profile_Group_End

#
# Custom group
#
Testcase_Profile_Group_eng Custom
Testcase_Profile_Group_fra Coutume
Testcase_Profile_Group_End

#
#***********************************************************************
#
# GUI Toolkit configuration items
#
#***********************************************************************
#
GUI_DIRECT_HTML_SIZE  100000
GUI_URL_LIST_SIZE     100000


