#***********************************************************************
#
# Name:   web_analytics_testcase_url.config
#
# $Revision$
# $URL$
# $Date$
#
# Description:
#
#   This file contains a URL for each testcase.  The URL is
# the help or description page for the testcase.
#
# Format is
#  <testcase> <lang> <url>
#
#***********************************************************************

#
# Web Analytics checkpoints
#
WA_GA eng http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=26761&section=text#appA
WA_GA fra http://www.tbs-sct.gc.ca/pol/doc-fra.aspx?id=26761&section=text#appA
WA_ID eng http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=26761&section=text#appA
WA_ID fra http://www.tbs-sct.gc.ca/pol/doc-fra.aspx?id=26761&section=text#appA

