#***********************************************************************
#
# Name:   so_dept_check.config
#
# $Revision: 7580 $
# $URL: svn://10.36.21.45/trunk/Web_Checks/Dept_Check/Tools/so_dept_check.config $
# $Date: 2016-06-03 09:03:10 -0400 (Fri, 03 Jun 2016) $
#
# Description:
#   This file contains the configuration parameters for the Content
# Check module. The parameters appear as name/value pairs 
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# Testcase/help URL file name
#
#***********************************************************************
#
Testcase_URL_Help_File conf/content_testcase_url.config

#
#***********************************************************************
#
# PWGSC Internet WET profile
#
#***********************************************************************
#
Dept_Check_Profile_eng Internet PWGSC WET
Dept_Check_Profile_fra Internet TPSGC BOEW

#
# Testcase id
#
tcid TP_PW_ANALYTICS
tcid TP_PW_H
tcid TP_PW_MAILTO
tcid TP_PW_SRCH
tcid TP_PW_SSI
tcid TP_PW_TECH
tcid TP_PW_TEMPLATE
tcid TP_PW_URL
tcid CONTENT_URL_LANGUAGE
tcid DUPLICATE_HEADINGS
tcid DUPLICATE_TITLES
tcid HTML_PDF_TITLE
tcid LANGUAGE_HEADINGS
tcid TITLE_DC_TITLE_MATCH
tcid TITLE_DCTERMS_TITLE_MATCH

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#
testcase_data TP_PW_ANALYTICS stats.tpsgc-pwgsc.gc.ca/piwik.php?idsite=
testcase_data TP_PW_TEMPLATE DIRECTORY boew-wet
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev02.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev02.tpsgc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev02.pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://www.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://www.tpsgc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://www.pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE REPOSITORY http://www.tpsgc-pwgsc.gc.ca/boew-wet

#
# PWGSC Search testcase data
#
testcase_data TP_PW_SRCH ACTION http://search-recherche.gc.ca/rGs/s_r
testcase_data TP_PW_SRCH ACTION http://recherche-search.gc.ca/rGs/s_r
testcase_data TP_PW_SRCH INPUT cdn tpsgcpwgsc

#
#***********************************************************************
#
# PWGSC Canada.ca Internet WET profile
#
#***********************************************************************
#
Dept_Check_Profile_eng Canada.ca PWGSC WET
Dept_Check_Profile_fra Canada.ca TPSGC BOEW

#
# Testcase id
#
tcid TP_PW_H
tcid TP_PW_MAILTO
tcid TP_PW_SSI
tcid TP_PW_TECH
tcid TP_PW_TEMPLATE
tcid TP_PW_URL
tcid CONTENT_URL_LANGUAGE
tcid DUPLICATE_HEADINGS
tcid DUPLICATE_TITLES
tcid HTML_PDF_TITLE
tcid LANGUAGE_HEADINGS
tcid TITLE_DC_TITLE_MATCH
tcid TITLE_DCTERMS_TITLE_MATCH

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#
testcase_data TP_PW_TEMPLATE DIRECTORY boew-wet
testcase_data TP_PW_TEMPLATE REPOSITORY http://webdev.tpsgc-pwgsc.gc.ca/boew-wet

#
#***********************************************************************
#
# PWGSC GC Intranet WET profile
#
#***********************************************************************
#
Dept_Check_Profile_eng GC Intranet PWGSC WET
Dept_Check_Profile_fra Intranet GC TPSGC BOEW

#
# Testcase id
#
tcid TP_PW_ANALYTICS
tcid TP_PW_H
tcid TP_PW_MAILTO
tcid TP_PW_SRCH
tcid TP_PW_SSI
tcid TP_PW_TECH
tcid TP_PW_TEMPLATE
tcid TP_PW_URL
tcid CONTENT_URL_LANGUAGE
tcid DUPLICATE_HEADINGS
tcid DUPLICATE_TITLES
tcid HTML_PDF_TITLE
tcid LANGUAGE_HEADINGS
tcid TITLE_DC_TITLE_MATCH
tcid TITLE_DCTERMS_TITLE_MATCH

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#
testcase_data TP_PW_ANALYTICS stats.tpsgc-pwgsc.gc.ca/piwik.php?idsite=
testcase_data TP_PW_TEMPLATE DIRECTORY boew-wet
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev08.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev08.tpsgc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev08.pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://publiservice.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://publiservice.tpsgc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://publiservice.pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://gcintranet.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://gcintranet.tpsgc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://gcintranet.pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE REPOSITORY http://gcintranet.tpsgc-pwgsc.gc.ca/boew-wet

#
# PWGSC Search testcase data
#
testcase_data TP_PW_SRCH ACTION http://recherche-search.publiservice.gc.ca/s_r?
testcase_data TP_PW_SRCH ACTION http://recherche-search.publiservice.gc.ca/s_r?
testcase_data TP_PW_SRCH INPUT s5t34d tpsgcpwgsc



#
#***********************************************************************
#
# PWGSC Intranet WET profile
#
#***********************************************************************
#
Dept_Check_Profile_eng Intranet PWGSC WET
Dept_Check_Profile_fra Intranet TPSGC BOEW

#
# Testcase id
#
tcid TP_PW_ANALYTICS
tcid TP_PW_H
tcid TP_PW_MAILTO
tcid TP_PW_SRCH
tcid TP_PW_SSI
tcid TP_PW_TECH
tcid TP_PW_TEMPLATE
tcid TP_PW_URL
tcid CONTENT_URL_LANGUAGE
tcid DUPLICATE_HEADINGS
tcid DUPLICATE_TITLES
tcid HTML_PDF_TITLE
tcid LANGUAGE_HEADINGS
tcid TITLE_DC_TITLE_MATCH
tcid TITLE_DCTERMS_TITLE_MATCH

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#
testcase_data TP_PW_ANALYTICS stats-int.tpsgc-pwgsc.gc.ca/piwik.php?idsite=
testcase_data TP_PW_TEMPLATE DIRECTORY boew-wet
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev01.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev01.tpsgc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev01.pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://intranet.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://intranet.tpsgc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://intranet.pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE REPOSITORY http://intranet.tpsgc-pwgsc.gc.ca/boew-wet

#
# PWGSC Search testcase data
#
testcase_data TP_PW_SRCH ACTION http://rch-sch.tpsgc-pwgsc.gc.ca/s_r
testcase_data TP_PW_SRCH ACTION http://rch-sch.spac-pspc.gc.ca/s_r


#
#***********************************************************************
#
# Common checkpoints profile
#
#***********************************************************************
#
Dept_Check_Profile_eng Common
Dept_Check_Profile_fra Commun

#
# Testcase id
#
tcid TP_PW_H
tcid TP_PW_MAILTO
tcid TP_PW_SSI
tcid TP_PW_TECH
tcid CONTENT_URL_LANGUAGE
tcid DUPLICATE_HEADINGS
tcid DUPLICATE_TITLES
tcid HTML_PDF_TITLE
tcid LANGUAGE_HEADINGS
tcid TITLE_DC_TITLE_MATCH
tcid TITLE_DCTERMS_TITLE_MATCH


#
#***********************************************************************
#
#  Empty profile
#
#***********************************************************************
#
Dept_Check_Profile_eng None
Dept_Check_Profile_fra Aucun

