#***********************************************************************
#
# Name:   so_dept_check.config
#
# $Revision: 6654 $
# $URL: svn://10.36.20.226/trunk/Web_Checks/Dept_Check/Tools/so_dept_check.config $
# $Date: 2014-05-28 08:21:40 -0400 (Wed, 28 May 2014) $
#
# Description:
#   This file contains the configuration parameters for the Content
# Check module. The parameters appear as name/value pairs 
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# Testcase/help URL file name
#
#***********************************************************************
#
Testcase_URL_Help_File conf/content_testcase_url.config

#
#***********************************************************************
#
# PWGSC profile
#
#***********************************************************************
#
Dept_Check_Profile_eng PWGSC SWU
Dept_Check_Profile_fra TPSGC NFE

#
# Testcase id
#
tcid TP_PW_H
tcid TP_PW_MAILTO
tcid TP_PW_SITE
tcid TP_PW_SRCH
tcid TP_PW_SSI
tcid TP_PW_TECH
tcid TP_PW_TEMPLATE
tcid TP_PW_URL
tcid CONTENT_URL_LANGUAGE
tcid DUPLICATE_HEADINGS
tcid DUPLICATE_TITLES
tcid HTML_PDF_TITLE
tcid LANGUAGE_HEADINGS
tcid TITLE_DC_TITLE_MATCH
tcid TITLE_DCTERMS_TITLE_MATCH

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#
testcase_data TP_PW_TEMPLATE DIRECTORY boew-wet
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev02.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev02.tpsgc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev02.pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://www.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://www.tpsgc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://www.pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE REPOSITORY http://www.tpsgc-pwgsc.gc.ca/boew-wet
testcase_data TP_PW_TEMPLATE MARKERS wb-cont
testcase_data TP_PW_SITE DIRECTORY site
testcase_data TP_PW_SITE TRUSTED http://webdev02.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_SITE TRUSTED http://webdev02.tpsgc.gc.ca
testcase_data TP_PW_SITE TRUSTED http://webdev02.pwgsc.gc.ca
testcase_data TP_PW_SITE TRUSTED http://www.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_SITE TRUSTED http://www.tpsgc.gc.ca
testcase_data TP_PW_SITE TRUSTED http://www.pwgsc.gc.ca
testcase_data TP_PW_SITE REPOSITORY http://www.tpsgc-pwgsc.gc.ca/site

#
# PWGSC Search testcase data
#
testcase_data TP_PW_SRCH ACTION http://search-recherche.gc.ca/rGs/s_r
testcase_data TP_PW_SRCH ACTION http://recherche-search.gc.ca/rGs/s_r
testcase_data TP_PW_SRCH INPUT cdn tpsgcpwgsc

#
#***********************************************************************
#
# PWGSC profile for sites that do not carry the PWGSC banner.
#
#***********************************************************************
#
Dept_Check_Profile_eng PWGSC Common
Dept_Check_Profile_fra TPSGC Commun

#
# Testcase id
#
tcid TP_PW_H
tcid TP_PW_MAILTO
tcid TP_PW_SITE
tcid TP_PW_SSI
tcid TP_PW_TECH
tcid TP_PW_TEMPLATE
tcid TP_PW_URL
tcid CONTENT_URL_LANGUAGE
tcid DUPLICATE_HEADINGS
tcid DUPLICATE_TITLES
tcid HTML_PDF_TITLE
tcid LANGUAGE_HEADINGS
tcid TITLE_DC_TITLE_MATCH
tcid TITLE_DCTERMS_TITLE_MATCH

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#
testcase_data TP_PW_TEMPLATE DIRECTORY boew-wet
testcase_data TP_PW_TEMPLATE REPOSITORY http://www.tpsgc-pwgsc.gc.ca/boew-wet
testcase_data TP_PW_TEMPLATE MARKERS wb-core wb-head wb-cont

#
#***********************************************************************
#
# Common checkpoints profile
#
#***********************************************************************
#
Dept_Check_Profile_eng Common
Dept_Check_Profile_fra Commun

#
# Testcase id
#
tcid TP_PW_H
tcid TP_PW_MAILTO
tcid TP_PW_SSI
tcid TP_PW_TECH
tcid CONTENT_URL_LANGUAGE
tcid DUPLICATE_HEADINGS
tcid DUPLICATE_TITLES
tcid HTML_PDF_TITLE
tcid LANGUAGE_HEADINGS
tcid TITLE_DC_TITLE_MATCH
tcid TITLE_DCTERMS_TITLE_MATCH


#
#***********************************************************************
#
# PWGSC profile
#
#***********************************************************************
#
Dept_Check_Profile_eng PWGSC Intranet
Dept_Check_Profile_fra Intranet TPSGC

#
# Testcase id
#
tcid TP_PW_H
tcid TP_PW_MAILTO
tcid TP_PW_SITE
tcid TP_PW_SRCH
tcid TP_PW_SSI
tcid TP_PW_TECH
tcid TP_PW_TEMPLATE
tcid TP_PW_URL
tcid CONTENT_URL_LANGUAGE
tcid DUPLICATE_HEADINGS
tcid DUPLICATE_TITLES
tcid HTML_PDF_TITLE
tcid LANGUAGE_HEADINGS
tcid TITLE_DC_TITLE_MATCH
tcid TITLE_DCTERMS_TITLE_MATCH

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#
testcase_data TP_PW_TEMPLATE DIRECTORY boew-wet
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev01.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev01.tpsgc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://webdev01.pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://intranet.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://intranet.tpsgc.gc.ca
testcase_data TP_PW_TEMPLATE TRUSTED http://intranet.pwgsc.gc.ca
testcase_data TP_PW_TEMPLATE REPOSITORY http://intranet.tpsgc-pwgsc.gc.ca/boew-wet
testcase_data TP_PW_TEMPLATE MARKERS wb-core wb-head wb-cont
testcase_data TP_PW_SITE DIRECTORY site
testcase_data TP_PW_SITE TRUSTED http://webdev01.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_SITE TRUSTED http://webdev01.tpsgc.gc.ca
testcase_data TP_PW_SITE TRUSTED http://webdev01.pwgsc.gc.ca
testcase_data TP_PW_SITE TRUSTED http://intranet.tpsgc-pwgsc.gc.ca
testcase_data TP_PW_SITE TRUSTED http://intranet.tpsgc.gc.ca
testcase_data TP_PW_SITE TRUSTED http://intranet.pwgsc.gc.ca
testcase_data TP_PW_SITE REPOSITORY http://intranet.tpsgc-pwgsc.gc.ca/site

#
# PWGSC Search testcase data
#
testcase_data TP_PW_SRCH ACTION http://rch-sch.tpsgc-pwgsc.gc.ca/s_r

#
#***********************************************************************
#
#  Empty profile
#
#***********************************************************************
#
Dept_Check_Profile_eng None
Dept_Check_Profile_fra Aucun

