#***********************************************************************
#
# Name:   mobile_testcase_url.config
#
# $Revision: 7118 $
# $URL: svn://10.36.21.45/trunk/Web_Checks/Mobile_Check/Tools/mobile_testcase_url.config $
# $Date: 2015-05-06 07:59:09 -0400 (Wed, 06 May 2015) $
#
# Description:
#
#   This file contains a URL for each testcase.  The URL is
# the help or description page for the testcase.
#
# Format is
#  <testcase> <lang> <url>
#
#***********************************************************************

#
# Yahoo best practices checkpoints
#
COOKIE_FREE eng https://developer.yahoo.com/performance/rules.html#cookie_free
COOKIE_FREE fra https://developer.yahoo.com/performance/rules.html#cookie_free
COOKIE_SIZE eng https://developer.yahoo.com/performance/rules.html#cookie_size
COOKIE_SIZE fra https://developer.yahoo.com/performance/rules.html#cookie_size
CSS_LINK    eng https://developer.yahoo.com/performance/rules.html#csslink
CSS_LINK    fra https://developer.yahoo.com/performance/rules.html#csslink
CSS_TOP     eng https://developer.yahoo.com/performance/rules.html#css_top
CSS_TOP     fra https://developer.yahoo.com/performance/rules.html#css_top
DNS_LOOKUPS eng https://developer.yahoo.com/performance/rules.html#dns_lookups
DNS_LOOKUPS fra https://developer.yahoo.com/performance/rules.html#dns_lookups
EMPTY_SRC   eng https://developer.yahoo.com/performance/rules.html#emptysrc
EMPTY_SRC   fra https://developer.yahoo.com/performance/rules.html#emptysrc
ETAGS       eng https://developer.yahoo.com/performance/rules.html#etags
ETAGS       fra https://developer.yahoo.com/performance/rules.html#etags
EXPIRES     eng https://developer.yahoo.com/performance/rules.html#expires
EXPIRES     fra https://developer.yahoo.com/performance/rules.html#expires
EXTERNAL    eng https://developer.yahoo.com/performance/rules.html#external
FAVICON     eng https://developer.yahoo.com/performance/rules.html#favicon
FAVICON     fra https://developer.yahoo.com/performance/rules.html#favicon
GZIP        eng https://developer.yahoo.com/performance/rules.html#gzip
GZIP        fra https://developer.yahoo.com/performance/rules.html#gzip
IFRAMES     eng https://developer.yahoo.com/performance/rules.html#iframes
IFRAMES     fra https://developer.yahoo.com/performance/rules.html#iframes
JS_BOTTOM   eng https://developer.yahoo.com/performance/rules.html#js_bottom
JS_BOTTOM   fra https://developer.yahoo.com/performance/rules.html#js_bottom
JS_DUPES    eng https://developer.yahoo.com/performance/rules.html#js_dupes
JS_DUPES    fra https://developer.yahoo.com/performance/rules.html#js_dupes
MINIFY      eng https://developer.yahoo.com/performance/rules.html#minify
MINIFY      fra https://developer.yahoo.com/performance/rules.html#minify
NO_404      eng https://developer.yahoo.com/performance/rules.html#no404
NO_404      fra https://developer.yahoo.com/performance/rules.html#no404
NO_SCALE    eng https://developer.yahoo.com/performance/rules.html#no_scale
NO_SCALE    fra https://developer.yahoo.com/performance/rules.html#no_scale
NUM_HTTP    eng https://developer.yahoo.com/performance/rules.html#num_http
NUM_HTTP    fra https://developer.yahoo.com/performance/rules.html#num_http
OPT_IMAGES  eng https://developer.yahoo.com/performance/rules.html#opt_images
OPT_IMAGES  fra https://developer.yahoo.com/performance/rules.html#opt_images
REDIRECTS   eng https://developer.yahoo.com/performance/rules.html#redirects
REDIRECTS   fra https://developer.yahoo.com/performance/rules.html#redirects

