#***********************************************************************
#
# Name:   clf_testcase_url.config
#
# $Revision: 7051 $
# $URL: svn://10.36.21.45/trunk/Web_Checks/CLF_Check/Tools/clf_testcase_url.config $
# $Date: 2015-04-02 11:10:56 -0400 (Thu, 02 Apr 2015) $
#
# Description:
#
#   This file contains a URL for each testcase.  The URL is
# the help or description page for the testcase.
#
# Format is
#  <testcase> <lang> <url>
#
#***********************************************************************

#
# TBS CLF 2.0 Checkpoints
#
TBS_P1_R2 eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me03-eng.asp#toc10
TBS_P1_R2 fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me03-fra.asp#toc10
TBS_P2_R1_2.2 eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-eng.asp#ch2.2
TBS_P2_R1_2.2 fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-fra.asp#cr2.2
TBS_P2_R1_11.2 eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-eng.asp#ch11.2
TBS_P2_R1_11.2 fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-fra.asp#cr11.2
TBS_P2_R1_13.1 eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-eng.asp#ch13.1
TBS_P2_R1_13.1 fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-fra.asp#cr13.1
TBS_P2_R2 eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-eng.asp#toc13
TBS_P2_R2 fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-fra.asp#toc13
TBS_P3_R2.4 eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-eng.asp#toc20
TBS_P3_R2.4 fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-eng.asp#toc20
TBS_P3_R5 eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me05-eng.asp#toc23
TBS_P3_R5 fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me05-fra.asp#toc23
TBS_P3_R10 eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me05-eng.asp#toc28
TBS_P3_R10 fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me05-fra.asp#toc28
TBS_P3_R13.3 eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me05-eng.asp#toc31
TBS_P3_R13.3 fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me05-fra.asp#toc31
TBS_P3_R13.4 eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me05-eng.asp#toc31
TBS_P3_R13.4 fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me05-fra.asp#toc31
CLF2.0_TEMPLATE eng http://intranet.tpsgc-pwgsc.gc.ca/web/w2/mdl-tmplt-eng.html
CLF2.0_TEMPLATE fra http://intranet.tpsgc-pwgsc.gc.ca/web/w2/mdl-tmplt-fra.html

#
# TBS Standard on Web Usability Checkpoints
#
SWU_TEMPLATE eng http://wet-boew.github.io/wet-boew/demos/index-en.html
SWU_TEMPLATE fra http://wet-boew.github.io/wet-boew/demos/index-fr.html
SWU_6.1.5 eng http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p9-eng.asp
SWU_6.1.5 fra http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p9-fra.asp
SWU_E2.1 eng http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227&section=text#appE
SWU_E2.1 fra http://www.tbs-sct.gc.ca/pol/doc-fra.aspx?id=24227&section=text#appE
SWU_E2.2.2 eng http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section11_1_1_1
SWU_E2.2.2 fra http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-fra.asp#Section11_1_1_1
SWU_E2.2.3 eng http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section11_1_1_1
SWU_E2.2.3 fra http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-fra.asp#Section11_1_1_1
SWU_E2.2.4 eng http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section11_1_1
SWU_E2.2.4 fra http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-fra.asp#Section11_1_1
SWU_E2.2.5 eng http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section11_1
SWU_E2.2.5 fra http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-fra.asp#Section11_1
SWU_E2.2.6 eng http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section11
SWU_E2.2.6 fra http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-fra.asp#Section11
SWU_E2.2.7 eng http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section11_7
SWU_E2.2.7 fra http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-fra.asp#Section11_7
SWU_E2.4 eng http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section13
SWU_E2.4 fra http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-fra.asp#Section13
SWU_E2.5 eng http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section12
SWU_E2.5 fra http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-fra.asp#Section12

#
# PWGSC Checkpoints
#
TP_PW_ARCHIVE eng http://intranet.tpsgc-pwgsc.gc.ca/web/w1/archvgweb-eng.html
TP_PW_ARCHIVE fra http://intranet.tpsgc-pwgsc.gc.ca/web/w1/archvgweb-fra.html
TP_PW_H eng http://webdev.tpsgc-pwgsc.gc.ca/comm/web/w2/a/entetes-headings-eng.html
TP_PW_H fra http://webdev.tpsgc-pwgsc.gc.ca/comm/web/w2/a/entetes-headings-fra.html
TP_PW_MAILTO eng http://intranet.tpsgc-pwgsc.gc.ca/web/w1/contweb-eng.html
TP_PW_MAILTO frahttp://intranet.tpsgc-pwgsc.gc.ca/web/w1/contweb-fra.html
TP_PW_SITE eng http://intranet.tpsgc-pwgsc.gc.ca/web/w2/mdl-tmplt-eng.html
TP_PW_SITE fra http://intranet.tpsgc-pwgsc.gc.ca/web/w2/mdl-tmplt-fra.html
#TP_PW_SSI eng
#TP_PW_SSI fra
#TP_PW_TECH eng
#TP_PW_TECH fra
TP_PW_TEMPLATE eng http://intranet.tpsgc-pwgsc.gc.ca/web/w2/mdl-tmplt-eng.html
TP_PW_TEMPLATE fra http://intranet.tpsgc-pwgsc.gc.ca/web/w2/mdl-tmplt-fra.html
TP_PW_URL eng http://intranet.tpsgc-pwgsc.gc.ca/web/w1/adrsspg-pgadrss-1-eng.html
TP_PW_URL fra http://intranet.tpsgc-pwgsc.gc.ca/web/w1/adrsspg-pgadrss-1-fra.html

