#***********************************************************************
#
# Name:   so_clf_check.config
#
# $Revision: 7054 $
# $URL: svn://10.36.21.45/trunk/Web_Checks/CLF_Check/Tools/so_clf_check.config $
# $Date: 2015-04-02 11:13:29 -0400 (Thu, 02 Apr 2015) $
#
# Description:
#   This file contains the configuration parameters for the
# CLF check package. The parameters appear as name/value pairs
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# Testcase/help URL file name
#
#***********************************************************************
#
Testcase_URL_Help_File conf/clf_testcase_url.config

#
#***********************************************************************
#
# Test testcase profile
#
#***********************************************************************
#
#CLF_Check_Profile_eng Test
#CLF_Check_Profile_fra Test

#
# Testcase id and execution required flag
#
#execution_required TBS_P2_R2   0

#
#***********************************************************************
#
# PWGSC Internet Web Usability
#
#***********************************************************************
#
CLF_Check_Profile_eng Internet PWGSC Web Usability
CLF_Check_Profile_fra Internet TPSGC Facilite d'emploi

#
# Testcase id
#
tcid SWU_6.1.5
tcid SWU_E2.1
tcid SWU_E2.2.2
tcid SWU_E2.2.3
tcid SWU_E2.2.4
#tcid SWU_E2.2.5
tcid SWU_E2.2.6
tcid SWU_E2.2.7
tcid SWU_E2.4
tcid SWU_E2.5
tcid SWU_TEMPLATE

#
#***********************************************************************
#
# Archived on the web markers
#
#***********************************************************************
#
ARCHIVED title         eng ARCHIVED
ARCHIVED title         fra ARCHIV&Eacute;
ARCHIVED dcterms.title eng ARCHIVED
ARCHIVED dcterms.title fra ARCHIV&Eacute;
#
# The following 2 archived markers are not needed for GC, only PWGSC
#
ARCHIVED description   eng ARCHIVED
ARCHIVED description   fra ARCHIV&Eacute;
ARCHIVED h1_text       eng ARCHIVED
ARCHIVED h1_text       fra ARCHIV&Eacute;
ARCHIVED h2_text       eng Archived Content
ARCHIVED h2_text       fra Information archiv&eacute;e dans le Web
ARCHIVED h2_text       fra Contenu archiv&eacute;
ARCHIVED link_text     eng ARCHIVED
ARCHIVED link_text     fra ARCHIV&Eacute;
ARCHIVED text          eng Information identified as archived on the Web is for reference, research or recordkeeping purposes. It has not been altered or updated after the date of archiving. Web pages that are archived on the Web are not subject to the Government of Canada Web Standards. As per the Communications Policy of the Government of Canada, you can request alternate formats by contacting us

ARCHIVED text          eng Information identified as archived is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available

ARCHIVED text          fra Information identifi&eacute;e comme &eacute;tant archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Elle n'a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis la date de son archivage. Les pages Web qui sont archiv&eacute;es dans le Web ne sont pas assujetties aux normes applicables au Web du gouvernement du Canada. Conform&eacute;ment &agrave; la Politique de communication du gouvernement du Canada vous pouvez la demander sous d'autres formes. Ses coordonn&eacute;es figurent &agrave; la page Contactez-nous

ARCHIVED text          fra L&rsquo;information dont il est indiqu&eacute; qu&rsquo;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et elle n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&#39;information dont il est indiqu&eacute; qu&#39;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&#39;est pas assujettie aux normes Web du gouvernement du Canada et elle n&#39;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra Information archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Cette derni&egrave;re n’a aucunement &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis sa date de mise en archive. Les pages archiv&eacute;es dans le Web ne sont pas assujetties aux normes qui s’appliquent aux sites Web du gouvernement du Canada. Conform&eacute;ment à la Politique de communication du gouvernement du Canada, vous pouvez obtenir cette information dans un autre format en communiquant avec nous

ARCHIVED text          fra L&rsquo;information dite archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, Contactez-nous

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#

# Template integrity testcase data, Content pages: subsection list
testcase_data SWU_TEMPLATE CONTENT_PAGE SKIP_LINKS GC_NAV SITE_BANNER CONTENT BREADCRUMB DATE_MODIFIED SITE_FOOTER GC_FOOTER

# Template integrity testcase data, Home pages: subsection list
testcase_data SWU_TEMPLATE HOME_PAGE SKIP_LINKS GC_NAV SITE_BANNER CONTENT PRIORITIES DATE_MODIFIED SITE_FOOTER GC_FOOTER

# Template integrity testcase data, Splash pages: subsection list
testcase_data SWU_TEMPLATE SPLASH_PAGE HEADER SITE_TITLE_LEFT SITE_TITLE_RIGHT SPLASH_LANG_LINKS TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, Server pages: subsection list
testcase_data SWU_TEMPLATE SERVER_PAGE SITE_TITLE_LEFT SERVER_DECORATION TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, skip link href values
testcase_data SWU_TEMPLATE SKIP_LINKS #wb-cont
testcase_data SWU_TEMPLATE SKIP_LINKS #wb-info

# Header testcase data, GC Nav: language, subsection, image alt text
testcase_data SWU_E2.2.2 eng GC_NAV IMAGE_ALT Government of Canada
testcase_data SWU_E2.2.2 fra GC_NAV IMAGE_ALT Gouvernement du Canada

# Header testcase data, Site Banner: language, subsection, search button label
testcase_data SWU_E2.2.3 eng SITE_BANNER BUTTON Search
testcase_data SWU_E2.2.3 fra SITE_BANNER BUTTON Recherche

# Header testcase data, GC Nav: language, subsection, link text
# Header testcase data, GC Nav: language, subsection, link href
#
# Source http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section11.1.1
#        http://www.gcpedia.gc.ca/wiki/Instructions_for_updating_site_headers_and_footers
#
testcase_data SWU_E2.2.5 eng GC_NAV LINK Canada.ca
testcase_data SWU_E2.2.5 eng GC_NAV LINK Services
testcase_data SWU_E2.2.5 eng GC_NAV LINK Departments
testcase_data SWU_E2.2.5 fra GC_NAV LINK Canada.ca
testcase_data SWU_E2.2.5 fra GC_NAV LINK Services
testcase_data SWU_E2.2.5 fra GC_NAV LINK Minist&egrave;res

# Header testcase data, Breadcrumb: language, subsection, link text
testcase_data SWU_E2.2.5 eng BREADCRUMB LINK Home
testcase_data SWU_E2.2.5 fra BREADCRUMB LINK Accueil

# Content testcase data, Date modified: language, subsection, format, label
testcase_data SWU_E2.2.6 eng DATE_MODIFIED YYYY-MM-DD Date modified:
testcase_data SWU_E2.2.6 eng DATE_MODIFIED TEXT Version:
testcase_data SWU_E2.2.6 fra DATE_MODIFIED YYYY-MM-DD Date de modification :
testcase_data SWU_E2.2.6 fra DATE_MODIFIED TEXT Version :
testcase_data SWU_E2.2.6 DATE_MODIFIED METADATA dcterms.modified

# Footer testcase data, Terms and Conditions: language, subsection, link text
testcase_data SWU_E2.2.7 eng TERMS_CONDITIONS_FOOTER LINK Terms and conditions
testcase_data SWU_E2.2.7 eng TERMS_CONDITIONS_FOOTER LINK Transparency
testcase_data SWU_E2.2.7 fra TERMS_CONDITIONS_FOOTER LINK Avis
testcase_data SWU_E2.2.7 fra TERMS_CONDITIONS_FOOTER LINK Transparence

# Footer testcase data, GC Footer: language, subsection, link text
# Footer testcase data, GC Footer: language, subsection, link href
#
# Source http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section11.7.2
#        http://www.gcpedia.gc.ca/wiki/Instructions_for_updating_site_headers_and_footers
#
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Health
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Travel
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Service Canada
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Jobs
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Economy
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Canada.ca

testcase_data SWU_E2.2.7 fra GC_FOOTER LINK Sant&eacute;
testcase_data SWU_E2.2.7 fra GC_FOOTER LINK Voyage
testcase_data SWU_E2.2.7 fra GC_FOOTER LINK Service Canada
testcase_data SWU_E2.2.7 fra GC_FOOTER LINK Emplois
testcase_data SWU_E2.2.7 fra GC_FOOTER LINK &Eacute;conomie
testcase_data SWU_E2.2.7 fra GC_FOOTER LINK Canada.ca

#
# Splash Page testcase data
#
testcase_data SWU_E2.4 eng HEADER IMAGE_ALT Government of Canada / Gouvernement du Canada
testcase_data SWU_E2.4 fra HEADER IMAGE_ALT Gouvernement du Canada / Government of Canada

# Splash page testcase data, Splash language links: language, subsection, link text
testcase_data SWU_E2.4 eng SPLASH_LANG_LINKS LINK Fran&ccedil;ais
testcase_data SWU_E2.4 fra SPLASH_LANG_LINKS LINK English
testcase_data SWU_E2.4 eng SPLASH_LANG_LINKS IMAGE_ALT Symbol of the Government of Canada / Symbole du gouvernement du Canada
testcase_data SWU_E2.4 fra SPLASH_LANG_LINKS IMAGE_ALT Symbole du gouvernement du Canada / Symbol of the Government of Canada

# Splash page testcase data, Splash Footer: language, subsection, link text
testcase_data SWU_E2.4 eng TERMS_CONDITIONS_FOOTER LINK Terms and conditions
testcase_data SWU_E2.4 fra TERMS_CONDITIONS_FOOTER LINK Avis

#
# Server Message Page testcase data
#
# Source http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227&section=text#appE
#
# Footer testcase data, Server Message Body: language, subsection, link text
testcase_data SWU_E2.5 eng CONTENT LINK Home
testcase_data SWU_E2.5 eng CONTENT LINK Contact us
testcase_data SWU_E2.5 fra CONTENT LINK Accueil
testcase_data SWU_E2.5 fra CONTENT LINK Contactez-nous

# Footer testcase data, Server Message Footer: language, subsection, link text
#
# Source http://www.tbs-sct.gc.ca/fip-pcim/ts-st-eng.asp
#
testcase_data SWU_E2.5 eng TERMS_CONDITIONS_FOOTER LINK Terms and conditions
testcase_data SWU_E2.5 fra TERMS_CONDITIONS_FOOTER LINK Avis

# FIP alt text
# Language are eng - English only,fra - French only,
# engfra - Bilingual English then French, fraeng - Bilingual French then English
testcase_data SWU_E2.5 eng HEADER IMAGE_ALT Government of Canada
testcase_data SWU_E2.5 eng HEADER IMAGE_ALT Symbol of the Government of Canada
testcase_data SWU_E2.5 fra HEADER IMAGE_ALT Gouvernement du Canada
testcase_data SWU_E2.5 fra HEADER IMAGE_ALT Symbole du gouvernement du Canada
testcase_data SWU_E2.5 engfra HEADER IMAGE_ALT Government of Canada / Gouvernement du Canada
testcase_data SWU_E2.5 engfra HEADER IMAGE_ALT Symbol of the Government of Canada / Symbole du gouvernement du Canada
testcase_data SWU_E2.5 fraeng HEADER IMAGE_ALT Gouvernement du Canada / Government of Canada
testcase_data SWU_E2.5 fraeng HEADER IMAGE_ALT Symbole du gouvernement du Canada / Symbol of the Government of Canada

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#

# Template integrity testcase data, Content pages: subsection list
testcase_data SWU_TEMPLATE CONTENT_PAGE SKIP_LINKS SITE_NAV CONTENT BREADCRUMB DATE_MODIFIED SITE_FOOTER

# Template integrity testcase data, Splash pages: subsection list
testcase_data SWU_TEMPLATE SPLASH_PAGE HEADER SITE_TITLE_LEFT SITE_TITLE_RIGHT SPLASH_LANG_LINKS TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, Server pages: subsection list
testcase_data SWU_TEMPLATE SERVER_PAGE SITE_TITLE_LEFT SERVER_DECORATION TERMS_CONDITIONS_FOOTER

#
#***********************************************************************
#
# PWGSC GC Intranet Web Usability
#
#***********************************************************************
#
CLF_Check_Profile_eng GC Intranet PWGSC Web Usability
CLF_Check_Profile_fra GC Intranet TPSGC Facilite d'emploi

#
# Testcase id
#
tcid SWU_6.1.5
tcid SWU_E2.1
#tcid SWU_E2.2.2
#tcid SWU_E2.2.3
#tcid SWU_E2.2.4
#tcid SWU_E2.2.5
#tcid SWU_E2.2.6
#tcid SWU_E2.2.7
#tcid SWU_E2.4
#tcid SWU_E2.5
tcid SWU_TEMPLATE

#
#***********************************************************************
#
# Archived on the web markers
#
#***********************************************************************
#
ARCHIVED title         eng ARCHIVED
ARCHIVED title         fra ARCHIV&Eacute;
ARCHIVED dcterms.title eng ARCHIVED
ARCHIVED dcterms.title fra ARCHIV&Eacute;
ARCHIVED description   eng ARCHIVED
ARCHIVED description   fra ARCHIV&Eacute;
ARCHIVED h1_text       eng ARCHIVED
ARCHIVED h1_text       fra ARCHIV&Eacute;
ARCHIVED h2_text       eng Archived Content
ARCHIVED h2_text       fra Information archiv&eacute;e dans le Web
ARCHIVED h2_text       fra Contenu archiv&eacute;
ARCHIVED link_text     eng ARCHIVED
ARCHIVED link_text     fra ARCHIV&Eacute;
ARCHIVED text          eng Information identified as archived on the Web is for reference, research or recordkeeping purposes. It has not been altered or updated after the date of archiving. Web pages that are archived on the Web are not subject to the Government of Canada Web Standards. As per the Communications Policy of the Government of Canada, you can request alternate formats by contacting us

ARCHIVED text          eng Information identified as archived is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available

ARCHIVED text          fra Information identifi&eacute;e comme &eacute;tant archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Elle n'a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis la date de son archivage. Les pages Web qui sont archiv&eacute;es dans le Web ne sont pas assujetties aux normes applicables au Web du gouvernement du Canada. Conform&eacute;ment &agrave; la Politique de communication du gouvernement du Canada vous pouvez la demander sous d'autres formes. Ses coordonn&eacute;es figurent &agrave; la page Contactez-nous

ARCHIVED text          fra L&rsquo;information dont il est indiqu&eacute; qu&rsquo;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et elle n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&#39;information dont il est indiqu&eacute; qu&#39;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&#39;est pas assujettie aux normes Web du gouvernement du Canada et elle n&#39;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&rsquo;information dite archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, Contactez-nous

# Template integrity testcase data, Content pages: subsection list
testcase_data SWU_TEMPLATE CONTENT_PAGE SKIP_LINKS CONTENT DATE_MODIFIED SITE_FOOTER

# Template integrity testcase data, Splash pages: subsection list
testcase_data SWU_TEMPLATE SPLASH_PAGE HEADER SITE_TITLE_LEFT SITE_TITLE_RIGHT SPLASH_LANG_LINKS TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, Server pages: subsection list
testcase_data SWU_TEMPLATE SERVER_PAGE SITE_TITLE_LEFT SERVER_DECORATION TERMS_CONDITIONS_FOOTER

# Content testcase data, Date modified: language, subsection, format, label
testcase_data SWU_E2.2.6 eng DATE_MODIFIED YYYY-MM-DD Date modified:
testcase_data SWU_E2.2.6 eng DATE_MODIFIED TEXT Version:
testcase_data SWU_E2.2.6 fra DATE_MODIFIED YYYY-MM-DD Date de modification :
testcase_data SWU_E2.2.6 fra DATE_MODIFIED TEXT Version :
testcase_data SWU_E2.2.6 DATE_MODIFIED METADATA dcterms.modified

#
#***********************************************************************
#
# PWGSC Intranet Web Usability
#
#***********************************************************************
#
CLF_Check_Profile_eng Intranet PWGSC Web Usability
CLF_Check_Profile_fra Intranet TPSGC Facilite d'emploi

#
# Testcase id
#
tcid SWU_6.1.5
tcid SWU_E2.1
#tcid SWU_E2.2.2
#tcid SWU_E2.2.3
tcid SWU_E2.2.4
#tcid SWU_E2.2.5
tcid SWU_E2.2.6
#tcid SWU_E2.2.7
#tcid SWU_E2.4
#tcid SWU_E2.5
tcid SWU_TEMPLATE

#
#***********************************************************************
#
# Archived on the web markers
#
#***********************************************************************
#
ARCHIVED title         eng ARCHIVED
ARCHIVED title         fra ARCHIV&Eacute;
ARCHIVED dcterms.title eng ARCHIVED
ARCHIVED dcterms.title fra ARCHIV&Eacute;
ARCHIVED description   eng ARCHIVED
ARCHIVED description   fra ARCHIV&Eacute;
ARCHIVED h1_text       eng ARCHIVED
ARCHIVED h1_text       fra ARCHIV&Eacute;
ARCHIVED h2_text       eng Archived Content
ARCHIVED h2_text       fra Information archiv&eacute;e dans le Web
ARCHIVED h2_text       fra Contenu archiv&eacute;
ARCHIVED link_text     eng ARCHIVED
ARCHIVED link_text     fra ARCHIV&Eacute;
ARCHIVED text          eng Information identified as archived on the Web is for reference, research or recordkeeping purposes. It has not been altered or updated after the date of archiving. Web pages that are archived on the Web are not subject to the Government of Canada Web Standards. As per the Communications Policy of the Government of Canada, you can request alternate formats by contacting us

ARCHIVED text          eng Information identified as archived is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available

ARCHIVED text          fra Information identifi&eacute;e comme &eacute;tant archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Elle n'a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis la date de son archivage. Les pages Web qui sont archiv&eacute;es dans le Web ne sont pas assujetties aux normes applicables au Web du gouvernement du Canada. Conform&eacute;ment &agrave; la Politique de communication du gouvernement du Canada vous pouvez la demander sous d'autres formes. Ses coordonn&eacute;es figurent &agrave; la page Contactez-nous

ARCHIVED text          fra L&rsquo;information dont il est indiqu&eacute; qu&rsquo;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et elle n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&#39;information dont il est indiqu&eacute; qu&#39;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&#39;est pas assujettie aux normes Web du gouvernement du Canada et elle n&#39;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&rsquo;information dite archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, Contactez-nous

# Template integrity testcase data, Content pages: subsection list
testcase_data SWU_TEMPLATE CONTENT_PAGE SKIP_LINKS CONTENT BREADCRUMB DATE_MODIFIED SITE_FOOTER

# Template integrity testcase data, Home pages: subsection list
testcase_data SWU_TEMPLATE HOME_PAGE SKIP_LINKS CONTENT PRIORITIES DATE_MODIFIED SITE_FOOTER

# Template integrity testcase data, Splash pages: subsection list
testcase_data SWU_TEMPLATE SPLASH_PAGE HEADER SITE_TITLE_LEFT SITE_TITLE_RIGHT SPLASH_LANG_LINKS TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, Server pages: subsection list
testcase_data SWU_TEMPLATE SERVER_PAGE SITE_TITLE_LEFT SERVER_DECORATION TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, skip link href values
testcase_data SWU_TEMPLATE SKIP_LINKS #wb-cont
testcase_data SWU_TEMPLATE SKIP_LINKS #wb-info

# Header testcase data, GC Nav: language, subsection, language link text
testcase_data SWU_E2.2.4 eng GC_NAV LANGUAGE_LINK Fran&ccedil;ais
testcase_data SWU_E2.2.4 fra GC_NAV LANGUAGE_LINK English

# Header testcase data, Breadcrumb: language, subsection, link text
testcase_data SWU_E2.2.5 eng BREADCRUMB LINK mySource
testcase_data SWU_E2.2.5 fra BREADCRUMB LINK maSource

# Content testcase data, Date modified: language, subsection, format, label
testcase_data SWU_E2.2.6 eng DATE_MODIFIED YYYY-MM-DD Date modified:
testcase_data SWU_E2.2.6 eng DATE_MODIFIED TEXT Version:
testcase_data SWU_E2.2.6 fra DATE_MODIFIED YYYY-MM-DD Date de modification :
testcase_data SWU_E2.2.6 fra DATE_MODIFIED TEXT Version :
testcase_data SWU_E2.2.6 DATE_MODIFIED METADATA dcterms.modified

#
#***********************************************************************
#
# Canada.ca layout and design
#
#***********************************************************************
#
CLF_Check_Profile_eng Canada.ca
CLF_Check_Profile_fra Canada.ca

#
# Testcase id
#
tcid SWU_6.1.5
tcid SWU_E2.1
tcid SWU_TEMPLATE

#
#***********************************************************************
#
# Archived on the web markers
#
#***********************************************************************
#
ARCHIVED title         eng ARCHIVED
ARCHIVED title         fra ARCHIV&Eacute;
ARCHIVED h1_text       eng ARCHIVED
ARCHIVED h1_text       fra ARCHIV&Eacute;
ARCHIVED h2_text       eng Archived information
ARCHIVED h2_text       fra Informations archivées
ARCHIVED h2_text       fra Informations archiv&eacute;es
ARCHIVED link_text     eng ARCHIVED
ARCHIVED link_text     fra ARCHIV&Eacute;
ARCHIVED text          eng Archived information is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available.
ARCHIVED text          fra Les informations archivées sont fournies aux fins de référence, de recherche ou de tenue de documents. Elles ne sont pas assujetties aux normes Web du gouvernement du Canada et n'ont pas été modifiées ou mises à jour depuis leur archivage. Pour obtenir ces informations dans un autre format, veuillez communiquez avec nous.
ARCHIVED text          fra Les informations archiv&eacute;es sont fournies aux fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elles ne sont pas assujetties aux normes Web du gouvernement du Canada et n'ont pas &eacute;t&eacute; modifi&eacute;es ou mises &agrave; jour depuis leur archivage. Pour obtenir ces informations dans un autre format, veuillez communiquez avec nous.

#
#***********************************************************************
#
# Empty layout and design Profile
#
#***********************************************************************
#
CLF_Check_Profile_eng None
CLF_Check_Profile_fra Aucun

#
#***********************************************************************
#
# Archived on the web markers
#
#***********************************************************************
#
ARCHIVED title         eng ARCHIVED
ARCHIVED title         fra ARCHIV&Eacute;
ARCHIVED dcterms.title eng ARCHIVED
ARCHIVED dcterms.title fra ARCHIV&Eacute;
ARCHIVED description   eng ARCHIVED
ARCHIVED description   fra ARCHIV&Eacute;
ARCHIVED h1_text       eng ARCHIVED
ARCHIVED h1_text       fra ARCHIV&Eacute;
ARCHIVED h2_text       eng Archived Content
ARCHIVED h2_text       fra Information archiv&eacute;e dans le Web
ARCHIVED h2_text       fra Contenu archiv&eacute;
ARCHIVED link_text     eng ARCHIVED
ARCHIVED link_text     fra ARCHIV&Eacute;
ARCHIVED text          eng Information identified as archived on the Web is for reference, research or recordkeeping purposes. It has not been altered or updated after the date of archiving. Web pages that are archived on the Web are not subject to the Government of Canada Web Standards. As per the Communications Policy of the Government of Canada, you can request alternate formats by contacting us

ARCHIVED text          eng Information identified as archived is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available

ARCHIVED text          fra Information identifi&eacute;e comme &eacute;tant archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Elle n'a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis la date de son archivage. Les pages Web qui sont archiv&eacute;es dans le Web ne sont pas assujetties aux normes applicables au Web du gouvernement du Canada. Conform&eacute;ment &agrave; la Politique de communication du gouvernement du Canada vous pouvez la demander sous d'autres formes. Ses coordonn&eacute;es figurent &agrave; la page Contactez-nous

ARCHIVED text          fra L&rsquo;information dont il est indiqu&eacute; qu&rsquo;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et elle n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&#39;information dont il est indiqu&eacute; qu&#39;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&#39;est pas assujettie aux normes Web du gouvernement du Canada et elle n&#39;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra Information archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Cette derni&egrave;re n’a aucunement &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis sa date de mise en archive. Les pages archiv&eacute;es dans le Web ne sont pas assujetties aux normes qui s’appliquent aux sites Web du gouvernement du Canada. Conform&eacute;ment &agrave; la Politique de communication du gouvernement du Canada, vous pouvez obtenir cette information dans un autre format en communiquant avec nous

ARCHIVED text          fra L&rsquo;information dite archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, Contactez-nous

