#***********************************************************************
#
# Name:   so_clf_check.config
#
# $Revision: 6657 $
# $URL: svn://10.36.20.226/trunk/Web_Checks/CLF_Check/Tools/so_clf_check.config $
# $Date: 2014-05-28 10:50:24 -0400 (Wed, 28 May 2014) $
#
# Description:
#   This file contains the configuration parameters for the
# CLF check package. The parameters appear as name/value pairs
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# Testcase/help URL file name
#
#***********************************************************************
#
Testcase_URL_Help_File conf/clf_testcase_url.config

#
#***********************************************************************
#
# Test testcase profile
#
#***********************************************************************
#
#CLF_Check_Profile_eng Test
#CLF_Check_Profile_fra Test

#
# Testcase id and execution required flag
#
#execution_required TBS_P2_R2   0


#
#***********************************************************************
#
# Standard on Web Usability
#
#***********************************************************************
#
CLF_Check_Profile_eng SWU
CLF_Check_Profile_fra NFE

#
# Testcase id
#
tcid SWU_6.1.5
tcid SWU_E2.1
tcid SWU_E2.2.2
tcid SWU_E2.2.3
tcid SWU_E2.2.4
tcid SWU_E2.2.5
tcid SWU_E2.2.6
tcid SWU_E2.2.7
tcid SWU_E2.4
tcid SWU_E2.5
tcid SWU_TEMPLATE

#
#***********************************************************************
#
# Archived on the web markers
#
#***********************************************************************
#
ARCHIVED title         eng ARCHIVED
ARCHIVED title         fra ARCHIV&Eacute;
ARCHIVED dcterms.title eng ARCHIVED
ARCHIVED dcterms.title fra ARCHIV&Eacute;
#
# The following 2 archived markers are not needed for GC, only PWGSC
#
ARCHIVED description   eng ARCHIVED
ARCHIVED description   fra ARCHIV&Eacute;
ARCHIVED h1_text       eng ARCHIVED
ARCHIVED h1_text       fra ARCHIV&Eacute;
ARCHIVED h2_text       eng Archived Content
ARCHIVED h2_text       fra Information archiv&eacute;e dans le Web
ARCHIVED h2_text       fra Contenu archiv&eacute;
ARCHIVED link_text     eng ARCHIVED
ARCHIVED link_text     fra ARCHIV&Eacute;
ARCHIVED text          eng Information identified as archived on the Web is for reference, research or recordkeeping purposes. It has not been altered or updated after the date of archiving. Web pages that are archived on the Web are not subject to the Government of Canada Web Standards. As per the Communications Policy of the Government of Canada, you can request alternate formats by contacting us

ARCHIVED text          eng Information identified as archived is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available

ARCHIVED text          fra Information identifi&eacute;e comme &eacute;tant archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Elle n'a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis la date de son archivage. Les pages Web qui sont archiv&eacute;es dans le Web ne sont pas assujetties aux normes applicables au Web du gouvernement du Canada. Conform&eacute;ment &agrave; la Politique de communication du gouvernement du Canada vous pouvez la demander sous d'autres formes. Ses coordonn&eacute;es figurent &agrave; la page Contactez-nous

ARCHIVED text          fra L&rsquo;information dont il est indiqu&eacute; qu&rsquo;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et elle n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&#39;information dont il est indiqu&eacute; qu&#39;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&#39;est pas assujettie aux normes Web du gouvernement du Canada et elle n&#39;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra Information archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Cette derni&egrave;re n’a aucunement &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis sa date de mise en archive. Les pages archiv&eacute;es dans le Web ne sont pas assujetties aux normes qui s’appliquent aux sites Web du gouvernement du Canada. Conform&eacute;ment à la Politique de communication du gouvernement du Canada, vous pouvez obtenir cette information dans un autre format en communiquant avec nous

ARCHIVED text          fra L&rsquo;information dite archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, Contactez-nous

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#

# Template integrity testcase data, Content pages: subsection list
testcase_data SWU_TEMPLATE CONTENT_PAGE SKIP_LINKS GC_NAV SITE_BANNER CONTENT BREADCRUMB DATE_MODIFIED SITE_FOOTER GC_FOOTER

# Template integrity testcase data, Home pages: subsection list
testcase_data SWU_TEMPLATE HOME_PAGE SKIP_LINKS GC_NAV SITE_BANNER CONTENT PRIORITIES DATE_MODIFIED SITE_FOOTER GC_FOOTER

# Template integrity testcase data, Splash pages: subsection list
testcase_data SWU_TEMPLATE SPLASH_PAGE HEADER SITE_TITLE_LEFT SITE_TITLE_RIGHT SPLASH_LANG_LINKS TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, Server pages: subsection list
testcase_data SWU_TEMPLATE SERVER_PAGE SITE_TITLE_LEFT SERVER_DECORATION TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, skip link href values
testcase_data SWU_TEMPLATE SKIP_LINKS #cn-cont #wb-cont
testcase_data SWU_TEMPLATE SKIP_LINKS #cn-nav #wb-nav #wb-info

# Header testcase data, GC Nav: language, subsection, image alt text
# Header testcase data, Site Banner: language, subsection, image size (width:height)
testcase_data SWU_E2.2.2 eng GC_NAV IMAGE_ALT Government of Canada
testcase_data SWU_E2.2.2 eng GC_NAV IMAGE_SIZE 214:20
testcase_data SWU_E2.2.2 fra GC_NAV IMAGE_ALT Gouvernement du Canada
testcase_data SWU_E2.2.2 fra GC_NAV IMAGE_SIZE 214:20

# Header testcase data, Site Banner: language, subsection, image alt text
# Header testcase data, Site Banner: language, subsection, image size (width:height)
#testcase_data SWU_E2.2.3 eng SITE_BANNER IMAGE_ALT Symbol of the Government of Canada
#testcase_data SWU_E2.2.3 eng SITE_BANNER IMAGE_SIZE 126:30
#testcase_data SWU_E2.2.3 fra SITE_BANNER IMAGE_ALT Symbole du gouvernement du Canada
#testcase_data SWU_E2.2.3 fra SITE_BANNER IMAGE_SIZE 126:30

# Header testcase data, Site Banner: language, subsection, search button label
testcase_data SWU_E2.2.3 eng SITE_BANNER BUTTON Search
testcase_data SWU_E2.2.3 fra SITE_BANNER BUTTON Recherche

# Header testcase data, GC Nav: language, subsection, link text
# Header testcase data, GC Nav: language, subsection, link href
#
# Source http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section11.1.1
#
testcase_data SWU_E2.2.5 eng GC_NAV LINK Canada.gc.ca % Canada.ca
testcase_data SWU_E2.2.5 eng GC_NAV HREF http://www.canada.gc.ca/home.html http://www.canada.gc.ca/menu-eng.html http://www.canada.ca/home.html http://www.canada.ca/en/index.html
testcase_data SWU_E2.2.5 eng GC_NAV LINK Services
testcase_data SWU_E2.2.5 eng GC_NAV HREF http://www.servicecanada.gc.ca/eng/home.shtml http://www.canada.ca/en/services/index.html
testcase_data SWU_E2.2.5 eng GC_NAV LINK Departments
testcase_data SWU_E2.2.5 eng GC_NAV HREF http://www.canada.gc.ca/depts/major/depind-eng.html http://www.canada.gc.ca/aboutgov-ausujetgouv/depts/menu-eng.html http://www.canada.ca/depts/major/depind-eng.html http://www.canada.ca/en/gov/dept/index.html
testcase_data SWU_E2.2.5 fra GC_NAV LINK Canada.gc.ca % Canada.ca
testcase_data SWU_E2.2.5 fra GC_NAV HREF http://www.canada.gc.ca/accueil.html http://www.canada.gc.ca/menu-fra.html http://www.canada.ca/accueil.html http://www.canada.ca/fr/index.html
testcase_data SWU_E2.2.5 fra GC_NAV LINK Services
testcase_data SWU_E2.2.5 fra GC_NAV HREF http://www.servicecanada.gc.ca/fra/accueil.shtml http://www.canada.ca/fr/services/index.html
testcase_data SWU_E2.2.5 fra GC_NAV LINK Minist&egrave;res
testcase_data SWU_E2.2.5 fra GC_NAV HREF http://www.canada.gc.ca/depts/major/depind-fra.html http://www.canada.gc.ca/aboutgov-ausujetgouv/depts/menu-fra.html http://www.canada.ca/depts/major/depind-fra.html http://www.canada.ca/fr/gouv/min/index.html

# Header testcase data, GC Nav: language, subsection, language link text
#testcase_data SWU_E2.2.4 eng GC_NAV LANGUAGE_LINK Fran&ccedil;ais
#testcase_data SWU_E2.2.4 fra GC_NAV LANGUAGE_LINK English

# Header testcase data, Breadcrumb: language, subsection, link text
testcase_data SWU_E2.2.5 eng BREADCRUMB LINK Home
testcase_data SWU_E2.2.5 fra BREADCRUMB LINK Accueil

# Content testcase data, Date modified: language, subsection, format, label
testcase_data SWU_E2.2.6 eng DATE_MODIFIED YYYY-MM-DD Date modified:
testcase_data SWU_E2.2.6 eng DATE_MODIFIED TEXT Version:
testcase_data SWU_E2.2.6 fra DATE_MODIFIED YYYY-MM-DD Date de modification :
testcase_data SWU_E2.2.6 fra DATE_MODIFIED TEXT Version :
testcase_data SWU_E2.2.6 DATE_MODIFIED METADATA dcterms.modified

# Footer testcase data, Terms and Conditions: language, subsection, link text
testcase_data SWU_E2.2.7 eng TERMS_CONDITIONS_FOOTER LINK Terms and conditions
testcase_data SWU_E2.2.7 eng TERMS_CONDITIONS_FOOTER LINK Transparency
testcase_data SWU_E2.2.7 fra TERMS_CONDITIONS_FOOTER LINK Avis
testcase_data SWU_E2.2.7 fra TERMS_CONDITIONS_FOOTER LINK Transparence

# Footer testcase data, Site Footer: language, subsection, link text
#testcase_data SWU_E2.2.7 eng SITE_FOOTER LINK About us
#testcase_data SWU_E2.2.7 fra SITE_FOOTER LINK &Agrave; propos de nous

# Required Footer links that have no particular ordering
#testcase_data SWU_E2.2.7 eng SITE_FOOTER LINK_SET Contact us
#testcase_data SWU_E2.2.7 fra SITE_FOOTER LINK_SET Contactez-nous

# Footer testcase data, GC Footer: language, subsection, link text
# Footer testcase data, GC Footer: language, subsection, link href
#
# Source http://www.tbs-sct.gc.ca/ws-nw/mo-om/ts-st/p7-eng.asp#Section11.7.2
#
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Health healthycanadians.gc.ca
testcase_data SWU_E2.2.7 eng GC_FOOTER HREF http://healthycanadians.gc.ca/index-eng.php http://healthycanadians.gc.ca
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Travel travel.gc.ca
testcase_data SWU_E2.2.7 eng GC_FOOTER HREF http://www.voyage.gc.ca/index-eng.asp http://travel.gc.ca http://www.travel.gc.ca/index-eng.asp http://travel.gc.ca
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Service Canada servicecanada.gc.ca
testcase_data SWU_E2.2.7 eng GC_FOOTER HREF http://www.servicecanada.gc.ca/eng/home.shtml
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Jobs jobbank.gc.ca
testcase_data SWU_E2.2.7 eng GC_FOOTER HREF http://www.jobbank.gc.ca/intro-eng.aspx http://www.jobbank.gc.ca
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Economy actionplan.gc.ca
testcase_data SWU_E2.2.7 eng GC_FOOTER HREF http://actionplan.gc.ca/eng/index.asp http://actionplan.gc.ca/en
testcase_data SWU_E2.2.7 eng GC_FOOTER LINK Canada.gc.ca % Canada.ca
testcase_data SWU_E2.2.7 eng GC_FOOTER HREF http://www.canada.gc.ca/home.html http://www.canada.gc.ca/menu-eng.html http://www.canada.ca/home.html http://www.canada.ca/en/index.html
testcase_data SWU_E2.2.7 fra GC_FOOTER LINK Sant&eacute; canadiensensante.gc.ca
testcase_data SWU_E2.2.7 fra GC_FOOTER HREF http://canadiensensante.gc.ca/index-fra.php http://canadiensensante.gc.ca
testcase_data SWU_E2.2.7 fra GC_FOOTER LINK Voyage voyage.gc.ca
testcase_data SWU_E2.2.7 fra GC_FOOTER HREF http://www.voyage.gc.ca/index-fra.asp http://voyage.gc.ca
testcase_data SWU_E2.2.7 fra GC_FOOTER LINK Service Canada servicecanada.gc.ca
testcase_data SWU_E2.2.7 fra GC_FOOTER HREF http://www.servicecanada.gc.ca/fra/accueil.shtml
testcase_data SWU_E2.2.7 fra GC_FOOTER LINK Emplois guichetemplois.gc.ca
testcase_data SWU_E2.2.7 fra GC_FOOTER HREF http://www.guichetemplois.gc.ca/Intro-fra.aspx http://www.guichetemplois.gc.ca/intro-fra.aspx http://www.guichetemplois.gc.ca 
testcase_data SWU_E2.2.7 fra GC_FOOTER LINK &Eacute;conomie plandaction.gc.ca
testcase_data SWU_E2.2.7 fra GC_FOOTER HREF http://plandaction.gc.ca/fra/index.asp http://plandaction.gc.ca/fr http://plandaction.gc.ca
testcase_data SWU_E2.2.7 fra GC_FOOTER LINK Canada.gc.ca % Canada.ca
testcase_data SWU_E2.2.7 fra GC_FOOTER HREF http://www.canada.gc.ca/accueil.html http://www.canada.gc.ca/menu-fra.html http://www.canada.ca/accueil.html http://www.canada.ca/fr/index.html


#
# Splash Page testcase data
#
testcase_data SWU_E2.4 eng HEADER IMAGE_ALT Government of Canada / Gouvernement du Canada
testcase_data SWU_E2.4 fra HEADER IMAGE_ALT Gouvernement du Canada / Government of Canada

# Splash page testcase data, Splash language links: language, subsection, link text
testcase_data SWU_E2.4 eng SPLASH_LANG_LINKS LINK Fran&ccedil;ais
testcase_data SWU_E2.4 fra SPLASH_LANG_LINKS LINK English
testcase_data SWU_E2.4 eng SPLASH_LANG_LINKS IMAGE_ALT Symbol of the Government of Canada / Symbole du gouvernement du Canada
testcase_data SWU_E2.4 fra SPLASH_LANG_LINKS IMAGE_ALT Symbole du gouvernement du Canada / Symbol of the Government of Canada

# Splash page testcase data, Splash Footer: language, subsection, link text
testcase_data SWU_E2.4 eng TERMS_CONDITIONS_FOOTER LINK Terms and conditions
testcase_data SWU_E2.4 fra TERMS_CONDITIONS_FOOTER LINK Avis

#
# Server Message Page testcase data
#
# Source http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227&section=text#appE
#
# Footer testcase data, Server Message Body: language, subsection, link text
testcase_data SWU_E2.5 eng CONTENT LINK Home
testcase_data SWU_E2.5 eng CONTENT LINK Contact us
testcase_data SWU_E2.5 fra CONTENT LINK Accueil
testcase_data SWU_E2.5 fra CONTENT LINK Contactez-nous

# Footer testcase data, Server Message Footer: language, subsection, link text
#
# Source http://www.tbs-sct.gc.ca/fip-pcim/ts-st-eng.asp
#
testcase_data SWU_E2.5 eng TERMS_CONDITIONS_FOOTER LINK Terms and conditions
testcase_data SWU_E2.5 fra TERMS_CONDITIONS_FOOTER LINK Avis

# FIP alt text
# Language are eng - English only,fra - French only,
# engfra - Bilingual English then French, fraeng - Bilingual French then English
testcase_data SWU_E2.5 eng HEADER IMAGE_ALT Government of Canada
testcase_data SWU_E2.5 eng HEADER IMAGE_ALT Symbol of the Government of Canada
testcase_data SWU_E2.5 fra HEADER IMAGE_ALT Gouvernement du Canada
testcase_data SWU_E2.5 fra HEADER IMAGE_ALT Symbole du gouvernement du Canada
testcase_data SWU_E2.5 engfra HEADER IMAGE_ALT Government of Canada / Gouvernement du Canada
testcase_data SWU_E2.5 engfra HEADER IMAGE_ALT Symbol of the Government of Canada / Symbole du gouvernement du Canada
testcase_data SWU_E2.5 fraeng HEADER IMAGE_ALT Gouvernement du Canada / Government of Canada
testcase_data SWU_E2.5 fraeng HEADER IMAGE_ALT Symbole du gouvernement du Canada / Symbol of the Government of Canada

#
#***********************************************************************
#
# PWGSC Intranet
#
#***********************************************************************
#
CLF_Check_Profile_eng PWGSC Intranet
CLF_Check_Profile_fra Intranet TPSGC

#
# Testcase id
#
tcid SWU_6.1.5
tcid SWU_E2.1
tcid SWU_E2.2.2
tcid SWU_E2.2.3
tcid SWU_E2.2.4
tcid SWU_E2.2.5
tcid SWU_E2.2.6
tcid SWU_E2.2.7
tcid SWU_E2.4
tcid SWU_E2.5
tcid SWU_TEMPLATE

#
#***********************************************************************
#
# Archived on the web markers
#
#***********************************************************************
#
ARCHIVED title         eng ARCHIVED
ARCHIVED title         fra ARCHIV&Eacute;
ARCHIVED dcterms.title eng ARCHIVED
ARCHIVED dcterms.title fra ARCHIV&Eacute;
ARCHIVED description   eng ARCHIVED
ARCHIVED description   fra ARCHIV&Eacute;
ARCHIVED h1_text       eng ARCHIVED
ARCHIVED h1_text       fra ARCHIV&Eacute;
ARCHIVED h2_text       eng Archived Content
ARCHIVED h2_text       fra Information archiv&eacute;e dans le Web
ARCHIVED h2_text       fra Contenu archiv&eacute;
ARCHIVED link_text     eng ARCHIVED
ARCHIVED link_text     fra ARCHIV&Eacute;
ARCHIVED text          eng Information identified as archived on the Web is for reference, research or recordkeeping purposes. It has not been altered or updated after the date of archiving. Web pages that are archived on the Web are not subject to the Government of Canada Web Standards. As per the Communications Policy of the Government of Canada, you can request alternate formats by contacting us

ARCHIVED text          eng Information identified as archived is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available

ARCHIVED text          fra Information identifi&eacute;e comme &eacute;tant archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Elle n'a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis la date de son archivage. Les pages Web qui sont archiv&eacute;es dans le Web ne sont pas assujetties aux normes applicables au Web du gouvernement du Canada. Conform&eacute;ment &agrave; la Politique de communication du gouvernement du Canada vous pouvez la demander sous d'autres formes. Ses coordonn&eacute;es figurent &agrave; la page Contactez-nous

ARCHIVED text          fra L&rsquo;information dont il est indiqu&eacute; qu&rsquo;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et elle n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&#39;information dont il est indiqu&eacute; qu&#39;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&#39;est pas assujettie aux normes Web du gouvernement du Canada et elle n&#39;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&rsquo;information dite archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, Contactez-nous

# Template integrity testcase data, Content pages: subsection list
testcase_data SWU_TEMPLATE CONTENT_PAGE SKIP_LINKS GC_NAV SITE_BANNER CONTENT BREADCRUMB DATE_MODIFIED SITE_FOOTER 

# Template integrity testcase data, Home pages: subsection list
testcase_data SWU_TEMPLATE HOME_PAGE SKIP_LINKS GC_NAV SITE_BANNER CONTENT PRIORITIES DATE_MODIFIED SITE_FOOTER

# Template integrity testcase data, Splash pages: subsection list
testcase_data SWU_TEMPLATE SPLASH_PAGE HEADER SITE_TITLE_LEFT SITE_TITLE_RIGHT SPLASH_LANG_LINKS TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, Server pages: subsection list
testcase_data SWU_TEMPLATE SERVER_PAGE SITE_TITLE_LEFT SERVER_DECORATION TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, skip link href values
testcase_data SWU_TEMPLATE SKIP_LINKS #wb-cont
testcase_data SWU_TEMPLATE SKIP_LINKS #wb-nav

# Header testcase data, GC Nav: language, subsection, link text
# Header testcase data, GC Nav: language, subsection, link href
#
#testcase_data SWU_E2.2.5 eng GC_NAV LINK GEDS
#testcase_data SWU_E2.2.5 eng GC_NAV HREF http://sagegc-gedsgc.tpsgc-pwgsc.gc.ca/cgi-bin/web500/eng/TE?FN=index.html
#testcase_data SWU_E2.2.5 eng GC_NAV LINK PWGSC Internet
#testcase_data SWU_E2.2.5 eng GC_NAV HREF http://www.tpsgc-pwgsc.gc.ca/comm/index-eng.html
#testcase_data SWU_E2.2.5 eng GC_NAV LINK Publiservice
#testcase_data SWU_E2.2.5 eng GC_NAV HREF http://publiservice.tpsgc-pwgsc.gc.ca/publiservice/index-eng.html
#testcase_data SWU_E2.2.5 eng GC_NAV LINK Pay Login
#testcase_data SWU_E2.2.5 eng GC_NAV HREF http://www.tpsgc-pwgsc.gc.ca/remuneration-compensation/awr-cwa/txt/index-eng.html

# Header testcase data, GC Nav: language, subsection, language link text
testcase_data SWU_E2.2.4 eng GC_NAV LANGUAGE_LINK Fran&ccedil;ais
testcase_data SWU_E2.2.4 fra GC_NAV LANGUAGE_LINK English

# Header testcase data, Breadcrumb: language, subsection, link text
testcase_data SWU_E2.2.5 eng BREADCRUMB LINK mySource
testcase_data SWU_E2.2.5 fra BREADCRUMB LINK maSource

# Content testcase data, Date modified: language, subsection, format, label
testcase_data SWU_E2.2.6 eng DATE_MODIFIED YYYY-MM-DD Date modified:
testcase_data SWU_E2.2.6 eng DATE_MODIFIED TEXT Version:
testcase_data SWU_E2.2.6 fra DATE_MODIFIED YYYY-MM-DD Date de modification :
testcase_data SWU_E2.2.6 fra DATE_MODIFIED TEXT Version :
testcase_data SWU_E2.2.6 DATE_MODIFIED METADATA dcterms.modified

#
#***********************************************************************
#
# TBS SWU Intranet
#
#***********************************************************************
#
CLF_Check_Profile_eng TBS SWU Intranet
CLF_Check_Profile_fra Intranet SCT NFE

#
# Testcase id
#
tcid SWU_6.1.5
tcid SWU_E2.1
tcid SWU_E2.2.2
tcid SWU_E2.2.3
tcid SWU_E2.2.4
tcid SWU_E2.2.5
tcid SWU_E2.2.6
tcid SWU_E2.2.7
tcid SWU_E2.4
tcid SWU_E2.5
tcid SWU_TEMPLATE

#
#***********************************************************************
#
# Archived on the web markers
#
#***********************************************************************
#
ARCHIVED title         eng ARCHIVED
ARCHIVED title         fra ARCHIV&Eacute;
ARCHIVED dcterms.title eng ARCHIVED
ARCHIVED dcterms.title fra ARCHIV&Eacute;
ARCHIVED description   eng ARCHIVED
ARCHIVED description   fra ARCHIV&Eacute;
ARCHIVED h1_text       eng ARCHIVED
ARCHIVED h1_text       fra ARCHIV&Eacute;
ARCHIVED h2_text       eng Archived Content
ARCHIVED h2_text       fra Information archiv&eacute;e dans le Web
ARCHIVED h2_text       fra Contenu archiv&eacute;
ARCHIVED link_text     eng ARCHIVED
ARCHIVED link_text     fra ARCHIV&Eacute;
ARCHIVED text          eng Information identified as archived on the Web is for reference, research or recordkeeping purposes. It has not been altered or updated after the date of archiving. Web pages that are archived on the Web are not subject to the Government of Canada Web Standards. As per the Communications Policy of the Government of Canada, you can request alternate formats by contacting us

ARCHIVED text          eng Information identified as archived is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available

ARCHIVED text          fra Information identifi&eacute;e comme &eacute;tant archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Elle n'a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis la date de son archivage. Les pages Web qui sont archiv&eacute;es dans le Web ne sont pas assujetties aux normes applicables au Web du gouvernement du Canada. Conform&eacute;ment &agrave; la Politique de communication du gouvernement du Canada vous pouvez la demander sous d'autres formes. Ses coordonn&eacute;es figurent &agrave; la page Contactez-nous

ARCHIVED text          fra L&rsquo;information dont il est indiqu&eacute; qu&rsquo;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et elle n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&#39;information dont il est indiqu&eacute; qu&#39;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&#39;est pas assujettie aux normes Web du gouvernement du Canada et elle n&#39;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&rsquo;information dite archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, Contactez-nous

# Template integrity testcase data, Content pages: subsection list
testcase_data SWU_TEMPLATE CONTENT_PAGE SKIP_LINKS GC_NAV SITE_BANNER CONTENT BREADCRUMB DATE_MODIFIED SITE_FOOTER 

# Template integrity testcase data, Home pages: subsection list
testcase_data SWU_TEMPLATE HOME_PAGE SKIP_LINKS GC_NAV SITE_BANNER CONTENT PRIORITIES DATE_MODIFIED SITE_FOOTER

# Template integrity testcase data, Splash pages: subsection list
testcase_data SWU_TEMPLATE SPLASH_PAGE HEADER SITE_TITLE_LEFT SITE_TITLE_RIGHT SPLASH_LANG_LINKS TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, Server pages: subsection list
testcase_data SWU_TEMPLATE SERVER_PAGE SITE_TITLE_LEFT SERVER_DECORATION TERMS_CONDITIONS_FOOTER

# Template integrity testcase data, skip link href values
testcase_data SWU_TEMPLATE SKIP_LINKS #wb-cont
testcase_data SWU_TEMPLATE SKIP_LINKS #wb-nav

# Header testcase data, GC Nav: language, subsection, language link text
testcase_data SWU_E2.2.4 eng GC_NAV LANGUAGE_LINK Fran&ccedil;ais
testcase_data SWU_E2.2.4 fra GC_NAV LANGUAGE_LINK English

# Header testcase data, Breadcrumb: language, subsection, link text
testcase_data SWU_E2.2.5 eng BREADCRUMB LINK Home
testcase_data SWU_E2.2.5 fra BREADCRUMB LINK Accueil

# Content testcase data, Date modified: language, subsection, format, label
testcase_data SWU_E2.2.6 eng DATE_MODIFIED YYYY-MM-DD Date modified:
testcase_data SWU_E2.2.6 eng DATE_MODIFIED TEXT Version:
testcase_data SWU_E2.2.6 fra DATE_MODIFIED YYYY-MM-DD Date de modification :
testcase_data SWU_E2.2.6 fra DATE_MODIFIED TEXT Version :
testcase_data SWU_E2.2.6 DATE_MODIFIED METADATA dcterms.modified

#
#***********************************************************************
#
# Common Look and Feel 2.0
#
#***********************************************************************
#
CLF_Check_Profile_eng CLF 2.0
CLF_Check_Profile_fra NSI 2.0

#
# Testcase id
#
tcid TBS_P1_R2
tcid TBS_P2_R1_13.1
tcid TBS_P2_R2
tcid TBS_P3_R2.4
tcid TBS_P3_R5
tcid TBS_P3_R10
tcid TBS_P3_R13.3
tcid TBS_P3_R13.4
tcid TP_PW_ARCHIVE
tcid CLF2.0_TEMPLATE
tcid TP_PW_MAILTO
tcid TP_PW_SSI

#
#***********************************************************************
#
# Testcase specific data settings
#
#***********************************************************************
#

# Template integrity testcase data, subsection list
testcase_data CLF2.0_TEMPLATE BREADCRUMB COMMON_MENU CONTENT FOOTER


#
#***********************************************************************
#
# Archived on the web markers
#
#***********************************************************************
#
ARCHIVED title        eng ARCHIVED
ARCHIVED title        fra ARCHIV&Eacute;
ARCHIVED dc.title     eng ARCHIVED
ARCHIVED dc.title     fra ARCHIV&Eacute;
ARCHIVED description  eng ARCHIVED
ARCHIVED description  fra ARCHIV&Eacute;
ARCHIVED h1_text      eng ARCHIVED
ARCHIVED h1_text      fra ARCHIV&Eacute;
ARCHIVED h2_text      eng Archived Content
ARCHIVED h2_text      fra Information archiv&eacute;e dans le Web
ARCHIVED h2_text      fra Contenu archiv&eacute;
ARCHIVED link_text    eng ARCHIVED
ARCHIVED link_text    fra ARCHIV&Eacute;
ARCHIVED text         eng Information identified as archived on the Web is for reference, research or recordkeeping purposes. It has not been altered or updated after the date of archiving. Web pages that are archived on the Web are not subject to the Government of Canada Web Standards. As per the Communications Policy of the Government of Canada, you can request alternate formats by contacting us

ARCHIVED text         eng Information identified as archived is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available

ARCHIVED text         fra Information identifi&eacute;e comme &eacute;tant archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Elle n'a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis la date de son archivage. Les pages Web qui sont archiv&eacute;es dans le Web ne sont pas assujetties aux normes applicables au Web du gouvernement du Canada. Conform&eacute;ment &agrave; la Politique de communication du gouvernement du Canada vous pouvez la demander sous d'autres formes. Ses coordonn&eacute;es figurent &agrave; la page Contactez-nous

ARCHIVED text         fra L&rsquo;information dont il est indiqu&eacute; qu&rsquo;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et elle n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&#39;information dont il est indiqu&eacute; qu&#39;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&#39;est pas assujettie aux normes Web du gouvernement du Canada et elle n&#39;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&rsquo;information dite archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, Contactez-nous

#
#***********************************************************************
#
# Empty Common Look and Feel Profile
#
#***********************************************************************
#
CLF_Check_Profile_eng None
CLF_Check_Profile_fra Aucun

#
#***********************************************************************
#
# Archived on the web markers
#
#***********************************************************************
#
ARCHIVED title         eng ARCHIVED
ARCHIVED title         fra ARCHIV&Eacute;
ARCHIVED dcterms.title eng ARCHIVED
ARCHIVED dcterms.title fra ARCHIV&Eacute;
ARCHIVED description   eng ARCHIVED
ARCHIVED description   fra ARCHIV&Eacute;
ARCHIVED h1_text       eng ARCHIVED
ARCHIVED h1_text       fra ARCHIV&Eacute;
ARCHIVED h2_text       eng Archived Content
ARCHIVED h2_text       fra Information archiv&eacute;e dans le Web
ARCHIVED h2_text       fra Contenu archiv&eacute;
ARCHIVED link_text     eng ARCHIVED
ARCHIVED link_text     fra ARCHIV&Eacute;
ARCHIVED text          eng Information identified as archived on the Web is for reference, research or recordkeeping purposes. It has not been altered or updated after the date of archiving. Web pages that are archived on the Web are not subject to the Government of Canada Web Standards. As per the Communications Policy of the Government of Canada, you can request alternate formats by contacting us

ARCHIVED text          eng Information identified as archived is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available

ARCHIVED text          fra Information identifi&eacute;e comme &eacute;tant archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Elle n'a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis la date de son archivage. Les pages Web qui sont archiv&eacute;es dans le Web ne sont pas assujetties aux normes applicables au Web du gouvernement du Canada. Conform&eacute;ment &agrave; la Politique de communication du gouvernement du Canada vous pouvez la demander sous d'autres formes. Ses coordonn&eacute;es figurent &agrave; la page Contactez-nous

ARCHIVED text          fra L&rsquo;information dont il est indiqu&eacute; qu&rsquo;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et elle n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra L&#39;information dont il est indiqu&eacute; qu&#39;elle est archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&#39;est pas assujettie aux normes Web du gouvernement du Canada et elle n&#39;a pas &eacute;t&eacute; modifi&eacute;e ou mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous

ARCHIVED text          fra Information archiv&eacute;e dans le Web &agrave; des fins de consultation, de recherche ou de tenue de documents. Cette derni&egrave;re n’a aucunement &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis sa date de mise en archive. Les pages archiv&eacute;es dans le Web ne sont pas assujetties aux normes qui s’appliquent aux sites Web du gouvernement du Canada. Conform&eacute;ment &agrave; la Politique de communication du gouvernement du Canada, vous pouvez obtenir cette information dans un autre format en communiquant avec nous

ARCHIVED text          fra L&rsquo;information dite archiv&eacute;e est fournie &agrave; des fins de r&eacute;f&eacute;rence, de recherche ou de tenue de documents. Elle n&rsquo;est pas assujettie aux normes Web du gouvernement du Canada et n&rsquo;a pas &eacute;t&eacute; modifi&eacute;e ni mise &agrave; jour depuis son archivage. Pour obtenir cette information dans un autre format, Contactez-nous

