#***********************************************************************
#
# Name:   so_pdf_check.config
#
# $Revision: 4860 $
# $URL: svn://10.36.20.226/trunk/Web_Checks/PDF_Check/Tools/so_pdf_check.config $
# $Date: 2010-09-30 16:07:49 -0400 (Thu, 30 Sep 2010) $
#
# Description:
#   This file contains the configuration parameters for the 
# PDF Files check program. The parameters appear as name/value pairs
# with the name at the beginning of the line.  The value cannot
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# PWGSC PDF Properties profile
#
#***********************************************************************
#
Property_Profile_eng PWGSC
Property_Profile_fra TPSGC

required_property Title
#required_property ModDate
#required_property Creator
#required_property Author
#required_property CreationDate

content_required Title
#content_required ModDate
#content_required Creator
#content_required Author
#content_required CreationDate

#
#***********************************************************************
#
# Empty PDF Properties Profile
#
#***********************************************************************
#
Property_Profile_eng None
Property_Profile_fra Aucun


