#***********************************************************************
#
# Name:   so_pdf_check.config
#
# $Revision: 7061 $
# $URL: svn://10.36.21.45/trunk/Web_Checks/PDF_Check/Tools/so_pdf_check.config $
# $Date: 2015-04-02 11:27:32 -0400 (Thu, 02 Apr 2015) $
#
# Description:
#   This file contains the configuration parameters for the 
# PDF Files check program. The parameters appear as name/value pairs
# with the name at the beginning of the line.  The value cannot
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#
#***********************************************************************
#
# Common PDF Properties profile
#
#***********************************************************************
#
Property_Profile_eng Common
Property_Profile_fra Commun

required_property Title

content_required Title

#
#***********************************************************************
#
# Empty PDF Properties Profile
#
#***********************************************************************
#
Property_Profile_eng None
Property_Profile_fra Aucun


