#***********************************************************************
#
# Name:   open_data_testcase_url.config
#
# $Revision: 1772 $
# $URL: svn://10.36.148.185/WPSS_Tool/Open_Data/Tools/open_data_testcase_url.config $
# $Date: 2020-04-07 10:15:41 -0400 (Tue, 07 Apr 2020) $
#
# Description:
#
#   This file contains a URL for each testcase.  The URL is
# the help or description page for the testcase.
#
# Format is
#  <testcase> <lang> <url>
#
#***********************************************************************

#
# Open Data dataset checkpoints
#
OD_DATA  eng https://open.canada.ca/en/open-data-principles
OD_DATA  fra https://ouvert.canada.ca/fr/principes-de-donnees-ouvertes
OD_ENC   eng https://masource-mysource.spac-pspc.gc.ca/eng/or-tr/communications/web/ldw-wg/do-od/Pages/fdcsv-dfcsv.aspx#utf8encoding
OD_ENC   fra https://masource-mysource.spac-pspc.gc.ca/fra/or-tr/communications/web/ldw-wg/do-od/Pages/fdcsv-dfcsv.aspx#utf8encoding
OD_REG   eng https://open.canada.ca/en/open-data-principles
OD_REG   fra https://ouvert.canada.ca/fr/principes-de-donnees-ouvertes
OD_URL   eng https://open.canada.ca/en/open-data-principles
OD_URL   fra https://ouvert.canada.ca/fr/principes-de-donnees-ouvertes
OD_VAL   eng https://open.canada.ca/en/open-data-principles
OD_VAL   fra https://ouvert.canada.ca/fr/principes-de-donnees-ouvertes

#
# Public Works Open Data testcases
#
TP_PW_OD_BOM       eng https://masource-mysource.spac-pspc.gc.ca/eng/or-tr/communications/web/ldw-wg/do-od/Pages/fdcsv-dfcsv.aspx#utf8encoding
TP_PW_OD_BOM       fra https://masource-mysource.spac-pspc.gc.ca/fra/or-tr/communications/web/ldw-wg/do-od/Pages/fdcsv-dfcsv.aspx#utf8encoding
TP_PW_OD_CONT      eng https://masource-mysource.spac-pspc.gc.ca/eng/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-02.aspx
TP_PW_OD_CONT      fra https://masource-mysource.spac-pspc.gc.ca/fra/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-02.aspx
TP_PW_OD_CONT_COL_CONSISTENCY eng https://masource-mysource.spac-pspc.gc.ca/eng/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-02.aspx
TP_PW_OD_CONT_COL_CONSISTENCY fra https://masource-mysource.spac-pspc.gc.ca/fra/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-02.aspx
TP_PW_OD_CONT_CONSISTENCY  eng https://masource-mysource.spac-pspc.gc.ca/eng/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-02.aspx
TP_PW_OD_CONT_CONSISTENCY  fra https://masource-mysource.spac-pspc.gc.ca/fra/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-02.aspx
TP_PW_OD_CONT_DUP  eng https://masource-mysource.spac-pspc.gc.ca/eng/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-02.aspx
TP_PW_OD_CONT_DUP  fra https://masource-mysource.spac-pspc.gc.ca/fra/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-02.aspx
TP_PW_OD_DATA      eng https://masource-mysource.spac-pspc.gc.ca/eng/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-02.aspx
TP_PW_OD_DATA      fra https://masource-mysource.spac-pspc.gc.ca/fra/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-02.aspx
TP_PW_OD_DD        eng https://masource-mysource.spac-pspc.gc.ca/eng/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-03.aspx
TP_PW_OD_DD        fra https://masource-mysource.spac-pspc.gc.ca/fra/or-tr/communications/web/ldw-wg/do-od/Pages/ldtdo-odtg-03.aspx

