#***********************************************************************
#
# Name:   open_data_testcase_url.config
#
# $Revision: 234 $
# $URL: svn://10.36.20.203/Open_Data/Tools/open_data_testcase_url.config $
# $Date: 2017-01-12 13:43:35 -0500 (Thu, 12 Jan 2017) $
#
# Description:
#
#   This file contains a URL for each testcase.  The URL is
# the help or description page for the testcase.
#
# Format is
#  <testcase> <lang> <url>
#
#***********************************************************************

#
# Open Data dataset checkpoints
#
OD_URL   eng http://registry.data.gc.ca/en/guidelines
OD_URL   fra http://registry.data.gc.ca/fr/guidelines
OD_ENC   eng http://intranet.tpsgc-pwgsc.gc.ca/web/w1/ldtdo-odtg-02-eng.html#utf8
OD_ENC   fra http://intranet.tpsgc-pwgsc.gc.ca/web/w1/ldtdo-odtg-02-fra.html#utf8
OD_VAL   eng http://registry.data.gc.ca/en/guidelines
OD_VAL   fra http://registry.data.gc.ca/fr/guidelines
OD_DATA  eng http://registry.data.gc.ca/en/guidelines
OD_DATA  fra http://registry.data.gc.ca/fr/guidelines

#
# Public Works Open Data testcases
#
TP_PW_OD_BOM   eng http://intranet.tpsgc-pwgsc.gc.ca/web/w1/ldtdo-odtg-02-eng.html
TP_PW_OD_BOM   fra http://intranet.tpsgc-pwgsc.gc.ca/web/w1/ldtdo-odtg-02-fra.html
TP_PW_OD_DATA  eng http://source.tpsgc-pwgsc.gc.ca/ti-it/gi-im/do-od-eng.html#a4
TP_PW_OD_DATA  fra http://source.tpsgc-pwgsc.gc.ca/ti-it/gi-im/do-od-eng.html#a4
TP_PW_OD_DD    eng http://intranet.tpsgc-pwgsc.gc.ca/web/w1/ldtdo-odtg-03-eng.html
TP_PW_OD_DD    fra http://intranet.tpsgc-pwgsc.gc.ca/web/w1/ldtdo-odtg-03-fra.html

