#***********************************************************************
#
# Name:   content_testcase_url.config
#
# $Revision: 6303 $
# $URL: svn://10.36.20.226/trunk/Web_Checks/Content_Check/Tools/content_testcase_url.config $
# $Date: 2013-06-25 14:14:21 -0400 (Tue, 25 Jun 2013) $
#
# Description:
#
#   This file contains a URL for each testcase.  The URL is
# the help or description page for the testcase.
#
# Format is
#  <testcase> <lang> <url>
#
#***********************************************************************

CONTENT_URL_LANGUAGE         eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me03-eng.asp#toc10
CONTENT_URL_LANGUAGE         fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me03-fra.asp#toc10
CONTENT_URL_LANGUAGE_WARNING eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me03-eng.asp#toc10
CONTENT_URL_LANGUAGE_WARNING fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me03-fra.asp#toc10
#HTML_PDF_TITLE               eng
#HTML_PDF_TITLE               fra
DUPLICATE_TITLES             eng http://source.tpsgc-pwgsc.gc.ca/comm/web/w1/contweb-eng.html
DUPLICATE_TITLES             fra http://source.tpsgc-pwgsc.gc.ca/comm/web/w1/contweb-fra.html
TITLE_DCTERMS_TITLE_MATCH         eng http://source.tpsgc-pwgsc.gc.ca/comm/web/w2/inter-meta-eng.html
TITLE_DCTERMS_TITLE_MATCH         fra http://source.tpsgc-pwgsc.gc.ca/comm/web/w2/inter-meta-fra.html
TITLE_DC_TITLE_MATCH         eng http://source.tpsgc-pwgsc.gc.ca/comm/web/w2/inter-meta-eng.html
TITLE_DC_TITLE_MATCH         fra http://source.tpsgc-pwgsc.gc.ca/comm/web/w2/inter-meta-fra.html
DUPLICATE_HEADINGS           eng http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-eng.asp#ch3.5
DUPLICATE_HEADINGS           fra http://www.tbs-sct.gc.ca/clf2-nsi2/as-me/as-me04-fra.asp#cr3.5

