#***********************************************************************
#
# Name:   so_content_check.config
#
# $Revision: 7055 $
# $URL: svn://10.36.21.45/trunk/Web_Checks/Content_Check/Tools/so_content_check.config $
# $Date: 2015-04-02 11:14:07 -0400 (Thu, 02 Apr 2015) $
#
# Description:
#   This file contains the configuration parameters for the Content
# Check module. The parameters appear as name/value pairs 
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#***********************************************************************
#
# Markers for various Web page sections and sub section.  The markers
# may be CSS classes, tag ID values, Roles (HTML5) or HTML data.
#
# Sections are NAVIGATION and CONTENT
#
#  NAVIGATION sub sections
#      GC_NAV - GC navigation bar
#      SITE_BANNER - Site banner
#      SITE_NAV - Site navigation
#      BREADCRUMB - Breadcrumb
#      SITE_FOOTER - Site footer
#      GC_FOOTER - GC footer
#      COMMON_MENU - Common Menu Bar (CLF 2.0 layout)
#      LEFT_NAV - Left hand navigation (CLF 2.0 layout)
#      
#  CONTENT sub sections
#      CONTENT - Content area
#      DATE_MODIFIED - Date modified area
#      LEFT_NAV - Left hand navigation (Web Usability layout)
#      RIGHT_NAV - Right hand navigation (CLF 2.0 layout)
#
#
# Markers are defined as
#   SECTION SUB-SECTION <marker>
#
#    <marker> is the case sensitive value for the type, it must 
#             match the entire id value.
#
# CONTENT_SECTION_START - start of content section portion of this
#                         configuration file.
#
# CONTENT_SECTION_END - end of content section portion of this
#                       configuration file.
#
#***********************************************************************

CONTENT_SECTION_START

#
# Canada.ca template values - Content pages
#
NAVIGATION SKIP_LINKS  wb-slc
NAVIGATION SITE_NAV    gcweb-menu
NAVIGATION BREADCRUMB  wb-bc
NAVIGATION SITE_FOOTER wb-info
NAVIGATION LEFT_NAV    wb-sec

CONTENT CONTENT        mainContentOfPage
CONTENT CONTENT        main
CONTENT CONTENT        body
CONTENT DATE_MODIFIED  wb-dtmd
CONTENT LEFT_NAV       wb-sec

#
# PSPC Internet template values - Content pages
#
NAVIGATION SKIP_LINKS  wb-slc
NAVIGATION GC_NAV      wb-bar
NAVIGATION SITE_BANNER wb-sttl
NAVIGATION SITE_NAV    wb-sm
NAVIGATION BREADCRUMB  wb-bc
NAVIGATION SITE_FOOTER wb-info
NAVIGATION TERMS_CONDITIONS_FOOTER      gc-tctr
NAVIGATION GC_FOOTER   gc-info
NAVIGATION LEFT_NAV    wb-sec

CONTENT CONTENT        mainContentOfPage
CONTENT CONTENT        main
CONTENT CONTENT        body
CONTENT DATE_MODIFIED  wb-dtmd
CONTENT LEFT_NAV       wb-sec

#
# PSPC GC-Internet template values - Content pages
#
NAVIGATION SKIP_LINKS  wb-slc
NAVIGATION GC_NAV      wb-bar
NAVIGATION SITE_NAV    wb-sm
NAVIGATION BREADCRUMB  wb-bc
NAVIGATION SITE_FOOTER wb-info
NAVIGATION TERMS_CONDITIONS_FOOTER      gc-tctr
NAVIGATION GC_FOOTER   gc-info
NAVIGATION LEFT_NAV    wb-sec

CONTENT CONTENT        mainContentOfPage
CONTENT CONTENT        main
CONTENT CONTENT        body
CONTENT DATE_MODIFIED  wb-dtmd
CONTENT LEFT_NAV       wb-sec


#
# PSPC Intranet template values - Content pages
#
NAVIGATION SKIP_LINKS  wb-slc
NAVIGATION GC_NAV      wb-bar
NAVIGATION SITE_NAV    wb-sm
NAVIGATION BREADCRUMB  wb-bc
NAVIGATION SITE_FOOTER wb-info
NAVIGATION TERMS_CONDITIONS_FOOTER      gc-tctr
NAVIGATION GC_FOOTER   gc-info
NAVIGATION LEFT_NAV    wb-sec

CONTENT CONTENT        mainContentOfPage
CONTENT CONTENT        main
CONTENT CONTENT        body
CONTENT DATE_MODIFIED  wb-dtmd
CONTENT LEFT_NAV       wb-sec

CONTENT_SECTION_END


