#***********************************************************************
#
# Name:   so_content_check.config
#
# $Revision: 6185 $
# $URL: svn://10.36.20.226/trunk/Web_Checks/Content_Check/Tools/so_content_check.config $
# $Date: 2013-02-20 14:09:48 -0500 (Wed, 20 Feb 2013) $
#
# Description:
#   This file contains the configuration parameters for the Content
# Check module. The parameters appear as name/value pairs 
# with the name at the beginning of the line.  The value cannot 
# contain and white space characters (space or tab).
#
# Comment (lines starting with #) and blank lines are ignored.
#
#***********************************************************************

#***********************************************************************
#
# Markers for various Web page sections and sub section.  The markers
# may be CSS classes, tag ID values or Roles (HTML5).
#
# Sections are NAVIGATION and CONTENT
#
#  NAVIGATION sub sections
#      GC_NAV - GC navigation bar
#      SITE_BANNER - Site banner
#      SITE_NAV - Site navigation
#      BREADCRUMB - Breadcrumb
#      SITE_FOOTER - Site footer
#      GC_FOOTER - GC footer
#      COMMON_MENU - Common Menu Bar (CLF 2.0 layout)
#      LEFT_NAV - Left hand navigation (CLF 2.0 layout)
#      
#  CONTENT sub sections
#      CONTENT - Content area
#      DATE_MODIFIED - Date modified area
#      LEFT_NAV - Left hand navigation (Web Usability layout)
#      RIGHT_NAV - Right hand navigation (CLF 2.0 layout)
#
#
# Markers are defined as
#   SECTION SUB-SECTION <marker>
#
#    <marker> is the case sensitive value for the type, it must 
#             match the entire id value.
#
# CONTENT_SECTION_START - start of content section portion of this
#                         configuration file.
#
# CONTENT_SECTION_END - end of content section portion of this
#                       configuration file.
#
#***********************************************************************

CONTENT_SECTION_START

#
# WET 3.0 templates
#
# GC Web Usability Theme template values - Content pages
#
NAVIGATION SKIP_LINKS  wb-skip
NAVIGATION HEADER      wb-head
NAVIGATION GC_NAV      gcwu-gcnb
NAVIGATION SITE_BANNER gcwu-bnr
NAVIGATION SUBSITE_BANNER gcwu-subsite
NAVIGATION SITE_NAV    gcwu-psnb
NAVIGATION BREADCRUMB  gcwu-bc
NAVIGATION SITE_FOOTER gcwu-sft
NAVIGATION TERMS_CONDITIONS_FOOTER      gcwu-tctr
NAVIGATION GC_FOOTER   gcwu-gcft
NAVIGATION LEFT_NAV    wb-sec-def

CONTENT CONTENT        wb-core
CONTENT DATE_MODIFIED  gcwu-date-mod
CONTENT LEFT_NAV       wb-sec
CONTENT PRIORITIES     gcwu-priorities

#
# Splash pages
#
CONTENT    SITE_TITLE_LEFT    gcwu-title-left
CONTENT    SITE_TITLE_RIGHT   gcwu-title-right
CONTENT    SPLASH_LANG_LINKS  gcwu-lang
NAVIGATION TERMS_CONDITIONS_FOOTER      gcwu-tc

#
# Server message pages
#
#CONTENT    SITE_TITLE_LEFT    gcwu-title-left
#CONTENT    SITE_TITLE_RIGHT   gcwu-title-right
CONTENT    SERVER_DECORATION   gcwu-bar
#NAVIGATION TERMS_CONDITIONS_FOOTER      gcwu-tc

#
# WET 2.3 templates
#
# GC Web Usability Theme template values - Content pages
#
NAVIGATION SKIP_LINKS  cn-skip-head
NAVIGATION HEADER      cn-head
NAVIGATION GC_NAV      cn-gcnb
NAVIGATION SITE_BANNER cn-banner
NAVIGATION SITE_NAV    cn-psnb
NAVIGATION BREADCRUMB  cn-bc
NAVIGATION SITE_FOOTER cn-sft
NAVIGATION TERMS_CONDITIONS_FOOTER      cn-ft-tctr
NAVIGATION GC_FOOTER   cn-gcft
NAVIGATION LEFT_NAV    cn-left-col-default

CONTENT CONTENT        cn-cols
CONTENT DATE_MODIFIED  cn-doc-dates
CONTENT LEFT_NAV       cn-left-col
CONTENT PRIORITIES     cn-gc-priorities

#
# Splash pages
#
CONTENT    SITE_TITLE_LEFT    cn-site-title-left
CONTENT    SITE_TITLE_RIGHT   cn-site-title-right
CONTENT    SPLASH_LANG_LINKS  cn-lang-links
NAVIGATION TERMS_CONDITIONS_FOOTER      cn-tc

#
# Server message pages
#
#CONTENT    SITE_TITLE_LEFT    cn-site-title_left
#CONTENT    SITE_TITLE_RIGHT   cn-site-title_right
CONTENT    SERVER_DECORATION   cn-decoration-bar
#NAVIGATION TERMS_CONDITIONS_FOOTER      cn-tc

#
# PWGSC CLF 2.0 template values
#
NAVIGATION COMMON_MENU commonbar
NAVIGATION COMMON_MENU cn-cmb
NAVIGATION COMMON_MENU clfTopNav
NAVIGATION BREADCRUMB  breadcrumb
NAVIGATION BREADCRUMB  breadcrumbs
NAVIGATION BREADCRUMB  cn-bcrumb
#NAVIGATION BREADCRUMB  cn-bc # already specified in the GC theme above
NAVIGATION LEFT_NAV    cn-nav
NAVIGATION LEFT_NAV    LeftNav
NAVIGATION LEFT_NAV    sideNav
NAVIGATION LEFT_NAV    left
NAVIGATION FOOTER      footer
#NAVIGATION FOOTER      cn-foot # creates a conflict with the GC Web Usability theme.

CONTENT CONTENT   center
CONTENT CONTENT   cn-center-col
#CONTENT CONTENT   cn-cols # already specified in the GC theme above
CONTENT CONTENT   columnTwo
CONTENT RIGHT_NAV RightNav
CONTENT RIGHT_NAV right

CONTENT_SECTION_END


